@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{

    

    <script src="~/Areas/Garments/Client/app/config.garmentsRoute.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/services/garmentsDataService.js?v=3"></script>
    
    
    
    <script src="~/Areas/Garments/Client/app/controllers/gmtReportController.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtSwMcnSpecController.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtSewingOutputController.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtSewingOutputDefectRejectModalController.js?v=3"></script>  
    <script src="~/Areas/Garments/Client/app/controllers/gmtWashSentContrller.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtWashRecvContrller.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtWashDelChallanSearchModalController.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtFinIronContrller.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtFinPolyContrller.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtFinFoldContrller.js?v=3"></script>
    

    <script src="~/Areas/Garments/Client/app/controllers/gmtScInShipLeftOverContrller.js?v=3"></script>

    <script src="~/Areas/Garments/Client/app/controllers/gmtAsSampleRecvContrller.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtAsSampleSearchModalController.js?v=3"></script>
    <script src="~/Areas/Garments/Client/app/controllers/gmtAsSampleSentContrller.js?v=3"></script>


    @*========== Other Module's Service ==========*@
    

    @*========== Other Module's Controller ==========*@
    

}
