<style>
    #MyGridID .k-grouping-row p {
        color: #0b0fb9;
        background-color: lightgoldenrodyellow;
    }

    #MyGridID .k-grid-header .k-header {
        background-color: #5e738b;
    }
</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Dyeing Finishing</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <input ng-model="vm.form.CREATED_BY" type="hidden"
               data-ng-init="vm.form.CREATED_BY='@Session["multiScUserId"]'" />

        <input id="access_token" ng-model="vm.form.LAST_UPDATED_BY" type="hidden"
               ng-init="vm.form.LAST_UPDATED_BY='@Session["multiScUserId"]'" />
        
        <fieldset class="custom-fieldset">
            <legend class="custom-legend"><b>Search</b></legend>
            <div>
                <div>
                    <table class="clsTable">
                        <tbody class="clsthead">
                            <tr class="clstd">
                               
                                <td class="clstd">
                                    <b>Buyer A/C</b>
                                </td>

                                <td class="clstd">

                                    <b>Style #</b>
                                </td>
                                <td class="clstd">

                                    <b>Order #</b>
                                </td>
                                <td class="clstd">
                                    <b>Shipment Month</b>
                                </td>
                                <td class="clstd">
                                    <b>Type</b>
                                </td>
                                <td class="clstd">

                                    <b>Action</b>
                                </td>
                            </tr>
                            <tr class="clstd">
                               
                                <td class="clstd">
                                    <select kendo-drop-down-list name="MC_BYR_ACC_GRP_ID" class="form-control"
                                            k-options="vm.buyerAcGrpList" id="MC_BYR_ACC_GRP_ID" ng-model="vm.form.MC_BYR_ACC_GRP_ID" required></select>

                                </td>


                                <td class="clstd">
                                    <select class="form-control" kendo-drop-down-list name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Style --'"
                                            k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                            k-template="template" k-value-template="valueTemplate"
                                            k-auto-bind="'true'" k-data-source="vm.StyleExtDs" ng-model="vm.form.MC_FAB_PROD_ORD_H_ID"
                                            @*k-on-change="onFabOrderChange(kendoEvent)"*@></select>

                                </td>
                                <td class="clstd">
                                    <select class="form-control" kendo-drop-down-list name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Order# --'"
                                            k-data-text-field="'ORDER_NO_LST'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                            k-template="templateOh" k-value-template="valueTemplateOh"
                                            k-auto-bind="'true'" k-data-source="vm.FabOederByOhDs" ng-model="vm.form.MC_FAB_PROD_ORD_H_ID"
                                            required style="width:100%;"></select>

                                </td>
                                <td class="clstd">
                                    <select class="form-control" kendo-drop-down-list name="MONTHOF" k-option-label="'-- Select Month --'"
                                            k-data-text-field="'MONTHOF'" k-data-value-field="'MONTHOF'" k-filter="'contains'"
                                            k-auto-bind="'true'" k-data-source="vm.shipMonthList" k-ng-delay="vm.shipMonthList" ng-model="vm.form.MONTHOF"
                                            k-on-change="vm.onChangeShipMonth(kendoEvent)"></select>
                                </td>
                                <td class="clstd">
                                    <select kendo-drop-down-list name="RF_FAB_PROD_CAT_ID" id="RF_FAB_PROD_CAT_ID" class="form-control"
                                            options="vm.productionTypeList" ng-model="vm.form.RF_FAB_PROD_CAT_ID"></select>

                                </td>
                                <td class="clstd">
                                    <button class="btn btn-sm blue" ng-click="vm.SearchPendingSubLot();"><i class='fa fa-search'></i> Show</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>



            </div>
        </fieldset>


        <fieldset class="custom-fieldset">
            <legend class="custom-legend"><b>Batch Lot Data</b></legend>


            <div kendo-grid k-options="vm.gridOptions" style="border-color:black;" k-data-source="vm.QcRollLotList" id="MyGridID"></div>

            <div style="padding:3px;">
            </div>
            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Master Data</b></legend>
                <div class="row">
                    <div class="form-group">

                        <div class="col-md-1"></div>
                        <label class="control-label col-md-2">
                            <span aria-required="true" class="required">*</span>
                            Date of Transfer
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control required" ng-click="RECEIVE_DT_LNopen($event)" ng-focus="RECEIVE_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                   name="RECEIVE_DT" max-date="vm.today" ng-model="vm.form.RECEIVE_DT" is-open="RECEIVE_DT_LNopened" style="width:60%;"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                        </div>
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-2">
                            <span aria-required="true" class="required">*</span>
                            Transfer To
                        </label>
                        <div class="col-md-3">

                            <select kendo-drop-down-list name="SCM_STORE_ID" class="form-control"
                                    k-options="vm.reqSourceMainList" id="SCM_STORE_ID" ng-model="vm.form.SCM_STORE_ID" required></select>
                        </div>

                    </div>
                </div>

                <div style="padding:3px;">
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <label class="control-label col-md-2">
                            <span aria-required="true" class="required"></span>
                            Also Transfer To
                        </label>
                        <div class="col-md-3">

                            <select kendo-drop-down-list name="NEXT_SCM_STORE_ID" class="form-control"
                                    k-options="vm.reqSourceList" id="NEXT_SCM_STORE_ID" ng-model="vm.form.NEXT_SCM_STORE_ID" required></select>

                        </div>
                        @*<div class="col-md-1"></div>*@
                        <label class="control-label col-md-2">
                            <span aria-required="true" class="required">*</span>
                            Authorized By
                        </label>
                        <div class="col-md-3">
                            <input type="text" name="STYLE_NO" ng-model="vm.form.STYLE_NO" readonly="readonly" class="form-control" />

                            <input type="hidden" name="MC_STYLE_H_ID" ng-model="vm.form.MC_STYLE_H_ID" />
                        </div>

                    </div>
                </div>
            </fieldset>
            <div style="padding:3px;">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="button" class="btn btn-sm blue" ng-click="vm.submitAll(vm.form);"><i class="fa fa-send"></i> Send</button>
                    <button type="button" class="btn btn-sm default" ng-click="vm.reset();"><i class="fa fa-refresh"></i> Back</button>
                </div>
            </div>
        </fieldset>


    </div>
</div>
