<style>
    .hideMaster {
        display: none;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Dyeing</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="caption">
            &ensp;({{vm.form.REQ_TYPE_NAME}})
        </div>
    </div>


    <div class="portlet-body form">
        <form name="formData" class="form-horizontal" style="background-color: white;">
            <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
                <div class="page-splash">
                    <div class="page-splash-message">
                        <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                    </div>
                </div>
            </div>

            <div class="form-body clearfix">
                <div class="form-group">
                    <label for="collapseMaster" style="padding-left:20px;">Collapse &nbsp;&nbsp; </label><input type="checkbox" id="collapseMaster" ng-model="collapseMaster" ng-init="collapseMaster=false" title="collapse" value="Collapse" />
                    <div ng-class="{'hideMaster': collapseMaster==true,'col-md-5':collapseMaster==false}" style="padding-right:0px;">
                        <fieldset class="custom-fieldset" ng-hide="collepsMaster">
                            <legend class="custom-legend"><b>Master Data</b></legend>
                            <div><label id="lblMsg"></label></div>

                            <div class="form-group">

                                <label class="control-label col-md-2 ">
                                    <span aria-required="true" class="required">*</span>
                                    Req No
                                </label>
                                <div class="col-md-4">

                                    <input type="text" name="STR_REQ_NO" placeholder="[Auto Gen]" ng-model="vm.form.STR_REQ_NO" readonly="readonly" class="form-control" />
                                    <input type="hidden" name="DYE_STR_REQ_H_ID" ng-model="vm.form.DYE_STR_REQ_H_ID" />
                                    <input type="hidden" name="DYE_RE_PROC_TYPE_ID" ng-model="vm.form.DYE_RE_PROC_TYPE_ID" />
                                </div>

                                <label class="control-label col-md-2" style="padding:0px;">
                                    <span aria-required="true" class="required">*</span>
                                    Req Date
                                </label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control required" ng-click="STR_REQ_DT_LNopen($event)" ng-focus="STR_REQ_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                           name="STR_REQ_DT" max-date="vm.today" ng-model="vm.form.STR_REQ_DT" is-open="STR_REQ_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                           required />
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    M/C No
                                </label>
                                @*<div class="col-md-4" ng-if="vm.form.DYE_RE_PROC_TYPE_ID<=2">
                                        <input type="text" name="DYE_MACHINE_NO" ng-model="vm.form.DYE_MACHINE_NO" readonly="readonly" class="form-control" />
                                        <input type="hidden" name="DYE_MACHINE_ID" ng-model="vm.form.DYE_MACHINE_ID" />
                                    </div>*@
                                <div class="col-md-4" @*ng-if="vm.form.DYE_RE_PROC_TYPE_ID>=3"*@>
                                    <select class="form-control required" kendo-drop-down-list name="DYE_MACHINE_ID" k-option-label="'-- Select Machine --'"
                                            k-data-text-field="'DYE_MACHINE_NO'" k-data-value-field="'DYE_MACHINE_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.machineList" k-ng-delay="vm.machineList" k-filter="'contains'"
                                            ng-model="vm.form.DYE_MACHINE_ID" k-on-change="vm.checkMachineCapacity(kendoEvent);"></select>
                                </div>
                                <label class="control-label col-md-2" style="padding:0px;">
                                    <span aria-required="true" class="required">*</span>
                                    Shift
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="DYE_SHIFT" ng-model="vm.form.DYE_SHIFT" readonly="readonly" class="form-control" />

                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Color
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="COLOR_NAME_EN" ng-model="vm.form.COLOR_NAME_EN" readonly="readonly" class="form-control" />
                                    <input type="hidden" name="MC_COLOR_ID" ng-model="vm.form.MC_COLOR_ID" />

                                </div>
                                <label class="control-label col-md-2" style="padding:0px;">
                                    Color Group
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="COLOR_GRP_NAME_EN" ng-model="vm.form.COLOR_GRP_NAME_EN" readonly="readonly" class="form-control" />

                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Buyer
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="BUYER_NAME_EN" ng-model="vm.form.BUYER_NAME_EN" readonly="readonly" class="form-control" />
                                    <input type="hidden" name="MC_BYR_ACC_GRP_ID" ng-model="vm.form.MC_BYR_ACC_GRP_ID" />

                                </div>
                                <label class="control-label col-md-2" style="padding:0px;">
                                    <span aria-required="true" class="required">*</span>
                                    Style #
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="STYLE_NO" ng-model="vm.form.STYLE_NO" readonly="readonly" class="form-control" />

                                    <input type="hidden" name="MC_STYLE_H_ID" ng-model="vm.form.MC_STYLE_H_ID" />
                                </div>

                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Order #
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="ORDER_NO" ng-model="vm.form.ORDER_NO" readonly="readonly" class="form-control" />

                                </div>
                                <label class="control-label col-md-2" style="padding:0px;">
                                    <span aria-required="true" class="required">*</span>
                                    Lab-dip #
                                </label>
                                <div class="col-md-3">
                                    <input type="text" name="LD_RECIPE_NO" ng-model="vm.form.LD_RECIPE_NO" readonly="readonly" class="form-control requiredSub" />
                                    <input type="hidden" name="MC_LD_RECIPE_H_ID" ng-model="vm.form.MC_LD_RECIPE_H_ID" />

                                </div>
                                <div class="col-md-1">
                                    <a title="Open" ng-click="vm.openLabdipUI()" ng-if="vm.form.LD_RECIPE_NO!=''" class="btn btn-xs green"><i class="fa fa-openid"></i></a>
                                </div>
                            </div>

                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    D Method
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="DYE_MTHD_NAME" ng-model="vm.form.DYE_MTHD_NAME" readonly="readonly" class="form-control" />

                                </div>

                                <label class="control-label col-md-2">
                                   Company
                                </label>
                                <div class="col-md-4">
                                    <select kendo-drop-down-list name="HR_COMPANY_ID" id="HR_COMPANY_ID" class="form-control required"
                                            options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID" tabindex="5" ng-change="vm.loadMachineByCompany();"></select>
                                </div>
                            </div>


                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Store
                                </label>
                                <div class="col-md-10">
                                    <select class="form-control required" kendo-drop-down-list name="SCM_STORE_ID" k-option-label="'-- Select Store --'"
                                            k-data-text-field="'STORE_NAME_EN'" k-data-value-field="'SCM_STORE_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.storeList" k-ng-delay="vm.storeList" k-filter="'contains'"
                                            ng-model="vm.form.SCM_STORE_ID" ng-disabled="pADDITION_FLAG>0"></select>
                                </div>
                                

                            </div>


                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>Template
                                </label>
                                <div class="col-md-10">

                                    <select class="form-control requiredSub" kendo-drop-down-list name="DYE_DOSE_TMPLT_H_ID" id="DYE_DOSE_TMPLT_H_ID" k-option-label="'-- Select Template --'"
                                            k-data-text-field="'DOSE_TMPLT_NAME_EN'" k-data-value-field="'DYE_DOSE_TMPLT_H_ID'" ng-disabled="vm.form.TEMPLATE_ID==1"
                                            k-auto-bind="'true'" k-data-source="vm.dosingTemplateList" k-ng-delay="vm.dosingTemplateList" k-filter="'contains'"
                                            ng-model="vm.form.DYE_DOSE_TMPLT_H_ID" k-on-change="vm.onChangeTemplate(kendoEvent)"></select>

                                </div>
                            </div>
                            <div class="form-group">

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required"></span>Orginal?
                                </label>
                                <div class="col-md-10">

                                    <input type="checkbox" name="WITHOUT_HIS" ng-model="vm.form.WITHOUT_HIS" />

                                </div>
                            </div>

                            <div style="padding:3px;">
                            </div>
                            <div style="padding:3px;">
                            </div>


                            <fieldset class="custom-fieldset" ng-hide="collepsMaster">
                                <legend class="custom-legend"><b>Fabrics Details</b></legend>
                                <div class="form-group" style="margin:auto;">

                                    <div class="form-body clearfix">

                                        <div kendo-grid k-options="vm.gridOptionsFabric" id="IDBatchFabricDS" k-data-source="vm.BatchFabricList"></div>

                                    </div>
                                </div>

                            </fieldset>


                            <div style="padding:3px;">
                            </div>
                            <div style="padding:3px;">
                            </div>
                            <div style="padding:3px;">
                            </div>
                            <div class="form-group" style="margin:auto;">

                                <div class="form-body clearfix">

                                    <table style="width:100%">

                                        <tr>
                                            <td style="border: solid 1px black; width: 20%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                                <b>Barch No</b>
                                            </td>

                                            <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left:5px;">
                                                <b>Qty</b>
                                            </td>

                                            <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                                <b>Action</b>
                                            </td>

                                        </tr>
                                        <tr class="">
                                            <td style="padding:5px;border:solid 1px black;width:15%;">

                                                <select class="form-control requiredSub " kendo-drop-down-list name="DYE_BT_CARD_H_ID" id="DYE_BT_CARD_H_ID" k-option-label="'-- Batch No --'"
                                                        k-data-text-field="'DYE_BATCH_NO'" k-data-value-field="'DYE_BT_CARD_H_ID'"
                                                        k-auto-bind="'true'" k-data-source="vm.batchList" k-ng-delay="vm.batchList" k-filter="'contains'"
                                                        ng-model="vm.formItem.DYE_BT_CARD_H_ID" k-on-change="vm.getBatchDetails(kendoEvent)"></select>
                                            </td>

                                            <td style="padding:5px;border:solid 1px black;width: 10%;">
                                                <input type="text" name="ACT_BATCH_QTY" ng-model="vm.formItem.ACT_BATCH_QTY" class="form-control doubleSub" />
                                            </td>

                                            <td style="padding:5px;border:solid 1px black;width: 10%; text-align:center;">
                                                <button type="button" ng-if="vm.formItem.uid" class="btn btn-sm yellow" ng-click="vm.addToGrid(vm.formItem)">Update to Grid</button>
                                                <button type="button" ng-if="!vm.formItem.uid" class="btn btn-sm green" ng-click="vm.addToGrid(vm.formItem)">Add to Grid</button>
                                            </td>
                                        </tr>
                                    </table>
                                    <div kendo-grid k-options="vm.gridOptionsBatch" id="IDBatchProgramDS" k-data-source="vm.BatchProgramList"></div>

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-3">
                                </div>
                                <label class="control-label col-md-3 ">

                                    <span aria-required="true" class="required">*</span>
                                    Total Weight <b>:</b>

                                </label>
                                <div class="col-md-1" style="padding-right:0px;">
                                    <input type="text" name="ADDL_QTY" ng-model="vm.form.ADDL_QTY" ng-disabled="!vm.form.TOTAL_WEIGHT>0" class="form-control" />

                                </div>
                                <label class="control-label col-md-1 " style="padding-right: 0px; padding-left: 0px; width: 10px;">
                                    +
                                </label>
                                <div class="col-md-3" style="padding-left:5px;" ng-if="vm.form.DYE_RE_PROC_TYPE_ID>=1">
                                    <input type="text" name="TOTAL_WEIGHT" ng-model="vm.form.TOTAL_WEIGHT" style="text-align:right;" class="form-control" readonly ng-change="vm.maxWeightCheck();" />
                                    <input type="hidden" ng-model="vm.form.TOTAL_WEIGHT_OLD" />

                                </div>
                                <div class="col-md-3" style="padding-left:5px;" ng-if="!vm.form.DYE_RE_PROC_TYPE_ID>=1">

                                    <input type="text" name="TOTAL_WEIGHT_1" ng-model="vm.form.TOTAL_WEIGHT" readonly="readonly" style="text-align:right;" class="form-control" />
                                    @*<input type="hidden" ng-model="vm.form.TOTAL_WEIGHT_OLD" />*@

                                </div>
                                <label class="control-label col-md-1" style="padding-left:0px;">
                                    KG
                                </label>
                            </div>

                            <div class="form-group">

                                <div class="col-md-3">
                                </div>
                                <label class="control-label col-md-3 ">

                                    <span aria-required="true" class="required">*</span>
                                    Liquor Ratio 1 <b>:</b>

                                </label>
                                <div class="col-md-1" style="padding-right:0px;">
                                    <input type="text" name="LQR_RATIO" ng-model="vm.form.LQR_RATIO" ng-disabled="!vm.form.TOTAL_WEIGHT>0" ng-change="vm.checkAllGrid();" class="form-control double" />

                                </div>
                                <label class="control-label col-md-1 " style="padding-right: 0px; padding-left: 0px; width: 10px;">
                                    =
                                </label>
                                <div class="col-md-3" style="padding-left:5px;">
                                    <input type="text" name="TOTAL_WATER" ng-model="vm.form.TOTAL_WATER" style="text-align:right;" readonly="readonly" class="form-control" />

                                </div>
                                <label class="control-label col-md-1 " style="padding-left:0px;">
                                    Liter
                                </label>

                            </div>


                            <div class="form-group">

                                <div class="col-md-3">
                                </div>
                                <label class="control-label col-md-3 ">
                                    <span aria-required="true" class="required"></span>
                                    Remarks
                                </label>
                                <div class="col-md-5">
                                    <textarea id="REMARKS" name="REMARKS" ng-model="vm.form.REMARKS" class="form-control"></textarea>
                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-3">
                                </div>
                                <label class="control-label col-md-3 ">
                                    <span aria-required="true" class="required">*</span>
                                    Load Time
                                </label>
                                <div class="col-md-5">

                                    <input kendo-date-time-picker k-ng-model="form.LOAD_TIME" k-max="vm.today" k-options="datePickerOptions" class="form-control" style="width: 100%;" />

                                </div>

                            </div>

                            <div style="padding:3px;">
                            </div>
                            <div class="form-group">

                                <div class="col-md-3">
                                </div>
                                <label class="control-label col-md-3 ">
                                    <span aria-required="true" class="required">*</span>
                                    Unload Time
                                </label>
                                <div class="col-md-5">

                                    <input kendo-date-time-picker k-ng-model="form.UNLOAD_TIME" k-max="vm.today" k-options="datePickerOptions" class="form-control" style="width: 100%;" />

                                </div>
                                <div class="col-md-2">

                                </div>


                            </div>

                        </fieldset>
                    </div>

                    <div ng-class="{'col-md-12': collapseMaster==true,'col-md-7':collapseMaster==false}">

                        <table style="width:100%">
                            <tr ng-repeat="tp in vm.recipeGroupList" k-rebind="vm.recipeGroupList">
                                <td>


                                    <fieldset class="custom-fieldset">
                                        <legend class="custom-legend"><b>{{tp.PRD_PHASE_NAME}}</b></legend>

                                        <table class="clsTableMtex" style="width:100%">
                                            <tr class="clstheadMtex">
                                                <td class="clstdMtex">
                                                    Move SL
                                                </td>
                                                <td class="clstdMtex">SL</td>
                                                <td class="clstdMtex">
                                                    Agent
                                                </td>
                                                <td class="clstdMtex">
                                                    Item Name
                                                </td>
                                                <td class="clstdMtex">
                                                    Dose Qty
                                                </td>
                                                <td class="clstdMtex"></td>
                                                <td class="clstdMtex">
                                                    KG
                                                </td>
                                                <td class="clstdMtex">
                                                    GM
                                                </td>
                                                <td class="clstdMtex">
                                                    MG
                                                </td>
                                                <td class="clstdMtex">
                                                    Total(GM)
                                                </td>
                                                <td class="clstdMtex">
                                                    Sub Stock
                                                </td>
                                                <td class="clstdMtex">
                                                    Central Stock
                                                </td>
                                                @*<td class="clstdMtex">
                                                        Total Stock
                                                    </td>*@
                                                <td class="clstdMtex">
                                                    Action
                                                    @*<a title="Add New" ng-click="vm.addAllNewRecoed(tp.DYE_PRD_PHASE_TYPE_ID,$index)" class="btn btn-xs green"><i class="fa fa-plus">Add New</i></a>*@
                                                </td>
                                            </tr>
                                            <tr class="clstdMtex" k-ng-rebind="vm.recipeItemList" ng-repeat="preItem in vm.recipeItemList" ng-if="preItem.DYE_PRD_PHASE_TYPE_ID==tp.DYE_PRD_PHASE_TYPE_ID">

                                                <td class="clstdMtex" style="width:5%">
                                                    <input type="checkbox" ng-true-value="'X'" ng-false-value="'W'" ng-model="preItem.IS_WAIT" />

                                                    <a title="Up" ng-click="vm.moveArray(preItem,$index-1)" ng-if="preItem.IS_FINALIZED=='N'" class="btn btn-xs green-haze"><i class="fa fa-arrow-up"></i></a>
                                                    <a title="Down" ng-click="vm.moveArray(preItem,$index+1)" ng-if="preItem.IS_FINALIZED=='N'" class="btn btn-xs green-haze"><i class="fa fa-arrow-down"></i></a>

                                                </td>
                                                <td class="clstdMtex" style="width:5%">

                                                    @*<input type="text" ng-model="preItem.SL" ng-bind="preItem.SL={{$index+1}}" k-rebind="preItem.SL={{$index+1}}" style="width: 100%; text-align: right" />*@
                                                    {{$index+1}}

                                                </td>
                                                <td class="clstdMtex" ng-if="preItem.DYE_PRD_PHASE_TYPE_ID==3">

                                                    <select kendo-drop-down-list name="DC_AGENT_ID_{{$index}}" id="DC_AGENT_ID_{{$index}}" class="form-control" style="max-width:300px;"
                                                            k-auto-bind="'true'" options="vm.itemCategoryList" k-ng-delay="vm.itemCategoryList" ng-model="preItem.DC_AGENT_ID"
                                                            ng-class="{'required': preItem.DC_AGENT_ID>0}"
                                                            k-on-change="vm.getItemListByCatID(preItem,$index)" ng-disabled="preItem.IS_FINALIZED=='Y'"></select>

                                                    <input type="hidden" ng-model="preItem.DYE_PRD_PHASE_TYPE_ID" />
                                                    <input type="hidden" ng-model="preItem.DYE_BT_DC_REQ_D2_ID" />
                                                    <input type="hidden" ng-model="preItem.STEP_NO" />


                                                </td>
                                                <td class="clstdMtex" ng-if="preItem.DYE_PRD_PHASE_TYPE_ID!=3">

                                                    <select kendo-drop-down-list name="DC_AGENT_ID_{{$index}}" id="DC_AGENT_ID_{{$index}}" class="form-control" style="max-width:300px;"
                                                            k-auto-bind="'true'" options="vm.chemicalCategoryList" k-ng-delay="vm.chemicalCategoryList" ng-model="preItem.DC_AGENT_ID"
                                                            ng-class="{'required': preItem.DC_AGENT_ID>0}"
                                                            k-on-change="vm.getItemListByCatID(preItem,$index)" ng-disabled="preItem.IS_FINALIZED=='Y'"></select>

                                                    <input type="hidden" ng-model="preItem.DYE_PRD_PHASE_TYPE_ID" />
                                                    <input type="hidden" ng-model="preItem.DYE_BT_DC_REQ_D2_ID" />
                                                    <input type="hidden" ng-model="preItem.STEP_NO" />


                                                </td>
                                                
                                                <td class="clstdMtex" @*ng-init="vm.getItemListByCategory(preItem);"*@>

                                                    <select class="form-control " kendo-drop-down-list name="INV_ITEM_ID-{{$index}}" id="INV_ITEM_ID-{{$index}}" k-option-label="'-- Select Dyes Chemical --'"
                                                            k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'INV_ITEM_ID'" style="max-width:350px;"
                                                            ng-class="{'required': preItem.INV_ITEM_ID>0}"
                                                            k-auto-bind="'true'" k-data-source="preItem.ItemList" k-delay="preItem.ItemList" ng-disabled="preItem.IS_FINALIZED=='Y'"
                                                            k-filter="'contains'" ng-model="preItem.INV_ITEM_ID" k-on-change="vm.getStockQty(preItem)"></select>


                                                </td>
                                                <td class="clstdMtex">
                                                    <input type="text" ng-model="preItem.DOSE_QTY" onkeyup="mykeypress(event,this)" id="DOSE_QTY__{{$index}}" style="width: 100%;
                                                            text-align: right" @*tabindex="{{$index+1}}"*@ ng-keyup="vm.PreItemCalcRecord(preItem,1);" ng-disabled="preItem.IS_FINALIZED=='Y'" />
                                                </td>
                                                <td class="clstdMtex">
                                                    <a href="" ng-click="vm.swapMou(preItem);">{{preItem.MOU_CODE}}</a>
                                                </td>
                                                <td class="clstdMtex">
                                                    <input type="text" ng-model="preItem.RQD_QTY_K" style="width: 100%; text-align: right" ng-keyup="vm.PreItemCalcRecord(preItem,0);" ng-disabled="preItem.IS_FINALIZED=='Y'" />
                                                </td>
                                                <td class="clstdMtex">
                                                    <input type="text" ng-model="preItem.RQD_QTY_G" style="width: 100%; text-align: right" ng-keyup="vm.PreItemCalcRecord(preItem,0);" ng-disabled="preItem.IS_FINALIZED=='Y'" />
                                                </td>
                                                <td class="clstdMtex">
                                                    <input type="text" ng-model="preItem.RQD_QTY_M" style="width: 100%; text-align: right" ng-keyup="vm.PreItemCalcRecord(preItem,0);" ng-disabled="preItem.IS_FINALIZED=='Y'" />
                                                </td>
                                                <td class="clstdMtex" style="text-align:right;">

                                                    <input type="text" ng-model="preItem.RQD_QTY" ng-class="{'double': vm.form.DYE_RE_PROC_TYPE_ID!=2 && preItem.INV_ITEM_ID>0}" class="" style="width:80px;text-align:right;" readonly />
                                                </td>

                                                <td class="clstdMtex" style="text-align:right;">
                                                    {{(preItem.SUB_STK)|number:2}}
                                                </td>
                                                <td class="clstdMtex" style="text-align:right;">
                                                    {{(preItem.CENTRAL_STK)|number:2}}
                                                </td>
                                                <td class="clstdMtex" style="width:80px;">
                                                    <a title="Delete" ng-click="vm.removeExtraRecord(preItem)" ng-if="vm.form.DYE_RE_PROC_TYPE_ID!=2 && preItem.IS_FINALIZED=='N'" class="btn btn-xs red"><i class="fa fa-remove"></i></a>

                                                    <a title="Up" ng-click="vm.addAllNewRecoed(tp.DYE_PRD_PHASE_TYPE_ID,$index-1)" ng-if="preItem.IS_FINALIZED=='N'" class="btn btn-xs green"><i class="fa fa-level-up"></i></a>
                                                    <a title="Down" ng-click="vm.addAllNewRecoed(tp.DYE_PRD_PHASE_TYPE_ID,$index)" ng-if="preItem.IS_FINALIZED=='N'" class="btn btn-xs green"><i class="fa fa-level-down"></i></a>
                                                </td>

                                            </tr>
                                        </table>


                                    </fieldset>

                                </td>
                            </tr>
                        </table>

                    </div>

                    <div style="padding:3px;">
                    </div>

                </div>

                <div style="padding:3px;">
                </div>
                <fieldset class="custom-fieldset">
                    <div class="form-group">
                        <div class="col-md-4">
                            <button type="button" class="btn btn-sm blue" ui-sref="DCBatchProgramRequisitionList">Back To List</button>
                            <button type="button" ng-if="vm.form.DYE_STR_REQ_H_ID>0 && !vm.ACTION_DIS>0 && !vm.REPROCESS_FLAG>0" class="btn btn-sm yellow-gold" ng-disabled="!vm.form.RF_ACTN_STATUS_ID>0" ng-click="vm.submitAll(vm.form);">Submit</button>
                            <button type="button" ng-if="!vm.form.DYE_STR_REQ_H_ID>0 || vm.REPROCESS_FLAG>0" class="btn btn-sm green" ng-disabled="!vm.form.RF_ACTN_STATUS_ID>0" ng-click="vm.saveAll(vm.form);">Save</button>
                            <button type="button" ng-if="vm.form.DYE_STR_REQ_H_ID>0 && !vm.REPROCESS_FLAG>0" class="btn btn-sm green" ng-disabled="(vm.form.RF_ACTN_STATUS_ID>0 || vm.form.DYE_RE_PROC_TYPE_ID>2) ? false : true" ng-click="vm.updateAll(vm.form);">Update</button>

                            <button type="button" class="btn btn-sm default" ui-sref="DCBatchProgramRequisition({pDYE_STR_REQ_H_ID : 0})" ui-sref-opts="{inherit: false, reload: true}">Cancel</button>
                            @*<button type="button" class="btn btn-sm default" ng-click="vm.printBatchCard(vm.form)">Cancel</button>*@
                            <a ng-click='vm.printBatchCard(vm.form)' ng-if='vm.form.DYE_STR_REQ_H_ID>0 && !vm.form.RF_ACTN_STATUS_ID>0' class='btn btn-sm blue'><i class='fa fa-print'>Print</i></a>
                            <a ng-click='vm.printBatchCardDraft(vm.form)' ng-if='vm.form.DYE_STR_REQ_H_ID>0 && vm.form.RF_ACTN_STATUS_ID>0' class='btn btn-sm blue'><i class='fa fa-print'>Print</i></a>
                        </div>
                        <label class="control-label col-md-2" style="padding:0px;">
                            <span aria-required="true" class="required">*</span>
                            Take Action
                        </label>
                        <div class="col-md-2" ng-if="vm.form.RF_ACTN_VIEW>0">
                            <select kendo-drop-down-list name="RF_ACTN_STATUS_ID" id="RF_ACTN_STATUS_ID" class="form-control" ng-class="{'required': vm.form.DYE_RE_PROC_TYPE_ID<2}"
                                    options="vm.statusList" ng-model="vm.form.RF_ACTN_STATUS_ID" required></select>
                        </div>

                        <div class="col-md-2" ng-if="!vm.form.RF_ACTN_VIEW>0">

                            <input type="text" ng-model="vm.form.ACTN_STATUS_NAME" style="width: 100%;" readonly="readonly" />
                            <input type="hidden" ng-model="vm.form.RF_ACTN_STATUS_ID" />

                        </div>


                    </div>
                </fieldset>
            </div>
        </form>

    </div>
</div>
<script type="text/javascript">

    function gotolocation(id) {

        var newId = "";
        var ids = id.split("__");

        //alert(ids[0]);
        //if (id == "DOSE_QTY__0") {
        //    newId = "DOSE_QTY__"+(parseInt(ids[1])+1);
        //}
        //alert(ids[0]);

        newId = "DOSE_QTY__" + (parseInt(ids[1]) + 1);
        //alert(newId);
        document.getElementById(newId).focus();
        return false;
    }

    function mykeypress(e, r) {

        var unicode = e.keyCode ? e.keyCode : e.charCode;

        switch (e.keyCode) {
            case 13:
                gotolocation(r.id);
                break;
        }
    }
</script>

