<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 10px;
            }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }


    /*///////////////////////*/
    .k-treeview .k-in {
        padding: 5px;
    }

    #ItemCategTreeview .k-sprite {
        background-image: url("/Content/assets/global/img/coloricons-sprite.png");
    }

    .rootfolder {
        background-position: 0 0;
    }

    .folder {
        background-position: 0 -16px;
    }

    .pdf {
        background-position: 0 -32px;
    }

    .html {
        background-position: 0 -48px;
    }

    .image {
        background-position: 0 -64px;
    }

    /*.demo-section {
        float: left;
        width: 200px;
        margin: 0 60px 0 0;
    }*/
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Dyeing</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Requisition Data</b></legend>
                <div><label id="lblMsgSub"></label></div>
                <div class="row" style="padding-left: 5px; padding-right: 5px;">

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Requisition Type
                            </label>
                            <div class="col-md-3">
                                @*<input type="hidden" name="SCM_SUPPLIER_ID" ng-model="vm.form.SCM_SUPPLIER_ID" />*@
                                <input type="hidden" name="DYE_DC_ISS_H_ID" ng-model="vm.form.DYE_DC_ISS_H_ID" />
                                <input type="hidden" name="RF_REQ_TYPE_ID" ng-model="vm.form.RF_REQ_TYPE_ID" />
                                <input type="text" name="REQ_TYPE_NAME" ng-model="vm.form.REQ_TYPE_NAME" readonly="readonly" class="form-control" />

                                @*<select kendo-drop-down-list name="RF_REQ_TYPE_ID" id="RF_REQ_TYPE_ID" class="form-control required" ng-disabled="vm.form.DYE_DC_ISS_H_ID>=1"
                                    options="vm.reqTypeList" ng-model="vm.form.RF_REQ_TYPE_ID" tabindex="1" k-on-change="vm.getRequisitionByType(kendoEvent)"></select>*@

                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Requisition No
                            </label>
                            @*<div class="col-md-3" ng-if="!vm.form.DYE_DC_ISS_H_ID>0">

                                    <select class="form-control requiredSub" kendo-drop-down-list name="DYE_STR_REQ_H_ID" id="DYE_STR_REQ_H_ID" k-option-label="'-- Select Requisition No --'"
                                            k-data-text-field="'STR_REQ_NO'" k-data-value-field="'DYE_STR_REQ_H_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.requisitionList" k-delay="vm.requisitionList" k-filter="'contains'" ng-model="vm.form.DYE_STR_REQ_H_ID" k-on-change="vm.getRequisitionDtlInfo(kendoEvent)"></select>

                                </div>
                                <div class="col-md-3" ng-if="vm.form.DYE_DC_ISS_H_ID>0">
                                    <input type="text" name="STR_REQ_NO" ng-model="vm.form.STR_REQ_NO" readonly="readonly" class="form-control" />
                                    <input type="hidden" name="DYE_STR_REQ_H_ID" ng-model="vm.form.DYE_STR_REQ_H_ID" />

                                </div>*@
                            <div class="col-md-3">
                                <input type="text" name="STR_REQ_NO" ng-model="vm.form.STR_REQ_NO" readonly="readonly" class="form-control" />
                                <input type="hidden" name="DYE_STR_REQ_H_ID" ng-model="vm.form.DYE_STR_REQ_H_ID" />

                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Requisition Date
                            </label>
                            <div class="col-md-2">
                                <input type="text" class="form-control required" ng-click="STR_REQ_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" readonly="readonly"
                                       name="STR_REQ_DT" max-date="vm.today" ng-model="vm.form.STR_REQ_DT" is-open="STR_REQ_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                       required />

                            </div>

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Requisition By
                            </label>
                            <div class="col-md-3">
                                <input type="text" name="STR_REQ_BY_NAME" ng-model="vm.form.STR_REQ_BY_NAME" readonly="readonly" class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Company Data</b></legend>

                <div class="row" style="padding-left: 5px; padding-right: 5px;">
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Company
                            </label>
                            <div class="col-md-3">

                                <select kendo-drop-down-list name="HR_COMPANY_ID" id="HR_COMPANY_ID" class="form-control required" ng-disabled="vm.form.DYE_DC_ISS_H_ID>=1"
                                        options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID" tabindex="5" required></select>

                            </div>

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Issue From
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list name="ISS_STORE_ID" id="ISS_STORE_ID" class="form-control required" ng-disabled="vm.form.DYE_DC_ISS_H_ID>=1"
                                        options="vm.reqSourceList" ng-model="vm.form.ISS_STORE_ID" tabindex="5" required></select>

                                <input type="hidden" id="SCM_STORE_ID" ng-model="vm.form.SCM_STORE_ID" ng-init="vm.form.ISS_STORE_ID" />
                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Master Data</b></legend>
                <div class="row" style="padding-left: 5px; padding-right: 5px;">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Issue Challan No
                            </label>
                            <div class="col-md-2">
                                <input type="text" name="ISS_REF_NO" placeholder="[Auto Gen]" ng-model="vm.form.ISS_REF_NO" readonly="readonly" class="form-control" />
                                <input type="hidden" id="DYE_DC_ISS_H_ID" name="DYE_DC_ISS_H_ID" ng-model="vm.form.DYE_DC_ISS_H_ID" />
                            </div>

                            <div class="col-md-1">
                            </div>
                            <label class="col-md-2 control-label">
                                <span aria-required="true" class="required">*</span>
                                Date of Issue
                            </label>
                            <div class="col-md-2">
                                <input type="text" class="form-control required" ng-click="ISS_REF_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                       name="ISS_REF_DT" max-date="vm.today" ng-model="vm.form.ISS_REF_DT" is-open="ISS_REF_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                       required />

                            </div>
                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row" ng-if="vm.form.RF_REQ_TYPE_ID==10">
                        <div class="form-group">
                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required"></span>
                                Truck No
                            </label>
                            <div class="col-md-2">
                                <input type="text" name="TRUCK_NO" ng-model="vm.form.TRUCK_NO" class="form-control" />

                            </div>

                            <div class="col-md-1">
                            </div>
                            <label class="col-md-2 control-label">
                                <span aria-required="true" class="required"></span>
                                Driver Name
                            </label>
                            <div class="col-md-2">

                                <input type="text" name="DRIVER_NAME" ng-model="vm.form.DRIVER_NAME" class="form-control" />

                            </div>
                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1"></div>

                            <label class="col-md-2 control-label">
                                <span aria-required="true" class="required"></span>
                                Issue By
                            </label>
                            <div class="col-md-2">
                                <select id="customers" kendo-drop-down-list options="vm.userList" k-ng-delay="vm.userList" ng-model="vm.form.ITEM_ISS_BY" class="form-control" style="width:100%;"></select>

                            </div>
                            <div class="col-md-1"></div>

                            <label class="col-md-2 control-label" ng-if="vm.form.RF_REQ_TYPE_ID==11">
                                <span aria-required="true" class="required"></span>
                                Supplier Name
                            </label>
                            <div class="col-md-2" ng-if="vm.form.RF_REQ_TYPE_ID==11">
                                <select class="form-control required" kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID" k-option-label="'-- Select Supplier --'"
                                        k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'" ng-disabled="vm.form.DYE_DC_ISS_H_ID>=0"
                                        k-auto-bind="'true'" k-data-source="vm.supplierList" k-delay="vm.supplierList" k-filter="'contains'"
                                        ng-model="vm.form.SCM_SUPPLIER_ID"></select>
                            </div>



                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Remarks
                            </label>
                            <div class="col-md-8">
                                <textarea id="REMARKS" name="REMARKS" ng-model="vm.form.REMARKS" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>

                </div>
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Details Data</b></legend>
                <table style="width:100%" class="clsTableMtex" ng-if="vm.form.RF_REQ_TYPE_ID!=10 || vm.form.DYE_DC_ISS_H_ID>=1">

                    <tr class="clstheadMtex">
                        <td class="clstdMtex">
                            <b>Dyes Chemical Item</b>
                        </td>

                        <td class="clstdMtex">
                            <b>Brand</b>
                        </td>

                        <td class="clstdMtex">
                            <b>Central Stock</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Sub-Stock</b>
                        </td>
                        @*<td class="clstdMtex">
                            <b>KG</b>
                        </td>
                        <td class="clstdMtex">
                            <b>GM</b>
                        </td>
                        <td class="clstdMtex">
                            <b>MG</b>
                        </td>*@
                        <td class="clstdMtex">
                            <b>Reqd. Qty</b>
                        </td>

                        <td class="clstdMtex">
                            <b>UoM</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Issued Qty</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Issue Qty</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Copy</b>
                            <a class="btn btn-xs yellow" ng-click="vm.copyAllRequiredQty()"><i class="fa fa-arrow-right"></i></a>
                        </td>

                        <td class="clstdMtex">
                            <b>UoM</b>
                        </td>


                    </tr>
                    <tr class="" ng-repeat="item in vm.ReceiveItemList">
                        <td class="clstdMtex">
                            {{item.ITEM_NAME_EN}}
                            @*<input type="text" name="ITEM_NAME_EN" ng-model="item.ITEM_NAME_EN" class="form-control" readonly="readonly" />*@
                            <input type="hidden" name="DC_ITEM_ID" ng-model="item.DC_ITEM_ID" class="form-control" />

                            <input type="hidden" name="DYE_DC_ISS_H_ID" ng-model="item.DYE_DC_ISS_H_ID" class="form-control" />
                            <input type="hidden" name="DYE_STR_REQ_D_ID" ng-model="item.DYE_STR_REQ_D_ID" class="form-control" />
                        </td>

                        <td class="clstdMtex">
                            {{item.BRAND_NAME_EN}}
                            @*<input type="text" name="BRAND_NAME_EN" ng-model="item.BRAND_NAME_EN" class="form-control" readonly="readonly" />*@
                        </td>

                        <td class="clstdMtex">
                            {{item.CENTRAL_STK}}
                            @*<input type="number" name="CENTRAL_STK" ng-model="item.CENTRAL_STK" class="form-control" readonly="readonly" />*@
                        </td>
                        <td class="clstdMtex">
                            <input type="hidden" name="SUB_STK" ng-model="item.SUB_STK" class="form-control" />
                            {{item.SUB_STK}}
                            @*<input type="number" name="SUB_STK" ng-model="item.SUB_STK" class="form-control" readonly="readonly" />*@

                        </td>
                        @*<td class="clstdMtex">
                            {{item.RQD_QTY_K}}

                        </td>
                        <td class="clstdMtex">
                            {{item.RQD_QTY_G}}

                        </td>
                        <td class="clstdMtex">
                            {{item.RQD_QTY_M}}

                        </td>*@
                        <td class="clstdMtex">
                            {{item.RQD_QTY}}

                        </td>
                        <td class="clstdMtex">
                            {{item.MOU_CODE}}

                        </td>
                        <td class="clstdMtex">
                            {{item.ISSUED_QTY}}
                        </td>

                        <td class="clstdMtex">
                            <input type="number" name="ISS_QTY" ng-model="item.ISS_QTY" min="0.001" class="form-control double" style="max-width:100px;" ng-change="vm.checkStock(item)" />

                        </td>
                        <td class="clstdMtex">
                            <a class="btn btn-xs yellow" ng-click="vm.copyRequiredQty(item)"><i class="fa fa-arrow-right"></i></a>

                        </td>
                        <td class="clstdMtex" style="position:relative;">
                            <select class="form-control required" style="min-width: 50px; max-width: 160px;" kendo-drop-down-list name="QTY_MOU_ID" id="QTY_MOU_ID" k-option-label="'--UoM--'"
                                    k-data-text-field="'MOU_CODE'" k-data-value-field="'RF_MOU_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.mOUList" k-filter="'contains'" ng-model="item.QTY_MOU_ID" ng-disabled="item.QTY_MOU_ID>0"></select>
                        </td>

                    </tr>
                </table>


            </fieldset>
        </div>
        <div style="padding:3px;">
        </div>
        <div class="row">
            <div class="col-md-12">

                <button type="button" class="btn btn-sm blue" ui-sref="DCIssueAgainstLoanRequisitionList">Back To List</button>

                <button type="button" ng-if="vm.form.DYE_DC_ISS_H_ID>0" class="btn btn-sm yellow-gold" ng-click="vm.submitAll(vm.form);">Submit</button>
                <button type="button" ng-if="!vm.form.DYE_DC_ISS_H_ID>0" class="btn btn-sm green" ng-click="vm.submitAll(vm.form);">Save</button>
                <button type="button" class="btn btn-sm default" ui-sref="DCIssueAgainstLoanRequisition({pDYE_DC_ISS_H_ID : 0, pDYE_STR_REQ_H_ID:0})" ui-sref-opts="{reload: true}">Cancel</button>
            </div>
        </div>
        <div style="padding:3px;">
        </div>
    </form>
</div>
