<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Dyeing</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <input ng-model="vm.form.CREATED_BY" type="hidden"
               data-ng-init="vm.form.CREATED_BY='@Session["multiScUserId"]'" />

        <input id="access_token" ng-model="vm.form.LAST_UPDATED_BY" type="hidden"
               ng-init="vm.form.LAST_UPDATED_BY='@Session["multiScUserId"]'" />

        @*<div class="row" style="padding:5px">
            <div class="col-md-1">
                <a ui-sref="DCBatchProgramRequisition({pDYE_STR_REQ_H_ID : 0})" class="btn btn-sm blue">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>
        </div>*@

        <div style="padding:5px;">

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Searching Data</b></legend>
                <table class="clsTable">
                    <thead class="clsthead">
                        <tr>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Requisition No
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                From Date
                            </th>
                            <th class="clstd" style="width:150px;">
                                <span aria-required="true" class="required"></span>
                                To Date
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Process Type
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Batch No
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                M/C No
                            </th>

                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clstr">
                            <td class="clstd">
                                <input type="text" name="STR_REQ_NO" ng-model="vm.form.STR_REQ_NO" class="form-control" />
                            </td>
                            <td class="clstd">
                                <input type="text" class="form-control required" ng-click="STR_REQ_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                       name="STR_REQ_DT" max-date="vm.today" ng-model="vm.form.STR_REQ_DT" is-open="STR_REQ_DT_LNopened"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />

                            </td>
                            <td class="clstd" style="width:150px;">
                                <input type="text" class="form-control required" ng-click="TO_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                       name="COLOR_NAME_EN" max-date="vm.today" ng-model="vm.form.COLOR_NAME_EN" is-open="TO_DT_LNopened"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />

                            </td>
                            <td class="clstd">

                                <input type="text" name="REQ_TYPE_NAME" ng-model="vm.form.REQ_TYPE_NAME" class="form-control" />

                            </td>

                            <td class="clstd">
                                <input type="text" name="DYE_BATCH_NO" ng-model="vm.form.DYE_BATCH_NO" class="form-control" />
                            </td>

                            <td class="clstd">
                                <input type="text" name="DYE_MACHINE_NO" ng-model="vm.form.DYE_MACHINE_NO" class="form-control" />
                            </td>

                            <td class="clstd">
                                <button type="button" class="btn btn-sm default" ng-click="vm.searchData()">Search</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <kendo-grid k-options="vm.gridOptions" k-data-source="vm.gridOptionsDS">
                <div k-detail-template>
                    <div>
                        <div kendo-grid k-options="vm.detailGridOptionsForIssue(dataItem)">

                        </div>
                    </div>
                </div>
            </kendo-grid>

            @*<kendo-grid id="grid" k-options="vm.gridOptionsMachine">
                <div k-detail-template>
                    <div>
                        <kendo-grid k-options="vm.detailGridOptionsForReq(dataItem)">
                            <div k-detail-template>
                                <div>
                                    <div kendo-grid k-options="vm.detailGridOptionsForIssue(dataItem)">

                                    </div>
                                </div>
                            </div>
                        </kendo-grid>

                    </div>
                </div>
            </kendo-grid>*@

            @*<kendo-grid k-options="vm.gridOptions" k-data-source="vm.gridOptionsDS">
                <div k-detail-template>
                    <div>
                        <kendo-grid k-options="vm.detailGridOptionsForIssue(dataItem)">
                        </kendo-grid>

                    </div>
                </div>
            </kendo-grid>*@
        </div>
    </div>
</div>
