<div class="modal-body">
    <div class="portlet grey-cascade box">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="portlet-title">
            <div>
                <h3 style="padding-top:10px;margin-top:3px;">
                    Dyeing S/C Program||{{formData.PRG_ISS_NO+' || '+formData.SUP_TRD_NAME_EN}}
                    <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                </h3>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" role="form" novalidate ng-submit="findGridData(search)">
                        <div class="form-group">
                            <div class="col-md-2" style="padding-right: 0px;">
                                Buyer A/C as
                                <select kendo-drop-down-list name="MC_BYR_ACC_ID" class="form-control"
                                        k-options="buyerAcList" id="MC_BYR_ACC_ID" ng-model="search.MC_BYR_ACC_ID" required></select>
                            </div>


                            <div class="col-md-2" style="padding-left: 3px; padding-right: 0px;">
                                Ship Month
                                <select class="form-control" kendo-drop-down-list name="MONTHOF" k-option-label="'-- Select Month --'"
                                        k-data-text-field="'MONTHOF'" k-data-value-field="'MONTHOF'" k-filter="'contains'"
                                        k-auto-bind="'true'" k-data-source="shipMonthList" k-ng-delay="shipMonthList" ng-model="search.MONTHOF"
                                        k-on-change="onChangeShipMonth(kendoEvent)"></select>
                            </div>

                            <div class="col-md-1" style="padding-left: 3px; padding-right: 0px;">
                                Col Type
                                <select kendo-drop-down-list name="LK_COL_TYPE_ID" id="LK_COL_TYPE_ID" class="form-control"
                                        options="ColourTypelist" ng-model="search.LK_COL_TYPE_ID"></select>
                            </div>


                            <div class="col-md-3" style="padding-left: 3px; padding-right: 0px;">
                                Style
                                <select class="form-control" kendo-drop-down-list name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Style --'"
                                        k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                        k-template="template" k-value-template="valueTemplate"
                                        k-auto-bind="'true'" k-data-source="StyleExtDs" ng-model="search.MC_FAB_PROD_ORD_H_IDD"
                                        k-on-change="onFabOrderChange(kendoEvent)" required></select>
                            </div>


                            <div class="col-md-2" style="padding-left: 3px; padding-right: 0px;">
                                Order No
                                <select class="form-control" kendo-drop-down-list name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Order# --'"
                                        k-data-text-field="'ORDER_NO_LST'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                        k-template="templateOh" k-value-template="valueTemplateOh"
                                        k-auto-bind="'true'" k-data-source="FabOederByOhDs" ng-model="search.MC_FAB_PROD_ORD_H_IDDD"
                                        required style="width:100%;"></select>
                            </div>

                            <div class="col-md-1" style="text-align: right; padding-left: 3px;">
                                <br />
                                <button class="btn btn-sm blue-hoki" type="submit"><i class="fa fa-search"></i>Load</button>
                            </div>

                        </div>

                        <div class="form-group" style="margin:auto;">
                            <div kendo-grid k-options="gridSearchResultOpt" k-data-source="gridSearchResultDs" id="gridSearchResult"></div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                        <div class="form-group" style="margin:auto;">
                            <p class="block" style="margin: 0px; font-size: 14px; background-color: rgb(236, 233, 248); padding-left: 2px;">
                                Buyer A/C :
                                <b>{{form.BYR_ACC_NAME_EN}}</b>

                                &nbsp;
                                Style :
                                <b>{{form.STYLE_NO}}</b>

                                &nbsp;

                                Order # :
                                <b>{{form.ORDER_NO_LIST}}</b>

                                &nbsp;

                                Color Name :
                                <b>{{form.COLOR_NAME_EN}}</b>
                              
                            </p>
                        </div>
                        <br />
                        <tabset justified="true">
                            <tab heading="Knit Fabric" select="onSelect('KNIT')">
                                <form class="form-horizontal" role="form" name="DyeingBatchPlan" novalidate>
                                    <br />
                                    <div style="border: 1px solid #333333; padding: 3px;">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <b>Dye Method</b>
                                            </label>
                                            <div class="col-md-8" ng-class="{'has-error': (DyeingBatchPlan.LK_DYE_MTHD_ID.$touched || DyeingBatchPlan.$submitted) && DyeingBatchPlan.LK_DYE_MTHD_ID.$error.required}">
                                                <select class="form-control" kendo-drop-down-list name="LK_DYE_MTHD_ID" k-option-label="'-- Dyeing Method--'"
                                                        k-data-text-field="'DYE_MTHD_NAME'" k-data-value-field="'LK_DYE_MTHD_ID'"
                                                        k-auto-bind="'true'" k-data-source="DyeingMthdDs" ng-model="form.LK_DYE_MTHD_ID" required></select>

                                                <input type="hidden" ng-model="form.FAB_COLOR_ID" required />
                                                <input type="hidden" ng-model="form.RF_FAB_TYPE_ID" required />
                                                <input type="hidden" ng-model="form.MC_FAB_PROD_ORD_H_ID" required />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <b>Quantity(Kg)</b>
                                            </label>
                                            <div class="col-md-8" ng-class="{'has-error': (DyeingBatchPlan.RQD_PRD_QTY.$touched || DyeingBatchPlan.$submitted) && (DyeingBatchPlan.RQD_PRD_QTY.$error.required||DyeingBatchPlan.RQD_PRD_QTY.$error.min)}">
                                                <input type="number" class="form-control" min="1" name="RQD_PRD_QTY" ng-model="form.RQD_PRD_QTY" required tabindex="1" />
                                            </div>
                                        </div>
                                        <div class="form-group" ng-repeat="item in df_data">
                                            <label class="col-md-4 control-label">
                                                <b>{{item.PROCESS_GROUP_NAME}}</b>
                                            </label>
                                            <div class="col-md-8">
                                                <div class="checkbox-list">


                                                    <label class="checkbox-inline" ng-repeat="itm in item.items">


                                                        <span><input type="checkbox" ng-model="itm.IS_SELECTED" ng-true-value="'Y'" ng-false-value="'N'"> {{itm.DF_PROC_TYPE_NAME}}</span>

                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <br />

                                    <br />
                                    <div style="border: 1px solid #333333; padding: 3px;">

                                        <table class="table table-condensed table-hover table-bordered" style="margin:0px;">
                                            <thead>
                                                <tr style="background-color: #7f8dd4; color: #ffffff;">
                                                    <th style="width:24%">
                                                        <small>Order#</small>

                                                    </th>
                                                    <th style="width:20%">
                                                        <small>Group</small>

                                                    </th>
                                                    <th style="width:10%">
                                                        <small>Req</small>

                                                    </th>

                                                    <th style="width:30%;text-align:center;">
                                                        <small>Fin Dia&Qty</small>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="it in form.requirements">
                                                <tr style="background-color: #c4ebc8;">
                                                    <td rowspan="2">
                                                        <span ng-if="it.MC_FAB_PROD_ORD_H_SL==1">{{it.ORDER_NO_LIST}}</span>

                                                    </td>
                                                    <td rowspan="2">
                                                        <span style="display:block;font-weight:bold;" ng-style="{'color': !it.FAB_GROUP? 'red':''}">{{it.FAB_GROUP||'Not Set'}}</span>
                                                        <span style="display:block;font-style:italic;" ng-if="it.IS_FLAT_CIR=='C'"> <small>*{{it.FAB_TYPE_NAME}}</small> </span>
                                                        <span style="display:block;font-style:italic;"> <small>*{{it.FIB_COMP_NAME}}</small> </span>
                                                    </td>
                                                    <td>
                                                        {{it.RQD_PRD_QTY}} kg
                                                        <input type="hidden" min="0" class="form-control" ng-model="it.ACT_BATCH_QTY" />
                                                    </td>

                                                    <td style="background-color: #cfa8e2; ">
                                                        <table class="table table-condensed table-hover table-bordered" ng-if="it.IS_FLAT_CIR=='C'" style="margin:0px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>

                                                                        <small>Fin Dia</small>
                                                                    </th>
                                                                    <th>
                                                                        <small>Qty</small>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="fin_dia in it.fin_dias">
                                                                    <td>
                                                                        <span style="display:block;">
                                                                            <b><small> {{fin_dia.FIN_DIA + ' '+fin_dia.MOU_CODE+' ('+ fin_dia.DIA_TYPE_NAME+')'}} </small></b>
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        <span style="display:block;">

                                                                            <input type="text" min="0" class="form-control" ng-model="fin_dia.RQD_PRD_QTY" />
                                                                         
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        @*<table class="table table-condensed table-hover table-bordered" ng-if="it.IS_FLAT_CIR=='F'" style="margin:0px;">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <small>Details</small>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="col in it.col_cu_avail">
                                                                    <td>
                                                                        <span style="display:block;">
                                                                            <small><b>S:</b>{{col.SIZE_CODE}}</small>
                                                                        </span>
                                                                        <span style="display:block;">
                                                                            <small><b>M:</b>{{col.MESUREMENT}}</small>
                                                                        </span>
                                                                        <span style="display:block;">
                                                                            <small><b>A:</b> {{col.PRD_QTY}}</small>
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" class="form-control" ng-model="col.ASSIGN_QTY" />
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>*@
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                    <div class="form-group form-actions">
                                        <div class="col-md-12">
                                            <button type="button" ng-if="form.DYE_BATCH_PLAN_ID<0" class="btn green btn-sm" ng-click="save(form,DyeingBatchPlan.$valid);DyeingBatchPlan.$submitted=true;"> Save</button>
                                            <button type="button" ng-if="form.DYE_BATCH_PLAN_ID>0" class="btn btn-sm yellow-gold" ng-click="save(form,DyeingBatchPlan.$valid);DyeingBatchPlan.$submitted=true">Update</button>
                                            <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Close</button>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                            <tab heading="Woven Fabric" select="onSelect('WOVEN')">

                                <form class="form-horizontal" role="form" name="DyeingBatchPlanWoven" novalidate>

                                    <br />
                                    <div style="border: 1px solid #333333; padding: 3px;">

                                        <div class="form-group">

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <b>Dye Method</b>
                                            </label>
                                            <div class="col-md-8" ng-class="{'has-error': (DyeingBatchPlanWoven.LK_DYE_MTHD_ID.$touched || DyeingBatchPlanWoven.$submitted) && DyeingBatchPlanWoven.LK_DYE_MTHD_ID.$error.required}">
                                                <select class="form-control" kendo-drop-down-list name="LK_DYE_MTHD_ID" k-option-label="'-- Dyeing Method--'"
                                                        k-data-text-field="'DYE_MTHD_NAME'" k-data-value-field="'LK_DYE_MTHD_ID'"
                                                        k-auto-bind="'true'" k-data-source="DyeingMthdDs" ng-model="formWoven.LK_DYE_MTHD_ID" required></select>
                                                <input type="hidden" ng-model="formWoven.MC_FAB_PROD_ORD_H_ID" required />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <b>Color</b>
                                            </label>
                                            <div class="col-md-8" ng-class="{'has-error': (DyeingBatchPlanWoven.FAB_COLOR_ID.$touched || DyeingBatchPlanWoven.$submitted) && DyeingBatchPlanWoven.FAB_COLOR_ID.$error.required}">
                                                <select class="form-control" kendo-drop-down-list name="FAB_COLOR_ID" k-option-label="'--Color--'"
                                                        k-data-text-field="'COLOR_NAME_EN'" k-data-value-field="'MC_COLOR_ID'"
                                                        k-auto-bind="'true'" k-data-source="formWoven.color_list_ds" k-on-change="onChangeColor(kendoEvent,35,formWoven)" ng-model="formWoven.FAB_COLOR_ID" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <br />
                                    <div style="border: 1px solid #333333; padding: 3px;">

                                        <table class="table table-condensed table-hover table-bordered" style="margin:0px;">
                                            <thead>
                                                <tr style="background-color: #7f8dd4; color: #ffffff;">

                                                    <th style="width:12%">
                                                        <small>Batch#</small>
                                                    </th>
                                                    <th style="width:4%">
                                                        <small>Lot#</small>

                                                    </th>

                                                    <th style="width:10%">
                                                        <small>Order</small>
                                                    </th>

                                                    <th style="width:20%">
                                                        <small>Trims</small>
                                                    </th>
                                                    <th style="width:8%">
                                                        <span style="display:block;">
                                                            <small>Ttl Req</small>
                                                        </span>

                                                        <span style="display:block;">
                                                            <small>Ttl Bt/Blnc</small>
                                                        </span>

                                                        <span style="display:block;">
                                                            <small>Available</small>
                                                        </span>
                                                    </th>

                                                    <th style="width:5%">
                                                        <small>Qty[Yds](thisBt)</small>
                                                    </th>
                                                    <th style="width:5%">
                                                        <small>Qty[Kg](thisBt)</small>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="it in formWoven.requirements" ng-if="formWoven.requirements.length>0">
                                                <tr style="background-color: #c4ebc8;">

                                                    <td rowspan="{{it.MC_FAB_PROD_ORD_H_SPAN}}" ng-if="it.MC_FAB_PROD_ORD_H_SL==1" ng-class="{'has-error': (requirements.DYE_BATCH_NO.$touched || DyeingBatchPlanWoven.$submitted) && requirements.DYE_BATCH_NO.$error.required}">
                                                        <ng-form name="requirements">
                                                            <input type="text" class="form-control" name="DYE_BATCH_NO" required ng-model="it.DYE_BATCH_NO" ng-if="it.MC_FAB_PROD_ORD_H_SL==1" />
                                                        </ng-form>

                                                    </td>

                                                    <td rowspan="{{it.MC_FAB_PROD_ORD_H_SPAN}}" ng-if="it.MC_FAB_PROD_ORD_H_SL==1" ng-class="{'has-error': (requirements.DYE_LOT_NO.$touched || DyeingBatchPlanWoven.$submitted) && requirements.DYE_LOT_NO.$error.required}">
                                                        <ng-form name="requirements">
                                                            <input type="text" class="form-control" name="DYE_LOT_NO" required ng-model="it.DYE_LOT_NO" ng-if="it.MC_FAB_PROD_ORD_H_SL==1" />
                                                        </ng-form>

                                                    </td>


                                                    <td rowspan="{{it.MC_FAB_PROD_ORD_H_SPAN}}" ng-if="it.MC_FAB_PROD_ORD_H_SL==1">
                                                        <span>{{it.ORDER_NO_LIST}}</span>
                                                    </td>
                                                    <td>
                                                        {{it.ITEM_SPEC_AUTO}}
                                                    </td>
                                                    <td>

                                                        <span style="display:block;">{{it.NET_DY_QTY}}</span>
                                                        <span style="display:block;">{{it.TTL_BT+' / '+it.LEFT_TO_BT}}</span>
                                                        <span style="display:block;">{{it.STK_BALANCE}}</span>
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" ng-model="it.RQD_QTY_YDS" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" ng-model="it.RQD_QTY_KG" />
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-group form-actions">
                                        <div class="col-md-6">
                                            <button type="button" class="btn green btn-sm" ng-click="saveWovenTrims(formWoven,DyeingBatchPlanWoven.$valid,7);DyeingBatchPlanWoven.$submitted=true"> Save</button>

                                            <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Close</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a ng-disabled="!formWoven.DYE_BATCH_PLAN_ID" href="/Merchandising/Mrc/DyeingProg4BulkBookingMnul?a=224/#/dyeProg4BulkMnul/{{formWoven.MC_FAB_PROD_ORD_H_ID}}?pRF_FAB_PROD_CAT_ID={{formWoven.RF_FAB_PROD_CAT_ID}}&pMC_BYR_ACC_GRP_ID={{formWoven.MC_BYR_ACC_GRP_ID}}&pMC_STYLE_H_EXT_ID={{formWoven.MC_STYLE_H_EXT_ID}}" target="_blank" class="btn btn-sm btn-block blue">+ Add Dye Program ( Knit/Woven )</a>
                                        </div>

                                    </div>

                                </form>

                            </tab>
                            <tab heading="Trim & Accessories" select="onSelect('TRIMS')">
                                <form class="form-horizontal" role="form" name="DyeingBatchPlanTrims" novalidate>

                                    <br />
                                    <div style="border: 1px solid #333333; padding: 3px;">

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <b>Dye Method</b>
                                            </label>
                                            <div class="col-md-8" ng-class="{'has-error': (DyeingBatchPlanTrims.LK_DYE_MTHD_ID.$touched || DyeingBatchPlanTrims.$submitted) && DyeingBatchPlanTrims.LK_DYE_MTHD_ID.$error.required}">
                                                <select class="form-control" kendo-drop-down-list name="LK_DYE_MTHD_ID" k-option-label="'-- Dyeing Method--'"
                                                        k-data-text-field="'DYE_MTHD_NAME'" k-data-value-field="'LK_DYE_MTHD_ID'"
                                                        k-auto-bind="'true'" k-data-source="DyeingMthdDs" ng-model="formTrims.LK_DYE_MTHD_ID" required></select>
                                                <input type="hidden" ng-model="formTrims.MC_FAB_PROD_ORD_H_ID" required />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-4 control-label">
                                                <b>Color</b>
                                            </label>
                                            <div class="col-md-8" ng-class="{'has-error': (DyeingBatchPlanTrims.FAB_COLOR_ID.$touched || DyeingBatchPlanTrims.$submitted) && DyeingBatchPlanTrims.FAB_COLOR_ID.$error.required}">
                                                <select class="form-control" kendo-drop-down-list name="FAB_COLOR_ID" k-option-label="'--Color--'"
                                                        k-data-text-field="'COLOR_NAME_EN'" k-data-value-field="'MC_COLOR_ID'"
                                                        k-auto-bind="'true'" k-data-source="formTrims.color_list_ds" k-on-change="onChangeColor(kendoEvent,7,formTrims)" ng-model="formTrims.FAB_COLOR_ID" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div style="border: 1px solid #333333; padding: 3px;">

                                        <table class="table table-condensed table-hover table-bordered" style="margin:0px;">
                                            <thead>
                                                <tr style="background-color: #7f8dd4; color: #ffffff;">
                                                    <th style="width:10%">
                                                        <small>Order</small>
                                                    </th>

                                                    <th style="width:20%">
                                                        <small>Trims</small>
                                                    </th>
                                                    <th style="width:8%">
                                                        <span style="display:block;">
                                                            <small>Ttl Req</small>
                                                        </span>

                                                        <span style="display:block;">
                                                            <small>Ttl Bt/Blnc</small>
                                                        </span>

                                                        <span style="display:block;">
                                                            <small>Available</small>
                                                        </span>
                                                    </th>

                                                    <th style="width:5%">
                                                        <small>Qty[Yds](thisBt)</small>
                                                    </th>
                                                    <th style="width:5%">
                                                        <small>Qty[Kg](thisBt)</small>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="it in formTrims.requirements" ng-if="formTrims.requirements.length>0">
                                                <tr style="background-color: #c4ebc8;">

                                                    <td rowspan="{{it.MC_FAB_PROD_ORD_H_SPAN}}" ng-if="it.MC_FAB_PROD_ORD_H_SL==1">
                                                        <span>{{it.ORDER_NO_LIST}}</span>
                                                    </td>
                                                    <td>
                                                        {{it.ITEM_SPEC_AUTO}}
                                                    </td>
                                                    <td>
                                                        <span style="display:block;">{{it.NET_DY_QTY+' '+it.MOU_CODE}}</span>
                                                        <span style="display:block;">{{it.TTL_BT+' / '+it.LEFT_TO_BT}}</span>
                                                        <span style="display:block;">{{it.STK_BALANCE}}</span>
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" ng-model="it.RQD_QTY_YDS" />
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" ng-model="it.RQD_QTY_KG" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="form-group form-actions">
                                        <div class="col-md-6">
                                            <button type="button" ng-if="form.DYE_BATCH_PLAN_ID<0" class="btn green btn-sm" ng-click="saveWovenTrims(formTrims,DyeingBatchPlanTrims.$valid,35);DyeingBatchPlanTrims.$submitted=true"> Save</button>
                                            <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Close</button>
                                        </div>
                                        <div class="col-md-6">
                                            <a ng-disabled="!formTrims.DYE_BATCH_PLAN_ID" href="/Merchandising/Mrc/DyeingProg4BulkBookingMnul?a=224/#/dyeProg4BulkMnul/{{formTrims.MC_FAB_PROD_ORD_H_ID}}?pRF_FAB_PROD_CAT_ID={{formTrims.RF_FAB_PROD_CAT_ID}}&pMC_BYR_ACC_GRP_ID={{formTrims.MC_BYR_ACC_GRP_ID}}&pMC_STYLE_H_EXT_ID={{formTrims.MC_STYLE_H_EXT_ID}}" target="_blank" class="btn btn-sm btn-block blue">+ Add Dye Program ( Knit/Woven )</a>
                                        </div>
                                    </div>
                                </form>
                            </tab>
                        </tabset>

                </div>
            </div>
        </div>
    </div>
</div>