<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Merchandising</a>

    </li>
    <li>
        <a href="#">Lab-dip Recipe List</a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <input ng-model="vm.form.CREATED_BY" type="hidden"
               data-ng-init="vm.form.CREATED_BY='@Session["multiScUserId"]'" />

        <input id="access_token" ng-model="vm.form.LAST_UPDATED_BY" type="hidden"
               ng-init="vm.form.LAST_UPDATED_BY='@Session["multiScUserId"]'" />
        <div class="row">
            <div class="col-md-12">
                <fieldset class="custom-fieldset">
                    <legend class="custom-legend">Search</legend>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1">
                                Buyer A/C
                            </label>
                            <div class="col-md-2">
                                @*<select kendo-drop-down-list name="MC_BUYER_ID" class="form-control" options="vm.buyerList" ng-model="vm.form.MC_BUYER_ID"></select>*@
                                <select kendo-drop-down-list name="MC_BYR_ACC_GRP_ID" class="form-control" options="vm.buyerAcGrpList" ng-model="vm.form.MC_BYR_ACC_GRP_ID"></select>
                            </div>
                            <label class="col-md-1" style="padding-right:0px;">
                                Style #
                            </label>
                            <div class="col-md-3" style="padding-right: 0px; padding-left: 5px;">
                                <select class="form-control" kendo-drop-down-list name="MC_STYLE_H_ID" k-option-label="'-- Select Style --'"
                                        k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_STYLE_H_ID'" k-filter="'contains'"
                                        k-auto-bind="'true'" k-data-source="vm.styleList" k-ng-delay="vm.styleList" ng-model="vm.form.MC_STYLE_H_ID"
                                        @*ng-disabled="!vm.form.MC_BYR_ACC_ID"*@ ></select>
                            </div>

                            <label class="col-md-1" style="padding-right:0px;">
                                Recipe #
                            </label>
                            <div class="col-md-1" style="padding-right: 0px; padding-left: 5px;">
                                <input type="text" name="LD_RECIPE_NO" ng-model="vm.form.LD_RECIPE_NO" class="form-control" />
                            </div>
                            
                            <div class="col-md-1">
                                <button class="btn btn-sm" ng-click="vm.showLabdipRecipe()" @*ng-class="{'disabled':!vm.form.MC_BYR_ACC_ID}"*@>Show</button>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="col-md-1">
                                <a ui-sref="LabdipRecipe({pMC_LD_RECIPE_H_ID : 0, pRECHECK_ID:0})" class="btn btn-sm blue">
                                    <i class="fa fa-plus"></i> Add New
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        @*<div class="row" style="padding:5px">
            <div class="col-md-1">
                <a ui-sref="LabdipRecipe({pMC_LD_RECIPE_H_ID : 0, pRECHECK_ID:0})" class="btn btn-sm blue">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>
        </div>*@

        <div style="padding:5px;">
            <kendo-grid k-options="vm.gridOptions" id="labdipRecipeGrid"></kendo-grid>
        </div>
    </div>
</div>
