
<style>
    #grid tr td {
        /* this makes the menu visibile */
        overflow: visible;
    }

    #grid .k-grid-header {
        padding-right: 0 !important;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Dyeing</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <input ng-model="vm.form.CREATED_BY" type="hidden"
               data-ng-init="vm.form.CREATED_BY='@Session["multiScUserId"]'" />

        <input id="access_token" ng-model="vm.form.LAST_UPDATED_BY" type="hidden"
               ng-init="vm.form.LAST_UPDATED_BY='@Session["multiScUserId"]'" />

        <div class="row" style="padding:5px">
            <div class="col-md-1">
                <a ui-sref="ScPreTreatmentReceive({pDF_SC_PT_RCV_H_ID : 0})" class="btn btn-sm blue">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>
        </div>
        <div class="row" style="padding-left: 20px; padding-right: 20px">
            <fieldset class="custom-fieldset">
                <legend class="custom-legend">Search</legend>
                <div class="form-group">
                    <label class="col-md-1" style="padding-right:0px;">
                        S/C Party
                    </label>

                    <div class="col-md-2">
                        <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" k-filter="'contains'" k-option-label="'-- Select S/C Party --'"
                                k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'" k-auto-bind="'true'"
                                k-options="vm.supplierOption" k-data-source="vm.supplierDataSource" ng-model="vm.form.SCM_SUPPLIER_ID" required></select>
                    </div>

                    <label class="col-md-1" style="padding-right:0px;">
                        Challan No
                    </label>

                    <div class="col-md-2">
                        <input type="text" ng-model="vm.form.CHALAN_NO" name="CHALAN_NO" id="CHALAN_NO" />
                    </div>
                    <label class="col-md-1" style="padding-right:0px;">
                        Program No
                    </label>

                    <div class="col-md-2">
                        <input type="text" ng-model="vm.form.SC_PRG_NO" name="SC_PRG_NO" id="SC_PRG_NO" />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm blue" ng-click="vm.search(vm.form)"><i class="fa fa-search"> Search</i></a> <a class="btn btn-sm default" ng-click="vm.clear(vm.form)"><i class="fa fa-remove"> Clear</i></a>
                    </div>

                </div>
            </fieldset>
        </div>

        <div style="padding:5px;">

            <kendo-grid id="grid" k-options="vm.gridOptions" k-data-source="vm.gridOptionsDS">
            </kendo-grid>
        </div>
    </div>
</div>



