@{
    ViewBag.Title = "Dyeing Batch Plan";
}

<div class="portlet-body" data-ui-view="DyeBatchPlan"></div>

<div class="portlet-body" data-ui-view="DyeBatchFabReq"></div>
<div class="portlet-body" data-ui-view="DyeBatchFabReqSample"></div>

