        @{
            Layout = "~/Views/Shared/_HtmlRptLayout.cshtml";
        }

        @{
            ViewBag.Title = "MultiTex ERP";
        }

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
    <!-- BEGIN PAGE HEAD -->
    <!-- BEGIN PAGE CONTENT-->
    <div class="portlet light" style="padding-top:0px;">
        <div class="portlet-body" style="padding-top:5px;">
            <div class="invoice">
                <div class="row">
                    <div class="col-xs-2 col-md-2 col-lg-2" style="text-align:right;">
                    </div>

                    <div class="col-xs-8 col-md-8 col-lg-8" style="text-align:center;">
                        <h2 style="margin:0px;">MULTIFABS LIMITED</h2>
                        <h5 style="margin:3px;">Nayapara, Kashimpur, Gazipur.</h5>
                        <h4 style="margin:3px;"><b>Dyeing M/C Program</b></h4>
                    </div>
                    <div class="col-xs-2 col-md-2 col-lg-2" style="text-align:right;">
                        <a class="btn btn-sm btn-default hidden-print margin-bottom-5" onclick="javascript:window.print();">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </div>

                </div>




                <div class="row">
                    <div data-ui-view></div>
                </div>

                @*<div class="row" style="margin-top:40px;">
                    <div class="col-xs-4 col-md-4 col-lg-4">
                        <div align="center">
                            <address style="border-top:0.5px solid grey">
                                <strong>Shift QC</strong>
                            </address>
                        </div>
                    </div>

                    <div class="col-xs-4 col-md-4 col-lg-4">
                        <div align="center">
                            <address style="border-top:0.5px solid grey">
                                <strong>Shift Filter</strong>
                            </address>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-4">
                        <div align="center">
                            <address style="border-top:0.5px solid grey">
                                <strong>Shift Incharge</strong>
                            </address>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
    </div>
    </div>
    <!-- END CONTENT -->


    @section angularscripts{
        <script src="~/Areas/Dyeing/Client/app/config.dyeingRoute.js?v=2"></script>
        <script src="~/Areas/Dyeing/Client/app/services/dyeingDataService.js?v=2"></script>
        <script src="~/Areas/Dyeing/Client/app/controllers/dyeingBatchProgramRptController.js"></script> 
        }