@{
    ViewBag.Title = "Grey Fabric Requisition List";
}

<div class="portlet-body" data-ui-view="GreyFabReqList"></div>
<div class="portlet-body" data-ui-view="GreyFabReqIssue"></div>
<div class="portlet-body" data-ui-view="GreyFabReqPTIssue"></div>
