@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{


    <script src="~/Areas/GenRpt/Client/app/config.genRptRoute.js"></script>
    <script src="~/Areas/GenRpt/Client/app/services/genRptDataService.js"></script>
    <script src="~/Areas/GenRpt/Client/app/controllers/GeneralReportController.js"></script>


}