@model ERP.Model.LoginMemorableModel

@{
    //ViewBag.Title = "LoginMemorable";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div ng-app="multitex" class="content" ng-controller="ScUserController as vm">


    <form name="frmChangePasswordModal">

        @Html.AntiForgeryToken()

        <div class="form-body">
            <h3 class="form-title">Change Password</h3>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.LOGIN_ID, new { @class = "control-label visible-ie8 visible-ie9" })

                    @Html.TextBoxFor(model => model.LOGIN_ID, new { @class = "form-control", autocomplete = "off", placeholder = "Login ID" })
                    @Html.ValidationMessageFor(model => model.LOGIN_ID)

                </div>*@

            <div class="form-group">
                @*<label class="col-md-4 control-label">Old Password</label>*@
                <input type="password" class="form-control" name="PASSWORD_HASH_OLD" ng-model="vm.form.PASSWORD_HASH_OLD" placeholder="Old Password" />

                @*<div class="col-md-3">
                        <div ng-messages="frmChangePassword.PASSWORD_HASH_OLD.$error" ng-if="frmChangePassword.$submitted || frmChangePassword.PASSWORD_HASH_OLD.$touched">
                            <div ng-message="required" class="field-validation-error">Old Password field is required</div>
                        </div>
                        <div ng-if="vm.errors.PASSWORD_HASH_OLD">
                            <div class="field-validation-error" ng-repeat="err in vm.errors.PASSWORD_HASH_OLD">
                                {{err}}
                            </div>
                        </div>
                    </div>*@
            </div>



            <div class="form-group">
                @*<label class="col-md-4 control-label">New Password</label>*@
                <input type="password" class="form-control" ng-model="vm.form.PASSWORD_HASH" name="PASSWORD_HASH" id="pw" placeholder="New Password" required>

            </div>

            <div class="form-group" ng-class="{'has-error':frmChangePasswordModal.CONFIRMED_PASSWORD.$invalid}">
                @*<label class="col-md-4 control-label">Confirm Password</label>*@
                <input type="password" class="form-control" name="CONFIRMED_PASSWORD" ng-model="vm.form.CONFIRMED_PASSWORD" same-as='vm.form.PASSWORD_HASH' placeholder="Confirm Password">
                <span ng-if="frmChangePasswordModal.CONFIRMED_PASSWORD.$invalid" class="field-validation-error">
                    Password does not match
                </span>
            </div>

            {{vm.form.PASSWORD_HASH}}

            <div class="form-group">
                <button @*ng-if="!vm.form.SC_USER_ID"*@ type="submit" class="btn green" ng-class="{'disabled':false}">Change</button>
            </div>


        </div>
    </form>

</div>

