<div class="portlet-body">
    <video controls autoplay id="vid" style="display:block; padding-top:20px; height:700px; margin: 0 auto;">
        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
        <source src="~/UPLOAD_DOCS/video/example.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
    <script>
        document.getElementById('vid').play();
    </script>
</div>

