@{
    Layout = "~/Views/Shared/_DisplayBoardLayout.cshtml";
}

@{
    ViewBag.Title = "Hourly Production Board";
}

<div class="portlet-body" data-ui-view="HourlyProdBoard"></div>

@section angularscripts{
   <script src="~/Client/app/controllers/hourlyDisplayBoardController.js"></script>
}
