<div class="modal-body">
    <div class="portlet grey-cascade box">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="portlet-title">
            <div>
                <h3 style="padding-top:10px;margin-top:3px;">
                    Cut Panel Inspection: Fabric Defects
                    <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                </h3>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row" style="margin:auto;">
                <table class="table table-condensed table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Buyer: Lindex>> Style: 21212 10001>> Order: 99999099999>> Color: Blue Mellange
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div class="row list-separated" style="background-color: black; margin-bottom: 0px; margin: auto;font-size:40px;">

                                    <div class="col-md-3 col-sm-3">
                                        <div class="font-grey-mint font-sm">
                                            Cutting No
                                        </div>
                                        <div class="uppercase  font-yellow-gold" style="font-size:40px;">
                                            <b><b>1</b></b>
                                        </div>
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <div class="font-grey-mint font-sm">
                                            Bundle No
                                        </div>
                                        <div class="uppercase font-blue-sharp" style="font-size:40px;">
                                            <b><b>12</b></b>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="font-grey-mint font-sm">
                                            SL
                                        </div>
                                        <div class="uppercase font-yellow-gold" style="font-size:40px;">
                                            <b><b>1-12</b></b>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-3">
                                        <div class="font-grey-mint font-sm">
                                             Quantity
                                        </div>
                                        <div class="uppercase font-yellow-gold" style="font-size:40px;">
                                            <b><b>12</b></b>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="col-md-10" style="padding:1px;">
                                    <table class="table table-condensed table-responsive table-bordered" style="padding: 2px; margin-bottom: 2px;">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>1</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>2</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>3</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>4</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                           </tr>
                                            <tr>
                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>5</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>6</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>7</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>8</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>9</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>10</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>11</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>12</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>13</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>14</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>15</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>16</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>17</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>18</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>19</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                                    <b>20</b>
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm red" ng-click="vm.subOne(item);" type="button"><b>-</b></button>
                                                        </span>
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm  green" ng-click="vm.addOne(item);" type="button"><b>+</b></button>
                                                        </span>
                                                    </div>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-md-2" style="padding:1px;">
                                    <table class="table table-condensed table-responsive table-bordered" style="padding: 0px; margin-bottom: 2px;">
                                        <tbody>

                                            <tr>

                                                <td>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <b>Panel Reject</b>
                                                </td>

                                            </tr>

                                            <tr>

                                                <td>
                                                    <button class="btn btn-sm  green btn-block"><b>+</b></button>
                                                </td>

                                            </tr>


                                            <tr>

                                                <td style="padding-bottom: 5px; padding-top: 0px;">
                                          
                                                    <div class="input-group" style="padding-left: 15px; padding-right: 15px;">
                                                        <input type="number" style="height:28px;" min="0" ng-model="item.DFCT_QTY" class="form-control">
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>

                                                <td>
                                                    <button class="btn btn-sm red btn-block"><b>-</b></button>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>1</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>2</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>3</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>4</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>5</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>6</b></h1>
                                    </a>

                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>7</b></h1>
                                    </a>

                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>8</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>9</b></h1>
                                    </a>
                                    <a class="btn btn-lg btn-default">
                                        <h1 style="margin:0px;"><b>0</b></h1>
                                    </a>
                                    <a class="btn btn-lg yellow-gold">
                                        <b><i class="fa  fa-arrow-left"></i></b>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               <div class="row" style="padding-top:20px;">
                                   <div class="col-md-6"style="text-align:left;padding-left:100px;">
                                       <a class="btn blue btn-lg btn-block">
                                           <i class="fa  fa-chevron-left"></i> Previous
                                       </a>
                                   </div>
                                   <div class="col-md-6" style="text-align: right; padding-right: 100px;">
                                       <a class="btn blue btn-lg btn-block">
                                           Save & Next <i class="fa   fa-chevron-right"></i>
                                       </a>
                                   </div>
                               </div>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
        </div>
    </div>
</div>