<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Garments</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption">
            {{vm.Title}}
        </div>
        <div class="tools">
        </div>

        <div class="actions">
        </div>
    </div>

    <div class="portlet-body">

        <table class="table table-condensed table-striped table-bordered" style="padding-left: 5px; padding-right: 5px; margin-bottom: 3px;">
            <tbody>
                <tr>
                    <td style="width: 100%; padding-bottom: 5px;" align="center">
                        <form name="JobCardSearchForm" ng-submit="vm.loadDataByJobCardNo(vm.JOB_CRD_NO)">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" ng-model="vm.JOB_CRD_NO" style="height:28px; width:200px;" focus-me="true" placeholder="Challan">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm blue" type="submit">Go</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" ng-click="vm.openWashDelChallanSearchModal()"><i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>


        <table class="table table-condensed table-striped borderless" style="margin-bottom:5px;">

            <thead>
                <tr style="border: 1px solid #cecece;">

                    <th style="width:15%">
                        Buyer:
                        <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                k-auto-bind="'true'" k-data-source="vm.ProgramTypeDs" ng-model="form.MC_DELV_WH_ID"></select>
                    </th>

                    <th style="width:25%">
                        Style/Order
                        <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                k-auto-bind="'true'" k-data-source="vm.ProgramTypeDs" ng-model="form.MC_DELV_WH_ID"></select>
                    </th>
                    <th style="width:13%">
                        Inhouse/SC:
                        <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                k-auto-bind="'true'" k-data-source="vm.ProgramTypeDs" ng-model="form.MC_DELV_WH_ID"></select>
                    </th>
                    <th style="width:15%">
                        Delivery To
                        <span class="col-md-10" style="padding-left:0px;padding-right:0px;">
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.DeliveryToListDs" ng-model="form.MC_DELV_WH_ID"></select>
                        </span>
                        <span class="col-md-2" style="padding-left:3px;padding-right:0px;">

                            <div class="checkbox-list">
                                <label class="checkbox-inline" style="margin-left:20px;margin-top:0px;">
                                    <span><input type="checkbox" ng-model="form.IS_SUPP_ONLINE" ng-true-value="'Y'" ng-false-value="'N'"></span> TBC
                                </label>
                            </div>
                        </span>


                    </th>
                    <th style="width:10%">
                        NoOfBag :
                        <input type="number" class="form-control" placeholder="1" />
                    </th>

                </tr>

            </thead>
        </table>

            <table class="table table-condensed table-striped table-bordered" style="padding:5px;">
                
                <thead>
                    <tr style="border: 1px solid #cecece">
                        <th style="width:30%;">
                            Buyer: Lindex>> Style: 21212 10001>> Order: 99999099999
                        </th>
                        <th style="width:7%;" rowspan="2">XS</th>
                        <th style="width:7%;" rowspan="2">S</th>
                        <th style="width:7%;" rowspan="2">M</th>
                        <th style="width:7%;" rowspan="2">L</th>
                        <th style="width:7%;" rowspan="2">XL</th>


                    </tr>

                    <tr style="border: 1px solid #cecece">
                        <th style="width:30%;">
                            Item: Long Slv T-Shirt => Country: Sewden => Color: Blue Mellange
                        </th>


                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="text-align:right;">
                            <b><i>Order Quantity</i></b>
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;">
                            <b><i>Cutting</i></b>
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;">
                            <b><i>Sewing Completed</i></b>
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            <b><i>Wash Sent</i></b>
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            <b><i>WIP w/Bag Tag</i></b>
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;">
                            <b><i>Ready for Sent</i></b>
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>

                        <td>
                            10
                        </td>
                        <td>
                            10
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;">
                            <b><i>New Sent</i></b>
                        </td>

                        <td>
                            <input type="number" class="form-control"  />
                        </td>
                        <td>
                            <input type="number" class="form-control" />
                        </td>
                        <td>
                            <input type="number" class="form-control" />
                        </td>

                        <td>
                            <input type="number" class="form-control" />
                        </td>
                        <td>
                            <input type="number" class="form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>


        <table class="table table-condensed table-striped table-bordered" style="padding-left: 5px; padding-right: 5px; margin-bottom: 3px;">
            <tbody>
                <tr>
                    <td style="width: 100%; padding-bottom: 5px;" align="left">
                        <button class="btn btn-sm bg-yellow-gold"> Update</button>
                        <button class="btn btn-sm bg-grey-silver"><i class="fa fa-print"></i> Print Bag Tag</button>

                        <button class="btn btn-sm bg-grey-silver" style="float:right;"><i class="fa fa-print"></i> Print Delivery Challan</button>
                        <button class="btn btn-sm bg-purple-plum" style="float:right;">Finalize & Deliver</button>

                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>