<div class="modal-body">
    <div class="portlet grey-cascade box">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

        <div class="portlet-title">
            <div>
                <h3 style="padding-top:10px;margin-top:3px;">
                    Search: Delivery Challan
                    <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                </h3>
            </div>
        </div>
        <div class="portlet-body">

            <table class="table table-condensed table-striped borderless" style="margin-bottom:5px;">

                <thead>
                    <tr style="border: 1px solid #cecece;">

                        <th style="width:8%">
                            Challan:
                            <input type="text"  class="form-control" placeholder="Auto Complete"/>
                        </th>

                        <th style="width:10%">
                            Buyer:
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.ProgramTypeDs" ng-model="form.MC_DELV_WH_ID"></select>
                        </th>
                        <th style="width:10%">

                            Style:
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.ProgramTypeDs" ng-model="form.MC_DELV_WH_ID"></select>
                        </th>

                        <th style="width:10%">
                            Order:
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.ProgramTypeDs" ng-model="form.MC_DELV_WH_ID"></select>
                        </th>
                        
                        <th style="width:13%">
                            Color
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.DeliveryToListDs" ng-model="form.MC_DELV_WH_ID"></select>

                        </th>

                        <th style="width:10%">
                            Status
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.DeliveryToListDs" ng-model="form.MC_DELV_WH_ID"></select>

                        </th>

                        <th style="width:10%">
                            Service (Wash/SC Recv)
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.DeliveryToListDs" ng-model="form.MC_DELV_WH_ID"></select>

                        </th>

                        <th style="width:13%">
                            DeliveryTo
                            <select class="form-control" kendo-drop-down-list name="MC_DELV_WH_ID" k-option-label="'--Select --'"
                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_DELV_WH_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.DeliveryToListDs" ng-model="form.MC_DELV_WH_ID"></select>

                        </th>


                    </tr>

                </thead>
            </table>

            <table class="table table-condensed table-striped table-bordered" style="padding:5px;">

                <thead>
                    <tr class="site-table-header">
                        <th style="width:5%;">
                            <small>
                                Challan No
                            </small>

                        </th>

                        <th style="width:5%;">
                            <small>
                                Buyer
                            </small>

                        </th>

                        <th style="width:7%;">
                            <small>
                                Style
                            </small>

                        </th>

                        <th style="width:7%;">
                            <small>
                                Order
                            </small>

                        </th>

                        <th style="width:10%;">
                            <small>
                                Color
                            </small>

                        </th>
                        

                        <th style="width:7%;">
                            <small>
                                DeliveryTo
                            </small>
                        </th>


                        <th style="width:5%;">
                            <small>
                                # of Bag
                            </small>

                        </th>

                        <th style="width:5%;">
                            <small>
                                Qty
                            </small>
                        </th>
                        <th style="width:3%;">
                           <small>Act</small>
                        </th>

                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            DEL-001
                        </td>

                        <td>
                            Lindex
                        </td>

                        <td>
                            7871-001
                        </td>
                        <td>
                            9888
                        </td>

                        <td>
                            Blue Mellange
                        </td>



                        <td>
                            30
                        </td>

                        <td>
                            1
                        </td>


                        <td>
                            600
                        </td>
                        <td>
                            <a class="btn btn-xs bg-grey-cascade" ng-click="cancel()">
                                <i class="fa fa-send-o"></i> Select
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>