@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{

    <script src="~/Areas/Knitting/Client/app/services/fileUploader.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/config.knittingRoute.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/services/knittingDataService.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/fabricProductionKnittingOrderController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnPurchaseRequisitionController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/generalBufferYarnRequisitionController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/generalBufferYarnRequisitionListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnReceiveController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnReceiveListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnOpeningBalanceController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanJobCardController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntSubContProgController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/jobCardDashboardController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/scProgramListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KntMachnOpratorAssignController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueListController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueRequisitionController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueRequisitionListController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueReturnRequisitionListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueReturnRequisitionController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnIssueReturnController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/kntReportController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntYrnStkListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanJobCardRollProdController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMCLoadingPlanController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/YarnReqInHouseProdModalController.js?v=3"></script>


    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntGreyFabRcvController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/kntGreyFabDelvController.js?v=3"></script>


    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestReqListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestReqController.js?v=3"></script>


    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestIssueController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestIssueListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntCollarCuffOrdReqController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntCollarCuffOrdProdController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntCollarCuffStrRcvController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMachineProfileController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/yarnApprovalWithoutTestController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestIssueReturnRequisitionListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestIssueReturnRequisitionController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnTestIssueReturnController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/jobCardDashboardModalController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanJobCardSRController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanJobCardCollarCuffController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/YarnIssueReturnListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntDailyProdController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntFabricStoreStkController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/yarnRtnToSupReqListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnRtnToSupReqController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntSmplProdOrdMnulController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMCLoadingPlanPendingController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnRtnToSupReqListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/yarnRtnToSupReqController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntSmplProdOrdMnulController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntShortProdOrdController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntScoGreyFabRcvFromPartyController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/DailyTrimsReceiveController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/DailyTrimsReceiveListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/scYarnRcvChallanHController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/DailyTrimsAccesoriesController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntScoGreyFabRtnToPartyController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/styleDItemFabKntController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitYdProgramController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntScoProgTransController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitYdProgramListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntSciGreyFabRtnFromPartyController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KntScoCollarCuffProg.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitYdYarnRecvController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitYdYrnRecvListController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanYdController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanJobCardYdController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMcOilReq4SubStrController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMcNeedleBrokenController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMcnNeedleOpnBalController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntMcnNeedleAssignController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntScoBillProcController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntSciBillProcController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntPlnJobCardCollarCuffScoController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntSciYarnWipTranController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntYdProcLossAdjController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntOrdWiseGreyTrnReqController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntFabBk4LabdipController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntYdRecvChalnController.js?v=3"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/kntScoYdTrChalnHController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/lblPrinterCfgModalController.js?v=3"></script>



    @*========== Other Module's Service ==========*@
    <script src="~/Areas/Merchandising/Client/app/services/mrcDataService.js?v=3"></script>

    @*========== Other Module's Controller ==========*@
    <script src="~/Areas/Merchandising/Client/app/controllers/colourMasterModalController.js?v=3"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/DailyMachineOilConsumptionController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/DailyMachineOilConsumptionListController.js"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/KnitPlanYarnTestReqController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitPlanYarnTestReqListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/YarnTestResultListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitYarnTestRptController.js"></script>


    <script src="~/Areas/Knitting/Client/app/controllers/knitYdYarnRecvTrnsController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/jobCardDashboardYdRecvTrnsModalController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitPlanYdTrnsController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitScPartyRateController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitYdStatementController.js"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/KnitYarnTestRegisterController.js"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/McnNeedleReqListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/McnNeedleReqController.js"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/McnNeedleIssueListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/McnNeedleIssueController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/AdvPurReqController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/AdvPurReqListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/PurchasePlanListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/ComparativeStatementController.js"></script>
    @*<script src="~/Areas/Knitting/Client/app/controllers/GeneratePOController.js"></script>*@
    <script src="~/Areas/Knitting/Client/app/controllers/KnitMCOilOBController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitMcNeedleRcvListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitMcNeedleRcvController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitMcOilRcvListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitMcOilRcvController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/KnitUserRequisitionMapController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitYdProgramYarnReqModalController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/knitCardUnAssignQtyModalController.js"></script>

    <script src="~/Areas/Knitting/Client/app/controllers/yarnReceiveViewController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/PartyWiseYarnIssueChallanListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/PartyWiseYarnIssueChallanController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/YarnRtnToSupIssueListController.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/YarnRtnToSupIssueController.js"></script>


}
