@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{



    <script src="~/Areas/IE/Client/App/config.ieRoute.js?v=2"></script>
    <script src="~/Areas/IE/Client/app/services/ieDataService.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/gmtStylItmController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/itemOprSpecController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/GmtWashReqListController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/GmtWashReqController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/sewingTargetSettingController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/orderAllocationCnfModalController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/ieManMinsAdjustmentController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/gmtIeNptModalController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/outOfPlanProdEntryModalController.js?v=2"></script>
    @*========== Other Module's Service ==========*@
    <script src="~/Areas/Planning/Client/app/services/planningDataService.js?v=2"></script>
    @*========== Other Module's Controller ==========*@
    <script src="~/Areas/Planning/Client/app/controllers/partProcessSpecController.js?v=2"></script>
    <script src="~/Areas/IE/Client/App/controllers/ieGmtItemVariationController.js?v=2"></script>
}
