@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{
    <script src="~/Areas/Purchase/Client/app/config.purchaseRoute.js"></script>
    <script src="~/Areas/Purchase/Client/app/services/purchaseDataService.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/supplierProfileController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/supplierListController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/GeneratePOListController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/GeneratePOController.js"></script>

    <script src="~/Areas/Purchase/Client/app/controllers/PurchaseRequisitionListController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/PurchaseRequisitionController.js"></script>

    <script src="~/Areas/Purchase/Client/app/controllers/FundRequisitionController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/FundRequisitionListController.js"></script>

    <script src="~/Areas/Purchase/Client/app/controllers/GeneralPOListController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/GeneralPOController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/CertificateTypeController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/CertificateListController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/CertificateController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/AddFabBkingRptController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/InvAdjListController.js"></script>
    <script src="~/Areas/Purchase/Client/app/controllers/InvAdjController.js"></script>


}