@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#">Advance Salary Request</a>
    </li>
</ul>



<div class="portlet box blue-dark">

    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Advance Salary Request
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body form">

        <input id="antiForgeryToken" data-ng-model="Token" type="hidden"
               data-ng-init="Token='@GetAntiForgeryToken()'" />

        <form class="form-horizontal" role="form" name="AdvSalForm" novalidate action="/Hr/HrReport/PreviewReport" method="post" target="_blank">
            <div class="form-body clearfix">
                <div class="row" style="padding-top:10px; padding-left:18px;padding-right:10px;">
                    <input hidden="hidden" ng-model="SC_MENU_ID" />
                    <input hidden="hidden" ng-model="vm.form.SC_MENU_ID" />
                    <input type="hidden" name="IS_SUBMIT" ng-model="vm.form.IS_SUBMIT" />

                    <input type="hidden" name="HR_SAL_ADVANCE_ID" value="{{vm.form.HR_SAL_ADVANCE_ID}}" />
                    <input type="hidden" name="REPORT_CODE" value="RPT-1005" />
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <br />
                            <br />
                            Applicant
                        </label>
                        <div class="col-md-3">

                            <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 0px;">

                                <h4 class="text-primary">{{vm.form.EMP_FULL_NAME_EN}} </h4>
                                <h5>{{vm.form.EMPLOYEE_CODE}}</h5>
                                <h5>{{vm.form.DESIGNATION_NAME_EN}},{{vm.form.DEPARTMENT_NAME_EN}} </h5>
                                <h5>Date of Joining :{{vm.form.JOINING_DT}} </h5>
                                <h5>Gross Salary: {{vm.form.GROSS_SALARY}}</h5>
                            </div>


                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Advance Ref. No.@ViewBag.LK_ACTION_TYPE_ID</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="vm.form.ADV_REF_NO" readonly />
                        </div>

                        <label class="col-md-2 control-label">@*Last Ref. No.*@</label>
                        <div class="col-md-3">
                            @*<input type="text" class="form-control" ng-model="vm.form.LAST_ADV_REF" readonly />*@
                        </div>
                        <div class="col-md-1"></div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Requesting Date </label>
                        <div class="col-md-3 input-group">
                            <input type="text" class="form-control" name="ADV_RQST_DATE" datepicker-popup="{{format}}" ng-model="vm.form.ADV_RQST_DATE" is-open="ADV_RQST_DATEopened" datepicker-options="dateOptions" close-text="Close" readonly />
                            <span class="input-group-btn">
                                <button type="button" class="btn-calendar" ng-click="ADV_RQST_DATEopen($event)" ng-disabled="true"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Advance Type
                        </label>
                        <div class="col-md-3">
                            <select class="form-control" name="LK_ADV_TYPE_ID" ng-model="vm.form.LK_ADV_TYPE_ID" ng-options="item.LOOKUP_DATA_ID as item.LK_DATA_NAME_EN for item in vm.advanceType" required ng-disabled="vm.RequestDetails"></select>

                            <div ng-messages="AdvSalForm.LK_ADV_TYPE_ID.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.LK_ADV_TYPE_ID.$touched">
                                <div ng-message="required" class="field-validation-error">Advance Type field is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-3">
                            <div ng-messages="AdvSalForm.ADV_RQST_DATE.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.ADV_RQST_DATE.$touched">
                                <div ng-message="required" class="field-validation-error">Requesting Date field is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Amount Applied for</label>
                        <div class="col-md-2">
                            <input type="text" name="ADV_RQST_AMT" ng-model="vm.form.ADV_RQST_AMT" class="form-control" ui-number-mask="0" required ng-disabled="vm.RequestDetails" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-3">
                            <div ng-messages="AdvSalForm.ADV_RQST_AMT.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.ADV_RQST_AMT.$touched">
                                <div ng-message="required" class="field-validation-error">Advance Amount field is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="vm.level==3||vm.level==4">
                        <label class="col-md-3 control-label">Amount Approved</label>
                        <div class="col-md-2">
                            <input type="text" name="ADV_APRV_AMT" ng-model="vm.form.ADV_APRV_AMT" class="form-control" ui-number-mask="0" required ng-disabled="vm.level==4" />
                        </div>

                        <div ng-messages="AdvSalForm.ADV_APRV_AMT.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.ADV_APRV_AMT.$touched">
                            <div ng-message="required" class="field-validation-error">Amount Approved field is required</div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">No. of Installment</label>
                        <div class="col-md-2">
                            <input type="number" min="0" name="NO_OF_INSTL" ng-model="vm.form.NO_OF_INSTL" class="form-control" ng-disabled="vm.disableNoOfInstallment" required />
                        </div>
                        @*<label class="col-md-1 control-label" ng-if="vm.level==4">Slab #</label>
                            <div class="col-md-1" ng-if="vm.level==4">
                                <input type="text" name="NO_OF_SLAB" ng-model="vm.form.NO_OF_SLAB" ui-number-mask="0" class="form-control" ng-disabled="vm.form.IS_SLAB>0" />
                            </div>*@
                        <div class="col-md-1" ng-if="vm.level==4">
                            <a class="btn btn-xs blue" ng-click="openModalForMakingSchedule(vm.form)" ng-disabled="vm.form.LK_ADV_TYPE_ID==147">
                                <i class='fa fa-edit'></i>
                                Schedule
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-3" ng-messages="AdvSalForm.NO_OF_INSTL.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.NO_OF_INSTL.$touched">
                            <div ng-message="required" class="field-validation-error">No. of Installment field is required</div>
                            <div ng-message="max" class="field-validation-error">No. of installment is invalid</div>
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-md-3 control-label">Installment/Month</label>


                        <div class="col-md-2">
                            <input type="text" name="INSTL_AMT" ng-model="vm.form.INSTL_AMT" class="form-control" ui-number-mask="0" readonly />
                        </div>
                        <div class="col-md-1"></div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Deduction Start From </label>
                        <div class="col-md-3 input-group">
                            <input type="text" class="form-control" name="DEDU_ST_DT" datepicker-popup="{{format}}" ng-model="vm.form.DEDU_ST_DT" is-open="DEDU_ST_DTopened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-disabled="vm.disableNoOfInstallment" />
                            <span class="input-group-btn">
                                <button type="button" class="btn-calendar" ng-click="DEDU_ST_DTopen($event)" ng-disabled="vm.disableNoOfInstallment"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>

                    </div>





                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-3" ng-messages="AdvSalForm.DEDU_ST_DT.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.DEDU_ST_DT.$touched">
                            <div ng-message="required" class="field-validation-error">Deduction Start From field is required</div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label">Reason of Advance</label>
                        <div class="col-md-5">
                            <textarea rows="3" name="REASON_ADV" class="form-control" cols="50" ng-model="vm.form.REASON_ADV" required ng-disabled="vm.RequestDetails"></textarea>
                            <div ng-messages="AdvSalForm.REASON_ADV.$error" ng-if="AdvSalForm.$submitted || AdvSalForm.REASON_ADV.$touched">
                                <div ng-message="required" class="field-validation-error">Reason of Advance field is required</div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Remarks</label>
                        <div class="col-md-5">
                            <textarea rows="3" name="REMARKS" class="form-control" cols="50" ng-model="vm.form.REMARKS" ng-disabled="vm.RequestDetails"></textarea>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="form-group" ng-if="vm.level==1||vm.level==2||vm.level==3">
                        <label class="col-md-3 control-label">Your Comments</label>
                        <div class="col-md-5">
                            <textarea rows="3" class="form-control" cols="50" ng-model="vm.form.REMARKS_APR"></textarea>
                        </div>
                        <div class="col-md-1"></div>
                    </div>




                </div>




                <div class="form-actions" ng-if="vm.level==0">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-3">

                            <button type="button" ng-if="vm.editMode" ng-click="vm.updateData(vm.form,Token,AdvSalForm.$valid)" class="btn btn-sm yellow-gold" ng-class="{'disabled':!AdvSalForm.$valid}">Update</button>
                            <button type="button" ng-if="!vm.editMode" ng-click="vm.saveData(vm.form,Token,AdvSalForm.$valid)" class="btn btn-sm green" ng-class="{'disabled':!AdvSalForm.$valid}">Save</button>
                            <button type="button" class="btn btn-sm default" ui-sref="UserDashBoard">Cancel</button>

                        </div>
                        <div class="col-md-4" align="left">
                            <button type="button" ng-if="vm.editMode" class="btn btn-sm blue" ng-click="vm.submitData(vm.form,Token,AdvSalForm.$valid)" ng-disabled="vm.saveChanges">Apply</button>
                        </div>
                    </div>
                </div>

                <div class="form-actions" ng-if="vm.level==1">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" ng-click="vm.saveDataForSectionHead(vm.form,Token,AdvSalForm.$valid)" class="btn btn-sm green" ng-class="{'disabled':false}">Save</button>
                            <button type="button" class="btn btn-sm default" ui-sref="UserDashBoard">Cancel</button>

                        </div>
                        <div class="col-md-3" align="left">
                            <button type="button" class="btn btn-sm blue" ng-click="vm.advApprove(vm.form,Token,151)" ng-disabled="vm.saveChanges">Recomend</button>
                            <button type="button" class="btn btn-sm red" ng-click="vm.advApprove(vm.form,Token,118)">Reject</button>
                        </div>
                    </div>
                </div>


                <div class="form-actions" ng-if="vm.level==2">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" ng-click="vm.saveDataForSectionHead(vm.form,Token,AdvSalForm.$valid)" class="btn btn-sm green" ng-class="{'disabled':false}">Save</button>
                            <button type="button" class="btn btn-sm default" ui-sref="UserDashBoard">Cancel</button>

                        </div>
                        <div class="col-md-3" align="left">
                            <button type="button" class="btn btn-sm blue" ng-click="vm.advApprove(vm.form,Token,119)" ng-disabled="vm.saveChanges">Verify & Forward</button>
                        </div>
                    </div>
                </div>

                <div class="form-actions" ng-if="vm.level==3">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" ng-click="vm.saveDataForSectionHead(vm.form,Token,AdvSalForm.$valid)" class="btn btn-sm green" ng-class="{'disabled':false}">Save</button>
                            <button type="button" class="btn btn-sm default" ui-sref="UserDashBoard">Cancel</button>

                        </div>
                        <div class="col-md-3" align="left">
                           
                            <button type="button" class="btn btn-sm blue" ng-click="vm.advApprove(vm.form,Token,123)" ng-disabled="vm.saveChanges">Approve</button>
                            <button type="button" class="btn btn-sm red" ng-click="vm.advApprove(vm.form,Token,118)">Reject</button>
                        </div>
                    </div>
                </div>

                <div class="form-actions" ng-if="vm.level==4">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" class="btn btn-sm default" ui-sref="UserDashBoard">Cancel</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-sm blue" type="submit">
                                <i class="fa fa-print"></i> Print Application
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>

</div>


@*<script type="text/ng-template" id="AdvSalaryModal.html">
            <div class="modal-header">
                <h5 class="title">
                     Ref. # {{item.ADV_REF_NO}}
                    <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                </h5>
            </div>
        <div class="modal-body">
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        Slab #
                                    </th>
                                    <th>
                                       No. of Installment
                                    </th>
                                    <th>
                                        Installment/Month
                                   </th>

                               </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="itm in item.items">
                                    <td>
                                        {{itm.SLAB_NO}}
                                    </td>
                                    <td>
                                        <input type="number" ng-model="itm.NO_OF_INSTL" value=" " ng-change="checkData(item)" />
                                    </td>
                                    <td>
                                        <input type="number" ng-model="itm.INSTL_AMT" value=" " ng-change="checkData(item)" />
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-4">
                                <button type="button" ng-click="save(item)" class="btn btn-sm green" ng-class="{'disabled':disableSave}">Save</button>
                                <button type="button" class="btn btn-sm default" ng-click="cancel()">Cancel</button>

                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </script>*@


<script type="text/ng-template" id="AdvSalaryModal.html">
    <div class="modal-header">
        <h5 class="title">
            Ref. # {{item.ADV_REF_NO}} <br />
            {{item.EMP_FULL_NAME_EN}}
            <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
        </h5>
    </div>
    <div class="modal-body">
        <div class="portlet-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Slab #
                            </th>
                            <th>
                                No. of Installment
                            </th>
                            <th>
                                Installment/Month
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="itm in item.items" ng-if="!itm.CAN_BE_DEL==1">
                            <td>
                                <input type="number" style="width:50px;" ng-model="itm.SLAB_NO" ng-disabled="((itm.NO_OF_INSTL||0)-itm.TOT_INSTL_PAID)==0 && itm.TOT_INSTL_PAID>0" />
                            </td>
                            <td>
                                <input type="number" ng-model="itm.NO_OF_INSTL" ng-disabled="((itm.NO_OF_INSTL||0)-itm.TOT_INSTL_PAID)==0 && itm.TOT_INSTL_PAID>0" />
                            </td>
                            <td>
                                <input type="number" ng-model="itm.INSTL_AMT" ng-disabled="((itm.NO_OF_INSTL||0)-itm.TOT_INSTL_PAID)==0 && itm.TOT_INSTL_PAID>0" />
                            </td>
                            <td>


                                <a ng-click="remove($index)" class="btn btn-xs red" ng-disabled="((itm.NO_OF_INSTL||0)-itm.TOT_INSTL_PAID)==0||item.items.length==1">
                                    <i class="fa fa-times"></i> Remv
                                </a>

                                <a class="btn btn-xs green" ng-click="add()" ng-show="(itm.NO_OF_INSTL-itm.TOT_INSTL_PAID)>0">
                                    <i class="fa fa-plus"></i> Slab
                                </a>

                            </td>

                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td><b>{{sumInstl}}</b></td>
                            <td><b>{{sumAmt}}</b></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-3 col-md-offset-4">
                        <button type="button" ng-click="save(item)" class="btn btn-sm green" ng-class="{'disabled':disableSave}">Save</button>
                        <button type="button" class="btn btn-sm default" ng-click="cancel()">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</script>



