@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{


    <script src="~/Areas/Commercial/Client/app/config.cmrRoute.js"></script>
    <script src="~/Areas/Commercial/Client/app/services/cmrDataService.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/BuyerNotifyPartyController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ReferenceTypeController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/IncoTermController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/PaymentTermController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/DeliveryPlaceController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/TransitPortController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ExpLcContractListController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ExpLcContractController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/BuyerNotifyPartyModalController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/LCTypeController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ShipModeController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/GmtAsnController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ExpLcPIListController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ExpLcPIController.js"></script>

    <script src="~/Areas/Commercial/Client/app/controllers/ImpLcPIListController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ImpLcPIController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ImpLcPOPIReviseController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ImpLcListController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/ImpLcController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/LcUDController.js"></script>
    <script src="~/Areas/Commercial/Client/app/controllers/LcUDListController.js"></script>


}