@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}



@section angularscripts{
    <script src="~/Areas/Inventory/Client/app/config.inventoryRoute.js?v=2"></script>
    <script src="~/Areas/Inventory/Client/app/services/inventoryDataService.js?v=2"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/itemCategoryController.js?v=2"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/itemController.js?v=2"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/assignUserCategoryController.js?v=2"></script>

    <script src="~/Areas/Inventory/Client/app/controllers/storeProfileController.js?v=2"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/ScmStoreReceiveListController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/ScmStoreReceiveController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/MoUConversionController.js"></script>

    <script src="~/Areas/Inventory/Client/app/controllers/ScmReceiveReturnListController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/ScmReceiveReturnController.js"></script>

    <script src="~/Areas/Inventory/Client/app/controllers/generalStoreTransferListController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/generalStoreTransferController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/GeneralStoreTransferIssueController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/GeneralStoreRequisitionListController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/GeneralStoreRequisitionController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/GeneralStoreIssueListController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/GeneralStoreIssueController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/InvReportController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/OpeningBalController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/StrInActiveItemController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/StrIssRtnListController.js"></script>
    <script src="~/Areas/Inventory/Client/app/controllers/StrIssRtnController.js"></script>

}