
@*<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#">Assign Schedule By Team</a>
    </li>
</ul>*@


@{
    ViewBag.Title = "Assign Schedule";
}



<div data-ui-view class="shuffle-animation"></div>










