<style>
    .hackyhack {
        position: relative;
    }

        .hackyhack .dropdown-menu {
            left: auto !important;
            right: 0px;
        }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">

    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
            </div>
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">

            <fieldset class="custom-fieldset col-md-2" style="">
                <legend class="custom-legend"><b>PO List</b></legend>
                <div class="input-icon right" style="padding-bottom:3px;">
                    <i class="icon-magnifier"></i>
                    <input type="text" class="form-control form-control-solid" ng-model="q" placeholder="search..." ng-change="vm.PoMasterList.filter( { field:'PO_NO_IMP', operator :'contains', value: q })" ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }">
                </div>

                <div kendo-list-view
                     k-selectable="'single'"
                     k-data-source="vm.PoMasterList"
                     k-on-change="vm.onChangePO(dataItem)">
                    <div k-template>
                        <dd class="k-state-default" style="padding: 5px; border-bottom: solid 1px; border-color: lightgray; ">
                            {{dataItem.PO_NO_IMP}}
                        </dd>
                    </div>
                </div>
                <div kendo-pager k-data-source="vm.PoMasterList"></div>
            </fieldset>

            <fieldset class="custom-fieldset col-md-10" style="width: 82.7%">
                <fieldset class="custom-fieldset">
                    <legend class="custom-legend"><b>Master Data</b></legend>
                    <div><label id="lblMsgSub"></label></div>
                    <div class="row" style="padding-left: 5px; padding-right: 5px;">

                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-1">
                                </div>
                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Supplier/Spinner
                                </label>
                                <div class="col-md-3" ng-if="!vm.form.CM_IMP_PO_H_ID>0">

                                    <select class="form-control required requiredSub" kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID"
                                            k-option-label="'-- Select Supplier/Spinner --'" k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.supplierList" k-delay="vm.supplierList"
                                            k-filter="'contains'" ng-model="vm.form.SCM_SUPPLIER_ID" k-on-change="vm.loadPendingRequest(kendoEvent)"></select>
                                </div>
                                <div class="col-md-3" ng-if="vm.form.CM_IMP_PO_H_ID>0">

                                    <select kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID" class="form-control required"
                                            options="vm.supplierList" ng-model="vm.form.SCM_SUPPLIER_ID" ng-disabled="vm.form.CM_IMP_PO_H_ID>0"></select>
                                    @*<select class="form-control required requiredSub" kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID"
                                        k-option-label="'-- Select Supplier/Spinner --'" k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.supplierList" k-delay="vm.supplierList"
                                        k-filter="'contains'" ng-model="vm.form.SCM_SUPPLIER_ID" k-on-change="vm.loadPendingRequest(kendoEvent)"></select>*@
                                </div>
                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Source Type
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="LK_LOC_SRC_TYPE_ID" id="LK_LOC_SRC_TYPE_ID" class="form-control required"
                                            options="vm.sourceTypeList" ng-model="vm.form.LK_LOC_SRC_TYPE_ID"></select>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-1">
                                </div>
                                <label class="col-md-2 control-label">
                                    <span aria-required="true" class="required">*</span>
                                    Atten. To
                                </label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control required" ng-model="vm.form.CP_NAME_EN" />

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-1">
                                </div>
                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required"></span>
                                    PO No
                                </label>
                                <div class="col-md-3">
                                    <input type="text" name="PO_NO_IMP" placeholder="[Auto Gen]" ng-model="vm.form.PO_NO_IMP" readonly="readonly" class="form-control" />
                                    <input type="hidden" id="CM_IMP_PO_H_ID" name="CM_IMP_PO_H_ID" ng-model="vm.form.CM_IMP_PO_H_ID" />
                                </div>

                                <label class="col-md-2 control-label">
                                    <span aria-required="true" class="required">*</span>
                                    Date of PO
                                </label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control required" ng-click="PO_DT_IMP_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                           name="PO_DT_IMP" max-date="vm.today" ng-model="vm.form.PO_DT_IMP" is-open="PO_DT_IMP_LNopened"
                                           datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />

                                </div>
                            </div>
                        </div>


                        <div class="row" ng-if="vm.form.IS_REVISE == true">
                            <div class="form-group">


                                <label class="control-label col-md-3">
                                    <span aria-required="true" class="required">*</span>
                                    Revised #
                                </label>
                                <div class="col-md-3">

                                    <input type="text" name="REVISION_NO" ng-model="vm.form.REVISION_NO" class="form-control required" />

                                </div>
                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Revised Date
                                </label>
                                <div class="col-md-2">

                                    <input type="text" name="REVISION_DT" ng-model="vm.form.REVISION_DT" class="form-control required" max-date="vm.today"
                                           ng-click="REVISION_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" is-open="REVISION_DT_LNopened"
                                           datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                </div>

                            </div>
                        </div>

                        <div class="row" ng-if="vm.form.IS_REVISE == true">
                            <div class="form-group">

                                <label class="control-label col-md-3">
                                    <span aria-required="true" class="required">*</span>
                                    Reason for Revised
                                </label>
                                <div class="col-md-8">
                                    <textarea name="REV_REASON" ng-model="vm.form.REV_REASON" class="form-control required" />
                                </div>
                                @*PI_REV_AMT*@
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    Applicant/Beneficiary
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="HR_COMPANY_ID" class="form-control required"
                                            options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID"></select>
                                </div>
                                <label class="control-label col-md-2">
                                    Delivery To
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="DELV_STORE_ID" class="form-control required"
                                            options="vm.storeList" ng-model="vm.form.DELV_STORE_ID"></select>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-3  control-label">
                                    Billed To
                                </label>

                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="BILL_TO_COMP_ID" class="form-control required"
                                            options="vm.companyList" ng-model="vm.form.BILL_TO_COMP_ID"></select>

                                </div>
                                <div class="col-md-2">

                                    <input type="checkbox" ng-model="vm.form.SAME" id="SAME" name="SAME" ng-change="vm.copyCompany(vm.form.SAME);" /><label for="SAME">Same as Company!</label>
                                </div>


                            </div>
                        </div>


                    </div>
                </fieldset>

                <fieldset class="custom-fieldset">
                    <legend class="custom-legend"><b>Terms & Condition</b></legend>
                    <div class="row" style="padding-left: 5px; padding-right: 5px;">

                        <div class="row">
                            <div class="form-group">

                                <label class="control-label col-md-3">
                                    <span aria-required="true" class="required">*</span>
                                    Inco Term
                                </label>
                                <div class="col-md-1" style="padding-right:0px;">

                                    <select kendo-drop-down-list name="RF_INCO_TERM_ID" class="form-control required"
                                            options="vm.incoTermList" ng-model="vm.form.RF_INCO_TERM_ID"></select>
                                </div>
                                <div class="col-md-2">

                                    <select kendo-drop-down-list name="RF_DELV_PLC_ID" class="form-control required"
                                            options="vm.deliveryPlaceList" ng-model="vm.form.RF_DELV_PLC_ID"></select>
                                </div>
                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Payment Term
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="RF_PAYM_TERM_ID" class="form-control required"
                                            options="vm.paymentTermList" ng-model="vm.form.RF_PAYM_TERM_ID"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-1">
                                </div>
                                <label class="control-label col-md-2 ">
                                    <span aria-required="true" class="required">*</span>
                                    Payment Method
                                </label>
                                <div class="col-md-3">
                                    <select kendo-drop-down-list name="RF_PAY_MTHD_ID" id="RF_PAY_MTHD_ID" class="form-control required"
                                            options="vm.paymentMethodList" ng-model="vm.form.RF_PAY_MTHD_ID" tabindex="5" required></select>
                                </div>

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Mode of Shipment
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="RF_SHIP_MODE_ID" class="form-control required"
                                            options="vm.shipModeList" ng-model="vm.form.RF_SHIP_MODE_ID"></select>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">


                                <label class="control-label col-md-3">
                                    <span aria-required="true" class="required">*</span>
                                    Currency
                                </label>
                                <div class="col-md-3">
                                    <select kendo-drop-down-list name="RF_CURRENCY_ID" class="form-control required"
                                            options="vm.currencyList" ng-model="vm.form.RF_CURRENCY_ID"></select>
                                </div>
                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required"></span>
                                    Cash Supplier
                                </label>
                                <div class="col-md-3">

                                    <input type="text" name="CASH_SUPL_NAME" ng-model="vm.form.CASH_SUPL_NAME" class="form-control" />
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <label class="control-label col-md-3">
                                    <span aria-required="true" class="required">*</span>
                                    Other Term
                                </label>
                                <div class="col-md-8">

                                    <textarea name="TERMS_DESC" ng-model="vm.form.TERMS_DESC" class="form-control required" />

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <label class="control-label col-md-3">
                                    <span aria-required="true" class="required"></span>
                                    Remarks
                                </label>
                                <div class="col-md-8">

                                    <textarea name="REMARKS" ng-model="vm.form.REMARKS" class="form-control" />

                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>

                <fieldset class="custom-fieldset" style="background-color:white;">
                    <legend class="custom-legend"><b>Details Data</b></legend>
                    <div style="overflow-x:scroll;">
                        <table class="clsTableMtex">
                            <tr class="clstheadMtex">
                                <td class="clstdMtex" title="Select All">

                                    <input type="checkbox" ng-model="vm.form.IS_SELECT" ng-click="vm.SelectAll(vm.form.IS_SELECT)" />
                                </td>
                                <td class="clstdMtex">
                                    <b>Requisition #</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Order Info</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Yarn Item</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Brand</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Lot Ref.</b>
                                </td>

                                <td class="clstdMtex">
                                    <b>Order Qty</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Unit Price</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Amount</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Delivery Date</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Copy</b>
                                </td>
                            </tr>


                            <tr class="clstdMtex" ng-repeat="item in vm.RequisitionItemList">
                                <td class="clstdMtex" title="Select">
                                    <input type="checkbox" ng-model="item.IS_SELECT" />
                                </td>
                                <td class="clstdMtex" style="min-width:150px;">
                                    {{item.PURC_REQ_NO}}
                                    <input type="hidden" ng-model="item.CM_IMP_PO_D_YRN_ID" />
                                    <input type="hidden" ng-model="item.CM_IMP_PO_D_ID" />
                                </td>
                                <td class="clstdMtex">
                                    {{item.ORDER_DTL}}
                                </td>
                                <td class="clstdMtex" style="min-width:150px;">
                                    {{item.ITEM_NAME_EN}}
                                    <input type="hidden" ng-model="item.INV_ITEM_ID" />

                                </td>
                                <td class="clstdMtex">
                                    {{item.BRAND_NAME_EN}}
                                </td>
                                <td class="clstdMtex">
                                    {{item.LOT_REF_NO}}
                                </td>

                                <td class="clstdMtex">
                                    {{item.CONF_QTY}} Kg
                                    @*<input type="number" ng-model="item.CONF_QTY" style="max-width: 50px;" />*@
                                </td>

                                <td class="clstdMtex">
                                    {{item.CONF_RATE}}
                                    @*<input type="number" ng-model="item.CONF_RATE" style="max-width: 50px;" />*@
                                </td>

                                <td class="clstdMtex">
                                    {{(item.CONF_QTY*item.CONF_RATE)|number:2}}

                                    @*<textarea ng-model="item.REMARKS" />*@
                                </td>

                                <td class="clstdMtex hackyhack">
                                    <input type="text" class="form-control required" ng-click="DELV_TGT_DT_LNopen($event,$index)" datepicker-popup="{{vm.dtFormat}}"
                                           name="DELV_TGT_DT_{{$index}}" min-date="vm.today" ng-model="item.DELV_TGT_DT" is-open="DELV_TGT_DT_LNopened[$index]"
                                           datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" style="width:120px;" />

                                </td>

                                <td class="clstdMtex">
                                    <a ng-click="vm.copyDown(item,$index)"><i class="fa fa-arrow-down"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>

                <div style="padding:3px;">
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm blue" ui-sref="GeneratePOList">Back To List</button>

                        <button type="button" ng-if="vm.form.CM_IMP_PO_H_ID>0 && vm.form.IS_REVISE == true" class="btn btn-sm green" ng-click="vm.reviseAll(vm.form);">Revise</button>
                        <button type="button" ng-if="vm.form.CM_IMP_PO_H_ID>0 && vm.form.IS_REVISE == false" class="btn btn-sm green" ng-click="vm.submitAll(vm.form);">Submit</button>
                        <button type="submit" ng-if="vm.form.CM_IMP_PO_H_ID>0 && vm.form.IS_REVISE == false" class="btn btn-sm yellow-gold" ng-click="vm.submitAll(vm.form);">Update</button>
                        <button type="submit" ng-if="!vm.form.CM_IMP_PO_H_ID>0 && vm.form.IS_REVISE == false" class="btn btn-sm green" ng-click="vm.submitAll(vm.form);">Save</button>
                        <button type="submit" ng-if="vm.form.CM_IMP_PO_H_ID>0" class="btn btn-sm blue" ng-click="vm.printPO(vm.form);">Print</button>
                        <button type="button" class="btn btn-sm default" ui-sref="GeneratePO()" ui-sref-opts="{reload: true}">Cancel</button>

                    </div>
                </div>
                <div style="padding:3px;">
                </div>

            </fieldset>
        </div>
    </form>
</div>
