@{
    Layout = "~/Views/Shared/_HtmlRptLayout.cshtml";
}

@{
    ViewBag.Title = "Fabric Booking";
}

<div class="portlet-body" data-ui-view="AddFabBkingRpt"></div>


<!-- END CONTENT -->
@section angularscripts{
    <script src="~/Areas/Purchase/Client/app/controllers/addFabBkingRptController.js"></script>
}