@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Html.Partial("_SideMenu")*@
@*@Html.Action("_SideMenu")*@
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE HEAD -->
        @*<div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Human Resource Management</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>*@
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE BREADCRUMB -->
        <!-- END PAGE BREADCRUMB -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->

        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}



@section angularscripts{
    <script src="~/Areas/Hr/Client/app/services/entity.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrCompanyController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrOfficeController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrShiftPlanController.js?v=1"></script>
    @*<script src="~/Areas/Hr/Client/app/controllers/HrShiftTeamController.js?v=1"></script>*@
    <script src="~/Areas/Hr/Client/app/controllers/HrYearlyCalendarController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrYearlyCalendarEditController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrScheduleController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrScheduleClock.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrScheduleAssignController.js?v=1"></script>


    <script src="~/Areas/Hr/Client/app/controllers/HrReportController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrEmployeeController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrEmployeeListController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrEmployeeSearchController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrEmployeeRejoinController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrAssignEmpAccountController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrEmployeePayController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/hrIncrController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/hrSpecialIncrController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrTaRawDataController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrTaRawDataListController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrTaProcessDataController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/directives/commonHolidayWidget.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/directives/dateCheckWidgets.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/config.hrRoute.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/LeaveTransController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LeaveTransListController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/services/hr.dataService.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LeaveTransData.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LeaveResetController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LeaveResetDataController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/OffDayRoasterController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/OffDayRoasterDataController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrTaProcessDataCorrController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrTaProcessDataCorrDtlController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrDisciplinSearchController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrDisciplinListController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrDisciplinActionController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/AdvSalaryController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LeaveTransEditController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LeaveTransEditDataController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/eLeaveController.js?v=10"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrOtApproveController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrOtEntitledController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrPayBillProcessController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrSalaryProcessController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrSalaryTranController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrDesigPayController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/leaveBalanceModalController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LvAttendanceStatusController.js?v=1"></script>

    <script src="~/Areas/Hr/Client/app/controllers/HrBonusProcessController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/ManulSalaryAdvReqController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/AdvSalaryModalController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/SalaryAdvListController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/LoanSlabModalController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/CountryController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrProductionFloorController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrFloorUIController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/HrBuildingUIController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/compPayPeriodController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/otSummeryApproveController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/mbnBillProcessController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/empTrnfrController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/smsBroadcast2EmpController.js?v=1"></script>
    <script src="~/Areas/Hr/Client/app/controllers/annualLeaveByRandomPersonController.js?v=1"></script>

}