@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Html.Action("_SideMenu")*@

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- /.modal -->
        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE HEAD -->
        @*<div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Human Resource Management</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>*@
        <!-- END PAGE HEAD -->
        <!-- BEGIN PAGE BREADCRUMB -->
        @*<ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="index.html">MultiTex ERP</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Security</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">List of Sub Modules</a>
                </li>
            </ul>*@
        <!-- END PAGE BREADCRUMB -->
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->

        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{
    <!-- re-declare the parent section to extend to referencing view -->

    <script src="~/Areas/Security/Client/app/controllers/SecurityController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/MenuController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ModuleController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ScRoleController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ScRoleMenuController.js"></script>
    <script src="~/Areas/Security/Client/app/config.securityRoute.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ScUserController.js"></script>
    <script src="~/Areas/Security/Client/app/test.module.js"></script>
    <script src="~/Areas/Security/Client/app/directives/DirPasswordCompare.js"></script>
    <script src="~/Areas/Security/Client/app/directives/DirPasswordChecker.js"></script>
    <script src="~/Areas/Security/Client/app/directives/DirValidatePasswordChecker.js"></script>
    <!--Service Source Code-->
    <script src="~/Areas/Security/Client/app/services/security.dataService.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ScUserListController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ModalRoleAssignController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/RequestApprovalWorkFlowController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/UserStoreMapController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/UserOfficeMapController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/ReportTemplateController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/GlobalNotificationController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/serverMaintenanceController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/UserProdCatMapController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/FabDfctTypeMapController.js"></script>
    <script src="~/Areas/Security/Client/app/controllers/BuyerStoreMapController.js"></script>
    

}
