
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <input ng-model="vm.form.CREATED_BY" type="hidden"
               data-ng-init="vm.form.CREATED_BY='@Session["multiScUserId"]'" />

        <input id="access_token" ng-model="vm.form.LAST_UPDATED_BY" type="hidden"
               ng-init="vm.form.LAST_UPDATED_BY='@Session["multiScUserId"]'" />

        <div class="row" style="padding:5px">
            <div class="col-md-1">
                <a ui-sref="YarnTestReq({pKNT_YRN_STR_REQ_H_ID : 0})" class="btn btn-sm blue">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>
        </div>

        <div style="padding:5px;">

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Searching Data</b></legend>
                <table class="clsTable">
                    <thead class="clsthead">
                        <tr>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Yarn Count
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Barnd
                            </th>
                            <th class="clstd" style="width:150px;">
                                <span aria-required="true" class="required"></span>
                                Lot #
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Status
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required"></span>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clstr">
                            <td class="clstd">
                                <select kendo-drop-down-list name="RF_YRN_CNT_ID" id="RF_YRN_CNT_ID" class="form-control"
                                        options="vm.YarnCountList" ng-model="vm.form.RF_YRN_CNT_ID"></select>
                            </td>
                            <td class="clstd">
                                
                                <select kendo-drop-down-list name="RF_YRN_CNT_ID" id="RF_BRAND_ID" class="form-control"
                                        options="vm.categoryBrandList" ng-model="vm.form.RF_BRAND_ID"></select>

                            </td>
                            <td class="clstd" style="width:150px;">

                                <input type="text" name="YRN_LOT_NO" ng-model="vm.form.YRN_LOT_NO" class="form-control" />

                            </td>
                            <td class="clstd">

                                <select kendo-drop-down-list name="LK_YRN_TST_TYPE_ID" id="LK_YRN_TST_TYPE_ID" class="form-control"
                                        options="vm.statusList" ng-model="vm.form.LK_YRN_TST_TYPE_ID"></select>

                            </td>

                            <td class="clstd">
                                <button type="button" class="btn btn-sm default" ng-click="vm.searchData()">Search</button>
                                <button type="button" class="btn btn-sm blue" ng-click="vm.printTestRegister(vm.form)">Print</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </fieldset>

            <kendo-grid k-options="vm.gridOptions" k-data-source="vm.gridOptionsDS"></kendo-grid>
        </div>
    </div>
</div>
