<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Merchandising</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<!-- BEGIN SPLASH -->
<div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
    <div class="page-splash">
        <div class="page-splash-message">
            <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
        </div>
    </div>
</div>
<!-- END SPLASH -->

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" @*ng-bind="vm.Title"*@>
            {{vm.Title}}&nbsp;<span style="color:#ff4600" ng-show="form.RF_ACTN_STATUS_ID == 20"><b>[ Draft ]</b></span><span style="color:#ff4600" ng-show="form.RF_ACTN_STATUS_ID == 63"><b>[ Waiting for Confirmation ]</b></span><span style="color:#ff4600" ng-show="form.RF_ACTN_STATUS_ID == 64"><b>[ Confirmed ]</b></span>
        </div>
        <div class="tools">
            
        </div>
    </div>

    <div class="portlet-body">
        <form role="form" name="YdYrnRevForm" class="form-horizontal">
            @* /Knitting/Knit/KnitYdYrnRecv?a=232/#/KnitYdYrnRecv?ConMode=N&stateBack=KnitYdYrnRecvList *@
            <div class="row" style="text-align:left;margin:auto;" ng-if="vm.params.pKNT_YD_RCV_H_ID">
                <a class="btn btn-xs blue" ui-sref="KnitYdYrnRecv({ConMode: 'N', stateBack: 'KnitYdYrnRecvList'})" ui-sref-opts="{reload:true,inherit:false}">  <i class="fa fa-plus"></i>New Receive</a>
                <a class="btn btn-xs blue" style="float:right;" ng-if="vm.params.pKNT_YD_RCV_H_ID" ng-click="vm.gotoFabricProductionOrder(form.MC_FAB_PROD_ORD_H_ID,form.RF_FAB_PROD_CAT_ID)">  <i class="fa fa-plus"></i> Knit Plan</a>
            </div>

            <fieldset class="custom-fieldset" style="padding-top: 0px;padding-bottom: 0px;" ng-disabled="form.RF_ACTN_STATUS_ID>20">
                <legend class="custom-legend"> Program Info</legend>


                <div class="form-group">
                    <label class="col-md-2">
                        Y/D Program Ref# (<span aria-required="true" class="custom-required">*</span>)
                    </label>
                    <div class="col-md-2" ng-class="{'has-error': (YdYrnRevForm.KNT_YD_PRG_H_ID.$touched || YdYrnRevForm.$submitted) && YdYrnRevForm.KNT_YD_PRG_H_ID.$error.required}">

                        <select class="form-control" kendo-drop-down-list name="KNT_YD_PRG_H_ID" k-option-label="'--Yd Program --'"
                                k-data-text-field="'PRG_REF_NO'" k-data-value-field="'KNT_YD_PRG_H_ID'" k-filter="'Contains'"
                                k-auto-bind="'true'" k-data-source="KntYdProgramDs" ng-model="form.KNT_YD_PRG_H_ID" k-on-change="vm.onChaneProgramRef(kendoEvent)"
                                required style="width:100%;" ng-disabled="form.RF_ACTN_STATUS_ID==64||vm.params.ConMode=='Y'"></select>
                        <span class="badge badge-success">{{form.SUP_TRD_NAME_EN}}</span>

                    </div>

                    <label class="col-md-2">

                        Order # (<span aria-required="true" class="custom-required">*</span>)
                    </label>
                    <div class="col-md-2" ng-class="{'has-error': (YdYrnRevForm.MC_FAB_PROD_ORD_H_ID.$touched || YdYrnRevForm.$submitted) && YdYrnRevForm.MC_FAB_PROD_ORD_H_ID.$error.required}">

                        <select class="form-control" kendo-drop-down-list name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Order#--'"
                                k-data-text-field="'MC_ORDER_NO_LST'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                k-auto-bind="'true'" k-data-source="vm.fabProdOrderDs" ng-model="form.MC_FAB_PROD_ORD_H_ID" k-on-data-bound="vm.onFabProdOrderBound(form,kendoEvent)"
                                k-on-change="vm.onFabProdOrderChange(form,kendoEvent)"
                                required style="width:100%;" ng-disabled="form.RF_ACTN_STATUS_ID==64||vm.params.ConMode=='Y'"></select>
                    </div>


                    <label class="col-md-2">
                        Work Ref#
                    </label>
                    <div class="col-md-2" ng-class="{'has-error': (YdYrnRevForm.CL_WO_REF_NO.$touched || YdYrnRevForm.$submitted) && YdYrnRevForm.CL_WO_REF_NO.$error.required}">
                        <input type="text" class="form-control" name="CL_WO_REF_NO" ng-model="form.CL_WO_REF_NO" ng-disabled="vm.params.ConMode=='Y'" />
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-md-2">
                        Challan # (<span aria-required="true" class="custom-required">*</span>)
                    </label>
                    <div class="col-md-2" ng-class="{'has-error': (YdYrnRevForm.CHALAN_NO.$touched || YdYrnRevForm.$submitted) && YdYrnRevForm.CHALAN_NO.$error.required}">
                        <input type="text" class="form-control" typeahead="item.YD_BATCH_NO as item.YD_BATCH_NO for item in vm.onRequestChallanNo($viewValue)" typeahead-loading="'Loading...'" name="CHALAN_NO"
                               ng-model="form.CHALAN_NO" ng-disabled="form.IS_TEMP_CHALLAN=='Y'||vm.params.ConMode=='Y'" ng-required="form.IS_TEMP_CHALLAN=='N'" />
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox-list">
                            <label class="checkbox-inline" style="margin-left:20px;margin-top:-15px;">
                                <span><input type="checkbox" ng-model="form.IS_TEMP_CHALLAN" ng-true-value="'Y'" ng-false-value="'N'"></span> Auto Generate?
                            </label>
                        </div>
                    </div>

                    <label class="col-md-offset-1 col-md-2">
                        Challan DT
                    </label>
                    <div class="col-md-2" ng-class="{'has-error': (YdYrnRevForm.CHALAN_DT.$touched || YdYrnRevForm.$submitted) && YdYrnRevForm.CHALAN_DT.$error.required}">

                        <input type="text" class="form-control" ng-click="vm.CHALAN_DT_OPEN($event)" datepicker-popup="{{vm.dtFormat}}"
                               name="CHALAN_DT" ng-model="form.CHALAN_DT" is-open="vm.CHALAN_DT_OPENED" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-disabled="vm.params.ConMode=='Y'" required close-text="Close" />
                    </div>
                </div>

                <div class="form-group" ng-if="vm.params.ConMode=='Y'">
                    
                    <label class="col-md-2">
                        Invoice #
                    </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="form.INVOICE_NO" />
                    </div>


                    <label class="col-md-2">
                        Get Pass #
                    </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="form.GATE_PASS_NO" />
                    </div>

                    <label class="col-md-2">
                        Vehicle #
                    </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="form.VEHICLE_NO" />
                    </div>
                </div>


                <div class="form-group" ng-if="vm.params.ConMode=='Y'">

                    <label class="col-md-2">
                        Carrier #
                    </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="form.CARRIER_NAME" />
                    </div>
                   
                    <div class="col-md-3">
                        <div class="checkbox-list">
                            <label class="checkbox-inline" style="margin-left:20px;margin-top:-15px;">
                                <span><input type="checkbox" ng-model="form.IS_REMARKS" ng-true-value="'Y'" ng-false-value="'N'"></span> Remarks
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="form.IS_REMARKS=='Y'">
                    <label class="col-md-2">
                        Remarks
                    </label>
                    <div class="col-md-10">
                        <textarea rows="3" name="REMARKS" class="form-control" cols="50" ng-model="form.REMARKS"></textarea>
                    </div>
                </div>

                <div class="row" style="margin:auto;padding-top:10px;" ng-if="vm.errors">
                    <div class="col-md-5 col-md-offset-2">
                        <div class="alert alert-warning" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                            <ul ng-repeat="field in vm.errors">
                                <li ng-repeat="error in field" ng-bind="error"></li>
                            </ul>
                        </div>
                    </div>
                </div>


            </fieldset>



            <div class="form-group">
                <div class="col-md-12" style="padding-right:0px;">
                    <fieldset class="custom-fieldset" style="padding-top: 0px;padding-bottom: 0px;" ng-disabled="form.RF_ACTN_STATUS_ID>20">
                        <legend class="custom-legend"> Dyed Yarn Receive Info </legend>
                        <table class="table table-condensed table-striped table-bordered" style="padding:5px;margin-bottom:5px;">
                            <thead>
                                <tr class="site-table-header">

                                    <th style="width:10%;">
                                        <small>
                                            Color
                                        </small>
                                    </th>


                                    <th style="width:20%;">

                                        <small>
                                            Yarn Item
                                        </small>

                                    </th>

                                    <th style="width:6%;">
                                        <small>
                                            Sent(Kg)
                                        </small>
                                    </th>

                                    <th style="width:10%;">
                                        <small>
                                            Batch#
                                        </small>
                                    </th>

                                    <th style="width:15%;">
                                        <small>
                                            Ttl Recv-
                                            Cur. Recv
                                        </small>
                                    </th>

                                    <th style="width:10%;">
                                        <small>
                                            Cone Qty
                                        </small>
                                    </th>
                                    <th style="width:10%;">
                                        <small>
                                            Pack Qty
                                        </small>
                                    </th>
                                    <th style="width:10%;">
                                        <small>
                                            PkMoU
                                        </small>
                                    </th>

                                    <th style="width:20%;">
                                        <small>
                                            Remarks
                                        </small>
                                    </th>

                                </tr>
                            </thead>

                            <tbody>


                                <tr ng-repeat="item in form.details">
                                    <td>
                                        <b>{{item.COLOR_NAME_EN}}</b>
                                    </td>
                                    <td>{{item.YR_SPEC_DESC}}</td>

                                    <td>
                                        {{item.RQD_YD_QTY}}
                                    </td>


                                    <td ng-class="{'has-error': (YD_BATCH_NO_FORM.YD_BATCH_NO.$touched || YdYrnRevForm.$submitted) && YD_BATCH_NO_FORM.YD_BATCH_NO.$error.required}">

                                        <ng-form name="YD_BATCH_NO_FORM">
                                            <input type="text" name="YD_BATCH_NO" class="form-control" typeahead="item.YD_BATCH_NO as item.YD_BATCH_NO for item in vm.OnRequestYarnBatch($viewValue)"
                                                   typeahead-on-select="onSelectItem2($item)" typeahead-loading="'Loading...'" ng-model="item.YD_BATCH_NO" ng-required="item.RCV_YD_QTY>0"
                                                   ng-disabled="vm.params.ConMode=='Y'" />
                                        </ng-form>

                                    </td>


                                    <td ng-class="{'has-error': (RCV_YD_QTY_FORM.RQD_FDR_QTY.$touched || YdYrnRevForm.$submitted) && RQD_FDR_QTY_FORM.RQD_FDR_QTY.$error.number}">
                                        <div class="col-md-4" style="padding-right:0px;">
                                            {{item.TTL_RECV}} Kg -
                                        </div>

                                        <div class="col-md-8" style="padding-left:0px;padding-right:0px;">
                                            <ng-form name="RCV_YD_QTY_FORM">
                                                <input class="form-control" type="number" name="RCV_YD_QTY" ng-model="item.RCV_YD_QTY" ng-disabled="vm.params.ConMode=='Y'" />
                                            </ng-form>
                                        </div>

                                    </td>

                                    <td ng-class="{'has-error': (RCV_CONE_QTY_FORM.RCV_CONE_QTY.$touched || YdYrnRevForm.$submitted) && (RCV_CONE_QTY_FORM.RCV_CONE_QTY.$error.required||RCV_CONE_QTY_FORM.RCV_CONE_QTY.$error.min)}">
                                        <ng-form name="RCV_CONE_QTY_FORM">
                                            <input type="number" name="RCV_CONE_QTY" ng-min="(item.RCV_YD_QTY>0)?1:0" class="form-control" ng-model="item.RCV_CONE_QTY"
                                                   ng-required="item.RCV_YD_QTY>0" ng-disabled="vm.params.ConMode=='Y'" />
                                        </ng-form>
                                    </td>

                                    <td ng-class="{'has-error': (RCV_PACK_QTY_FORM.RCV_PACK_QTY.$touched || YdYrnRevForm.$submitted) && (RCV_PACK_QTY_FORM.RCV_PACK_QTY.$error.required||RCV_PACK_QTY_FORM.RCV_PACK_QTY.$error.min)}">
                                        <ng-form name="RCV_PACK_QTY_FORM">
                                            <input type="number" name="RCV_PACK_QTY" ng-min="(item.RCV_YD_QTY>0)?1:0" class="form-control" ng-model="item.RCV_PACK_QTY"
                                                   ng-required="item.RCV_YD_QTY>0" ng-disabled="vm.params.ConMode=='Y'" />
                                        </ng-form>
                                    </td>
                                    <td>
                                        <ng-form name="PACK_MOU_ID_FORM">
                                            <select class="form-control" kendo-drop-down-list
                                                    name="PACK_MOU_ID"
                                                    k-option-label="'-- MoU --'"
                                                    k-data-text-field="'MOU_CODE'"
                                                    k-data-value-field="'RF_MOU_ID'"
                                                    k-filer="'contains'"
                                                    k-auto-bind="'true'"
                                                    k-data-source="vm.rfMouDs"
                                                    k-ng-delay="vm.rfMouDs"
                                                    ng-model="item.PACK_MOU_ID" ng-disabled="form.RF_ACTN_STATUS_ID==64||vm.params.ConMode=='Y'" required></select>
                                        </ng-form>
                                    </td>

                                    <td>
                                        <input type="text" name="REMARKS" class="form-control" ng-model="item.REMARKS" />
                                    </td>



                                </tr>


                            </tbody>
                        </table>
                        
                        @*<div class="checkbox-list" style="float:left;" ng-if="vm.params.ConMode=='Y'">
                            <label class="checkbox-inline" style="margin-left:20px;margin-top:-15px;">
                                <span style="color:purple;"><input type="checkbox" ng-model="form.RF_ACTN_STATUS_ID_INIT" ng-true-value="64" ng-false-value="63"> Confirm</span>
                            </label>
                        </div>*@

                    </fieldset>
                </div>

            </div>


            <div class="form-group">
                <div class="col-md-5">

                    <button type="button" ui-sref="{{vm.params.stateBack}}" class="btn btn-sm blue">List View</button>
                    &nbsp;&nbsp;

                    <button type="button" class="btn btn-sm yellow-gold" ng-disabled="form.RF_ACTN_STATUS_ID>20" ng-if="vm.params.pKNT_YD_RCV_H_ID" ng-click="form.IS_PASS='N';vm.submitData(form,YdYrnRevForm.$valid);YdYrnRevForm.$submitted=true;">Update</button>
                    <button type="button" class="btn btn-sm green" ng-if="!vm.params.pKNT_YD_RCV_H_ID" ng-click="form.IS_PASS='N';vm.submitData(form,YdYrnRevForm.$valid);YdYrnRevForm.$submitted=true;">Save</button>
                    <button type="button" class="btn btn-sm default" ng-click="vm.reset()">Cancel</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <button type="button" class="btn btn-sm blue" ng-if="vm.params.pKNT_YD_RCV_H_ID && vm.params.ConMode=='N'" ng-disabled="form.RF_ACTN_STATUS_ID>20" ng-click="form.RF_ACTN_STATUS_ID_INIT=64;form.IS_PASS='Y';vm.submitData(form,YdYrnRevForm.$valid);YdYrnRevForm.$submitted=true;">Finalize</button>
                    
                </div>

            </div>
        </form>
    </div>
</div>
