


    <div class="row">

        <div class="col-md-12" @*style="padding-left:10px;padding-right:10px;"*@>
            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Yarn Return Detail</b></legend>

                <table class="table table-hover table-striped table-bordered" style="margin-bottom:0px; padding-bottom:0px;">
                    @*<thead>
                            <tr class="row-border">
                                <th>Return Type</th>
                                <th>Style/Order#</th>
                                <th>Yarn-Brand-Lot</th>

                                <th>Pac.Qty</th>
                                <th>Pac.Unit</th>
                                <th>Qty/Pac</th>

                                <th>Rtn.Qty</th>

                                <th>Action</th>
                            </tr>
                        </thead>*@
                    <tbody>
                        <tr></tr>
                        <tr style="border-bottom: 1px solid hsl(0, 0%, 87%); height: auto;" class="success">

                            <td style="max-width: 10%; width: 10%; padding: 5px 2px 5px 0px"
                                ng-class="{'has-error': ($parent.frmSciGreyFabDelv.LK_YRN_RET_TYPE_ID.$touched || $parent.frmSciGreyFabDelv.$submitted) && ($parent.frmSciGreyFabDelv.LK_YRN_RET_TYPE_ID.$error.required)}">

                                <select class="form-control" kendo-drop-down-list name="LK_YRN_RET_TYPE_ID" id="LK_YRN_RET_TYPE_ID" k-option-label="'--Select--'"
                                        k-data-text-field="'LK_DATA_NAME_EN'" k-data-value-field="'LOOKUP_DATA_ID'"
                                        k-auto-bind="'true'" k-options="vm.returnTypeOption" k-data-source="vm.returnTypeDataSource" k-filter="'contains'"
                                        ng-model="$parent.yrnItem.LK_YRN_RET_TYPE_ID" required></select>
                                @*{{$parent.yrnItem.LK_YRN_RET_TYPE_ID}}*@
                            </td>

                            <td style="max-width: 20%; width: 20%; padding: 5px 2px 5px 0px"
                                ng-class="{'has-error': ($parent.frmSciGreyFabDelv.SCM_SC_WO_REF_ID.$touched || $parent.frmSciGreyFabDelv.$submitted) && ($parent.frmSciGreyFabDelv.SCM_SC_WO_REF_ID.$error.required)}">

                                <select class="form-control" kendo-drop-down-list name="SCM_SC_WO_REF_ID" k-option-label="'-- Select --'"
                                        k-data-text-field="'SC_WO_REF_NO'" k-data-value-field="'SCM_SC_WO_REF_ID'" k-filter="'Contains'"
                                        k-auto-bind="'true'" k-options="$parent.scByrOrdListOption" k-data-source="$parent.scByrOrdListDataSource" ng-model="$parent.yrnItem.SCM_SC_WO_REF_ID"
                                        @*k-on-change="onFabOrderChange(kendoEvent)"*@ required></select>

                            </td>


                            <td style="max-width: 20%; width: 20%; padding: 5px 2px 5px 0px"
                                ng-class="{'has-error': ($parent.frmSciGreyFabDelv.YARN_ITEM_ID.$touched || $parent.frmSciGreyFabDelv.$submitted) && ($parent.frmSciGreyFabDelv.YARN_ITEM_ID.$error.required)}">

                                <select class="form-control" kendo-drop-down-list name="YARN_ITEM_ID" id="YARN_ITEM_ID" k-option-label="'--Select--'"
                                        k-data-text-field="'YR_SPEC_DESC'" k-data-value-field="'YARN_ITEM_ID'"
                                        k-auto-bind="'true'" k-data-source="$parent.yarnItemDataSource" k-filter="'contains'"
                                        ng-model="$parent.yrnItem.YARN_ITEM_ID" k-on-change="vm.onChangeYarnItemChange(kendoEvent)" required></select>

                            </td>


                            <td style="max-width: 10%; width: 10%; padding: 5px 0px 5px 0px"
                                ng-class="{'has-error': ($parent.frmSciGreyFabDelv.PACK_RET_QTY.$touched || $parent.frmSciGreyFabDelv.$submitted) && ($parent.frmSciGreyFabDelv.PACK_RET_QTY.$error.required||$parent.frmSciGreyFabDelv.PACK_RET_QTY.$error.min)}">
                                <input type="number" name="PACK_RET_QTY" ng-model="$parent.yrnItem.PACK_RET_QTY" ng-change="vm.TotalReceiveQty($parent.yrnItem);" class="form-control double"
                                       @*ng-disabled="$parent.yrnItem.LK_YRN_RET_TYPE_ID!=489"*@ />

                            </td>
                            <td style="max-width: 10%; width: 10%; padding: 5px 0px 5px 0px" 
                                ng-class="{'has-error': ($parent.frmSciGreyFabDelv.PACK_MOU_ID.$touched || $parent.frmSciGreyFabDelv.$submitted) && ($parent.frmSciGreyFabDelv.PACK_MOU_ID.$error.required)}">
                                <select class="form-control" kendo-drop-down-list name="PACK_MOU_ID" k-option-label="'--UoM--'"
                                        k-data-text-field="'MOU_CODE'" k-data-value-field="'RF_MOU_ID'"
                                        k-auto-bind="'true'" k-options="vm.packMouOption" k-data-source="vm.packMouDataSource" k-filter="'contains'"
                                        ng-model="$parent.yrnItem.PACK_MOU_ID"
                                        @*ng-disabled="$parent.yrnItem.LK_YRN_RET_TYPE_ID!=489"*@ ></select>

                            </td>


                            <td style="max-width: 10%; width: 10%; padding: 5px 0px 5px 0px">
                                <input type="number" name="QTY_PER_PACK" ng-model="$parent.yrnItem.QTY_PER_PACK" ng-change="vm.TotalReceiveQty($parent.yrnItem);" class="form-control double"
                                       @*ng-disabled="$parent.yrnItem.LK_YRN_RET_TYPE_ID!=489"*@ />
                                @*{{dataItem.QTY_PER_CTN}}*@
                            </td>

                            @*<td style="max-width: 5%; width: 5%; padding: 5px 0px 5px 0px">
                                    <input type="number" name="LOOSE_QTY" ng-model="vm.yrnItem.LOOSE_QTY" class="form-control double"
                                           ng-disabled="vm.yrnItem.LK_YRN_RET_TYPE_ID!=490" ng-change="vm.TotalReceiveQty(vm.yrnItem);" />

                                </td>*@
                            <td style="max-width: 10%; width: 10%; padding: 5px 0px 5px 0px"
                                ng-class="{'has-error': ($parent.frmSciGreyFabDelv.RET_QTY.$touched || $parent.frmSciGreyFabDelv.$submitted) && ($parent.frmSciGreyFabDelv.RET_QTY.$error.required||$parent.frmSciGreyFabDelv.RET_QTY.$error.min)}">
                                <input type="number" name="RET_QTY" ng-model="$parent.yrnItem.RET_QTY" class="form-control double" min="1" ng-disabled="$parent.yrnItem.LK_YRN_RET_TYPE_ID==489" required />

                                @* ng-class="{'has-error': (JobCardRollProd.ACT_FIN_GSM.$touched || JobCardRollProd.$submitted) && (JobCardRollProd.ACT_FIN_GSM.$error.required||JobCardRollProd.ACT_FIN_GSM.$error.min)}" *@
                            </td>


                            <td style="max-width: 10%; width: 10%; padding: 5px 0px 5px 0px; text-align: center">
                                <button type="button" class="btn btn-xs blue" title="Add" ng-click="$parent.frmSciGreyFabDelv.$submitted= true;vm.addYarnRcv($parent.yrnItem)" ng-show="vm.isYrnAddToGrid=='Y'"
                                        @*ng-disabled="($parent.yrnItem.RET_QTY==null||$parent.yrnItem.RET_QTY<1)||($parent.yrnItem.PACK_MOU_ID==null||$parent.yrnItem.PACK_MOU_ID=='')||
                                    ($parent.yrnItem.PACK_RET_QTY==null||$parent.yrnItem.PACK_RET_QTY<1)||($parent.yrnItem.YARN_ITEM_ID==null||$parent.yrnItem.YARN_ITEM_ID=='')||
                                    ($parent.yrnItem.SCM_SC_WO_REF_ID==null||$parent.yrnItem.SCM_SC_WO_REF_ID=='')||
                                    ($parent.yrnItem.LK_YRN_RET_TYPE_ID==null||$parent.yrnItem.LK_YRN_RET_TYPE_ID=='')"*@>
                                    Add Yarn
                                </button>
                                <button type="button" class="btn btn-xs yellow-gold" ng-click="vm.updateYarnRcv($parent.yrnItem)" ng-show="vm.isYrnAddToGrid=='N'"
                                        @*ng-disabled="($parent.yrnItem.RET_QTY==null||$parent.yrnItem.RET_QTY<1)||($parent.yrnItem.PACK_MOU_ID==null||$parent.yrnItem.PACK_MOU_ID=='')||
                                    ($parent.yrnItem.PACK_RET_QTY==null||$parent.yrnItem.PACK_RET_QTY<1)||($parent.yrnItem.YARN_ITEM_ID==null||$parent.yrnItem.YARN_ITEM_ID=='')||
                                    ($parent.yrnItem.SCM_SC_WO_REF_ID==null||$parent.yrnItem.SCM_SC_WO_REF_ID=='')||
                                    ($parent.yrnItem.LK_YRN_RET_TYPE_ID==null||$parent.yrnItem.LK_YRN_RET_TYPE_ID=='')"*@>
                                    Update
                                </button>
                            </td>
                        </tr>

                        

                    </tbody>
                </table>

                <div kendo-grid k-options="$parent.yrnRtnGridOption" k-data-source="$parent.yrnRtnGridDataSource"></div>

            </fieldset>



        </div>
    </div>




@*<pre>{{vm.yrnItem|json}}</pre>
<pre>{{$parent.form|json}}</pre>*@
