
<div class="row">

    <div class="col-md-12" @*style="padding-left:10px;padding-right:10px;"*@>
        <fieldset class="custom-fieldset">
            <legend class="custom-legend"><b>Yarn Return Detail</b></legend>

            
            <div kendo-grid k-options="$parent.yrnRtnGridOption" k-data-source="$parent.yrnRtnGridDataSource"></div>

        </fieldset>

        

    </div>
</div>


@*<pre>{{vm.yrnItem|json}}</pre>
<pre>{{$parent.form|json}}</pre>*@
