<style>
    /*.k-grid .k-header {
        display: none;
    }*/

    .k-grid {
        font-size: 12px;
    }

    .k-grid-header th.k-header {
        font-size: 13px;
    }
</style>


<ng-form name="frmScProgTransYrnTransDtl" role="form" data-isolate-form novalidate>

    <div class="col-md-12">
        <fieldset class="custom-fieldset">
            <legend class="custom-legend">Challan Detail</legend>

            <kendo-grid id="chlnYrnDtlGrid" k-options="$parent.chlnYrnDtlOption" k-data-source="$parent.chlnYrnDtlDataSource" style="padding-top:0px;"></kendo-grid>

            @*<div class="form-group">
                    <div class="col-md-12">
                        <form kendo-validator="YarnFormGrid">
                            <kendo-grid id="yrnFabGrid" k-options="vm.yrnFabGridOption" k-data-source="vm.yrnFabGridDataSource" style="padding-top:0px;"></kendo-grid>
                            {{YarnFormGrid.validate()}}
                        </form>
                    </div>
                </div>*@



        </fieldset>

    </div>


</ng-form>

 
