<style>
    #grid tr td {
        /* this makes the menu visibile */
        overflow: visible;
    }

    #grid .k-grid-header {
        padding-right: 0 !important;
    }
</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-12">
                <fieldset class="custom-fieldset">
                    <legend class="custom-legend"></legend>
                    <div class="form-group">
                        <label class="col-md-1" style="padding-right:0px;">
                            Party
                        </label>

                        <div class="col-md-3">
                            <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" k-filter="'contains'" k-option-label="'-- Select --'"
                                    k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'"
                                    k-auto-bind="'true'" k-options="vm.supplierOption" k-data-source="vm.supplierDataSource" ng-model="vm.form.SCM_SUPPLIER_ID" required></select>
                        </div>


                        @*<label class="col-md-1" style="padding-right:0px;">
                            Program#
                        </label>

                        <div class="col-md-3">
                            <select class="form-control" kendo-drop-down-list name="KNT_SC_PRG_RCV_ID" k-filter="'contains'" k-option-label="'-- Select --'"
                                    k-data-text-field="'PRG_RCV_NO'" k-data-value-field="'KNT_SC_PRG_RCV_ID'"
                                    k-auto-bind="'true'" k-options="vm.scProgOption" k-data-source="vm.scProgDataSource" ng-model="vm.form.KNT_SC_PRG_RCV_ID" required></select>
                        </div>*@


                        <div class="col-md-1">
                            <button class="btn btn-sm blue" ng-click="vm.getBillList()" ng-disabled="vm.form.SCM_SUPPLIER_ID==null||vm.form.SCM_SUPPLIER_ID==''">Show</button>
                        </div>

                        <div class="col-md-2" ng-show="vm.isVisableAddBtn=='Y'">
                            <a class="btn btn-sm blue" href="/Knitting/Knit/ScoBillProc?a=337/#/scoBillProcH/0/dtl"><i class="fa fa-plus"></i> Add New</a>
                        </div>
                    </div>
                </fieldset>
            </div>

            
            <div class="col-md-12" style="padding-top:5px;">                
                <div kendo-grid k-options="vm.sciBillGridOption" k-data-source="vm.sciBillGridDataSource"></div>
            </div>
        </div>
        <br />
    </div>
</div>

