<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body" id="PORTLET_BODY">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>


        <div class="row" >           
            <div class="col-md-12">
                <fieldset class="custom-fieldset">
                    <legend class="custom-legend">Search</legend>

                    <div class="form-group">

                        <label class="control-label col-md-1">
                            Buyer A/C
                        </label>
                        <div class="col-md-2">
                            <select kendo-drop-down-list name="MC_BYR_ACC_GRP_ID" class="form-control" k-filter="'contains'" k-option-label="'-- Select --'"
                                    k-options="vm.buyerAcGrpList" ng-model="vm.form.MC_BYR_ACC_GRP_ID"
                                    k-data-text-field="'BYR_ACC_GRP_NAME_EN'" k-data-value-field="'MC_BYR_ACC_GRP_ID'"
                                    k-auto-bind="'true'"></select>
                        </div>

                        <label class="control-label col-md-1">
                            <span aria-required="true" class="required">*</span>Style/Ord#
                        </label>
                        <div class="col-md-3" style="padding-right:0px">
                            <select kendo-drop-down-list name="MC_STYLE_H_EXT_ID" class="form-control" k-filter="'contains'" k-option-label="'-- Select --'"
                                    k-template="vm.styleExtTemplate" k-value-template="vm.styleExtValueTemplate"
                                    k-options="vm.styleExtOption" k-data-source="vm.styleExtDataSource" ng-model="vm.form.MC_STYLE_H_EXT_ID"
                                    k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_STYLE_H_EXT_ID'"
                                    k-auto-bind="'true'"></select>
                        </div>


                        <div class="col-md-1">
                            <button class="btn btn-sm" ng-click="vm.getSrtBookingList()" >Show</button>
                        </div>

                        <div class="col-md-offset-1 col-md-1">
                            <a ui-sref="KntShortFabProdOrdH.SrtFabDtl({pKNT_SRT_FAB_REQ_H_ID : 0})" class="btn btn-sm blue" ng-if="vm.isVisableAddBtn=='Y'">
                                <i class="fa fa-plus"></i> Add New
                            </a>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>

        @*<input id="access_token" data-ng-model="token" type="hidden" data-ng-init="token='@Session["access_token"]'" />*@

        
        @*<div class="row" >
            <div class="col-md-1">
                <button class="btn btn-sm blue" ng-click="vm.addNew()">Add New</button>
            </div>
        </div>*@
        

        <br />
        @*{{vm.width}}*@
        <div @*style="padding:5px;"*@>

            <kendo-grid k-options="vm.srtFabBookingGridOption" k-data-source="vm.srtFabBookingGridDataSource" style="padding-top:0px;"></kendo-grid>
            @*<div kendo-grid id="grid" options="vm.kntScProgGridOption" k-data-source="vm.kntScProgGridDataSource"></div>*@
        </div>
        
        @*<pre>{{vm.form|json}}</pre>*@
    </div>
</div>















