<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 10px;
            }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }


    /*///////////////////////*/
    .k-treeview .k-in {
        padding: 5px;
    }

    #ItemCategTreeview .k-sprite {
        background-image: url("/Content/assets/global/img/coloricons-sprite.png");
    }

    .rootfolder {
        background-position: 0 0;
    }

    .folder {
        background-position: 0 -16px;
    }

    .pdf {
        background-position: 0 -32px;
    }

    .html {
        background-position: 0 -48px;
    }

    .image {
        background-position: 0 -64px;
    }

    /*.demo-section {
        float: left;
        width: 200px;
        margin: 0 60px 0 0;
    }*/
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Search By</b></legend>
                <div class="row" style="padding-left: 5px; padding-right: 5px;">

                    <table class="clsTable">
                        <tr class="clsthead">
                            <td class="clstd">
                                Requisition Type
                            </td>
                            <td class="clstd">
                                Requisition No
                            </td>
                            <td class="clstd">
                                Yarn Item
                            </td>
                            <td class="clstd">
                                Brand
                            </td>
                            <td class="clstd">
                                Lot #
                            </td>
                            <td class="clstd">
                                Action
                            </td>
                        </tr>
                        <tr class="clsthead">
                            <td class="clstd">
                                <select kendo-drop-down-list name="RF_REQ_TYPE_ID" id="RF_REQ_TYPE_ID" class="form-control"
                                        options="vm.reqTypeList" ng-model="vm.form.RF_REQ_TYPE_ID" tabindex="1" ng-disabled="vm.form.RF_REQ_TYPE_ID>0" k-on-change="vm.getRequisitionByType(kendoEvent)"></select>


                            </td>
                            <td class="clstd">
                                <select class="form-control" kendo-drop-down-list name="KNT_YRN_STR_REQ_H_ID" id="KNT_YRN_STR_REQ_H_ID" k-option-label="'-- Select Requisition No --'"
                                        k-data-text-field="'STR_REQ_NO'" k-data-value-field="'KNT_YRN_STR_REQ_H_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.requisitionList" k-delay="vm.requisitionList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.KNT_YRN_STR_REQ_H_ID" k-on-change="vm.getOtherData(kendoEvent)"></select>

                            </td>
                            <td class="clstd">
                                <select class="form-control " kendo-drop-down-list name="YARN_ITEM_ID" id="YARN_ITEM_ID" k-option-label="'-- Select Yarn Item --'"
                                        k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'YARN_ITEM_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.DyItemList" k-ng-delay="vm.DyItemList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.YARN_ITEM_ID" k-on-change="vm.getItemStock(kendoEvent)"></select>

                            </td>
                            <td class="clstd">
                                <select class="form-control" kendo-drop-down-list name="RF_BRAND_ID" id="RF_BRAND_ID" k-option-label="'-- Select Brand --'"
                                        k-data-text-field="'BRAND_NAME_EN'" k-data-value-field="'RF_BRAND_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.categoryBrandList" k-ng-delay="vm.categoryBrandList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.RF_BRAND_ID"></select>

                            </td>
                            <td class="clstd">
                                <input type="text" name="YRN_LOT_NO" ng-model="vm.form.YRN_LOT_NO" ng-hide="vm.form.KNT_YRN_STR_REQ_H_ID>0" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" class="form-control" />

                                <select class="form-control" ng-hide="!vm.form.KNT_YRN_STR_REQ_H_ID>0" kendo-drop-down-list name="KNT_YRN_LOT_ID" id="KNT_YRN_LOT_ID" k-option-label="'-- Select Lot # --'"
                                        k-data-text-field="'YRN_LOT_NO'" k-data-value-field="'KNT_YRN_LOT_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.yarnLotList" k-ng-delay="vm.yarnLotList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.KNT_YRN_LOT_ID"></select>

                            </td>
                            <td class="clstd">
                                <button type="button" class="btn btn-sm " ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-click="vm.getRequisitionInfo()">Search</button>
                            </td>
                        </tr>
                    </table>



                    @*<div class="row">
                            <div class="form-group">

                                <div class="col-md-1">
                                </div>
                                <label class="control-label col-md-2 ">
                                    <span aria-required="true" class="required">*</span>
                                    Requisition Type
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="RF_REQ_TYPE_ID" id="RF_REQ_TYPE_ID" class="form-control"
                                            options="vm.reqTypeList" ng-model="vm.form.RF_REQ_TYPE_ID" tabindex="1" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" k-on-change="vm.getRequisitionByType(kendoEvent)"></select>


                                </div>
                                <label class="control-label col-md-2 ">
                                    <span aria-required="true" class="required">*</span>
                                    Requisition No
                                </label>
                                <div class="col-md-3">

                                    <select class="form-control" kendo-drop-down-list name="KNT_YRN_STR_REQ_H_ID" id="KNT_YRN_STR_REQ_H_ID" k-option-label="'-- Select Requisition No --'"
                                            k-data-text-field="'STR_REQ_NO'" k-data-value-field="'KNT_YRN_STR_REQ_H_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.requisitionList" k-delay="vm.requisitionList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.KNT_YRN_STR_REQ_H_ID" k-on-change="vm.getOtherData(kendoEvent)"></select>

                                </div>


                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-1">
                                </div>

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Yarn Item
                                </label>
                                <div class="col-md-3">

                                    <select class="form-control " kendo-drop-down-list name="YARN_ITEM_ID" id="YARN_ITEM_ID" k-option-label="'-- Select Yarn Item --'"
                                            k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'YARN_ITEM_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.DyItemList" k-ng-delay="vm.DyItemList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.YARN_ITEM_ID" k-on-change="vm.getItemStock(kendoEvent)"></select>
                                </div>

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Brand
                                </label>
                                <div class="col-md-3">

                                    <select class="form-control" kendo-drop-down-list name="RF_BRAND_ID" id="RF_BRAND_ID" k-option-label="'-- Select Brand --'"
                                            k-data-text-field="'BRAND_NAME_EN'" k-data-value-field="'RF_BRAND_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.categoryBrandList" k-ng-delay="vm.categoryBrandList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.RF_BRAND_ID"></select>


                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">

                                <div class="col-md-1">
                                </div>

                                <label class="control-label col-md-2">
                                    <span aria-required="true" class="required">*</span>
                                    Lot #
                                </label>
                                <div class="col-md-3">
                                    <input type="text" name="YRN_LOT_NO" ng-model="vm.form.YRN_LOT_NO" ng-hide="vm.form.KNT_YRN_STR_REQ_H_ID>0" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" class="form-control" />

                                    <select class="form-control" ng-hide="!vm.form.KNT_YRN_STR_REQ_H_ID>0" kendo-drop-down-list name="KNT_YRN_LOT_ID" id="KNT_YRN_LOT_ID" k-option-label="'-- Select Lot # --'"
                                            k-data-text-field="'YRN_LOT_NO'" k-data-value-field="'KNT_YRN_LOT_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.yarnLotList" k-ng-delay="vm.yarnLotList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-model="vm.form.KNT_YRN_LOT_ID"></select>

                                </div>

                                <div class="col-md-4">
                                </div>
                                <div class="col-md-1">
                                    <button type="button" class="btn btn-sm " ng-disabled="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-click="vm.getRequisitionInfo()">Search</button>
                                </div>

                            </div>
                        </div>*@

                </div>
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Master Data</b></legend>
                <div><label id="lblMsg"></label></div>
                <div class="row" style="padding-left: 5px; padding-right: 5px;">

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1"></div>
                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Return Type
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list name="ISS_RTN_TYPE_ID" id="ISS_RTN_TYPE_ID" class="form-control "
                                        options="vm.reqSourceList" ng-model="vm.form.ISS_RTN_TYPE_ID" tabindex="5" required></select>

                            </div>
                            <label class="col-md-2 control-label">
                                <span aria-required="true" class="required"></span>
                                Return By
                            </label>
                            <div class="col-md-2">
                                <select id="customers" kendo-drop-down-list options="vm.userList" k-ng-delay="vm.userList" ng-model="vm.form.ITEM_RET_BY" class="form-control required" style="width:100%;"></select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required"></span>
                                Rtn. Challan No
                            </label>
                            <div class="col-md-2">
                                <input type="text" name="RET_CHALAN_NO" placeholder="[Auto Gen]" ng-model="vm.form.RET_CHALAN_NO" readonly="readonly" class="form-control" />
                                <input type="hidden" id="KNT_YRN_ISS_RET_H_ID" name="KNT_YRN_ISS_RET_H_ID" ng-model="vm.form.KNT_YRN_ISS_RET_H_ID" />
                            </div>

                            <div class="col-md-1">
                            </div>
                            <label class="col-md-2 control-label">
                                <span aria-required="true" class="required">*</span>
                                Date of Retrun
                            </label>
                            <div class="col-md-2">
                                <input type="text" class="form-control required" ng-click="RET_CHALAN_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                       name="RET_CHALAN_DT" max-date="vm.today" ng-model="vm.form.RET_CHALAN_DT" is-open="RET_CHALAN_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                       required />

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Company
                            </label>
                            <div class="col-md-3">

                                <select kendo-drop-down-list name="HR_COMPANY_ID" id="HR_COMPANY_ID" class="form-control required"
                                        options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID" tabindex="5" required></select>

                            </div>

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Store
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list name="SCM_STORE_ID" id="SCM_STORE_ID" class="form-control required"
                                        options="vm.reqStoreList" ng-model="vm.form.SCM_STORE_ID" tabindex="5" required></select>

                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Remarks
                            </label>
                            <div class="col-md-8">
                                <textarea id="REMARKS" name="REMARKS" ng-model="vm.form.REMARKS" class="form-control"></textarea>
                            </div>

                        </div>
                    </div>

                </div>
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Details Data</b></legend>
                <table class="clsTableMtex">

                    <tr class="clstheadMtex">
                        <td class="clstdMtex">
                            <b>Requisition No</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Issue No</b>
                        </td>

                        <td class="clstdMtex">
                            <b>Yarn Item</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Brand</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Lot #</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Issued (Kg)</b>
                        </td>

                        <td class="clstdMtex">
                            <b>Rtn. (Kg)</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Note</b>
                        </td>

                        <td class="clstdMtex">
                            <b>Action</b>
                        </td>

                    </tr>
                    <tr class="clstdMtex" ng-repeat="item in vm.IssueItemList">


                        <td class="clstdMtex">
                            {{item.STR_REQ_NO}}
                            @*<input type="text" name="STR_REQ_NO" ng-model="item.STR_REQ_NO" readonly="readonly" class="form-control" />*@
                        </td>

                        <td class="clstdMtex">
                            {{item.ISS_CHALAN_NO}}
                            @*<input type="text" name="ISS_CHALAN_NO" ng-model="item.ISS_CHALAN_NO" readonly="readonly" class="form-control" />*@
                        </td>

                        <td class="clstdMtex">

                            {{item.ITEM_NAME_EN}}
                            @*<input type="text" name="ITEM_NAME_EN" ng-model="item.ITEM_NAME_EN" readonly="readonly" class="form-control" />*@
                            <input type="hidden" name="YARN_ITEM_ID" ng-model="item.YARN_ITEM_ID" class="form-control" />
                            <input type="hidden" name="KNT_YRN_ISS_H_ID" ng-model="item.KNT_YRN_ISS_H_ID" class="form-control" />

                        </td>

                        <td class="clstdMtex">
                            {{item.BRAND_NAME_EN}}
                            @*<input type="text" name="BRAND_NAME_EN" ng-model="item.BRAND_NAME_EN" readonly="readonly" class="form-control" />*@
                            <input type="hidden" name="RF_BRAND_ID" ng-model="item.RF_BRAND_ID" class="form-control" />

                        </td>
                        <td class="clstdMtex">
                            {{item.YRN_LOT_NO}}
                            @*<input type="text" name="YRN_LOT_NO" ng-model="item.YRN_LOT_NO" readonly="readonly" class="form-control" />*@
                            <input type="hidden" name="KNT_YRN_LOT_ID" ng-model="item.KNT_YRN_LOT_ID" class="form-control" />

                        </td>

                        <td class="clstdMtex" style="text-align:right;">
                            {{item.ISSUE_QTY}}
                            @*<input type="number" name="ISSUE_QTY" ng-model="item.ISSUE_QTY" readonly="readonly" class="form-control" />*@

                        </td>

                        <td class="clstdMtex" style="text-align:right;">
                            <input type="number" name="RET_QTY" ng-model="item.RET_QTY" ng-change="vm.checkReturnQty(item)" style="text-align:right; max-width:100px;" class="form-control" />

                        </td>
                        <td class="clstdMtex" style="text-align:right;">
                            <input type="text" name="SP_NOTE" ng-model="item.SP_NOTE" class="form-control" />

                        </td>

                        <td class="clstdMtex">

                            <button type="button" ng-if="!vm.formItem.uid" class="btn btn-sm green" ng-click="vm.addToGrid(item)">Add to Grid</button>
                        </td>
                    </tr>
                </table>

                <div style="padding:3px;">
                </div>

                <div style="padding:3px;">
                </div>

                <div style="padding:2px;">
                    <div kendo-grid k-options="vm.gridOptionsItem" id="IDRequisitionDS" k-data-source="vm.ReturnItemList"></div>
                </div>

            </fieldset>
        </div>
        <div style="padding:3px;">
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-sm blue" ui-sref="YarnTestIssueRtnReqList">Back To List</button>
                <button type="button" ng-if="vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-disabled="!vm.form.RF_ACTN_STATUS_ID>0" class="btn btn-sm yellow-gold" ng-click="vm.submitAll(vm.form);"> Submit</button>
                <button type="button" ng-if="!vm.form.KNT_YRN_ISS_RET_H_ID>0" ng-disabled="!vm.IssueItemList.length>0" class="btn btn-sm green" ng-click="vm.submitAll(vm.form);">Save</button>
                <button type="button" class="btn btn-sm default" ui-sref="YarnTestIssueRtnReq({pKNT_YRN_ISS_RET_H_ID : 0})" ui-sref-opts="{reload: true}">Cancel</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                @*<button type="button" ng-if="vm.form.KNT_YRN_ISS_RET_H_ID>0" class="btn btn-sm blue" ng-click="vm.printChallan()">Print Challan</button>*@
            </div>
            <label class="control-label col-md-2">
                <span aria-required="true" class="required">*</span>
                Take Action
            </label>
            <div class="col-md-2" ng-if="vm.form.RF_ACTN_VIEW>0">
                <select kendo-drop-down-list name="RF_ACTN_STATUS_ID" id="RF_ACTN_STATUS_ID" class="form-control required"
                        options="vm.statusList" ng-model="vm.form.RF_ACTN_STATUS_ID" required></select>
            </div>

            <div class="col-md-2" ng-if="!vm.form.RF_ACTN_VIEW>0">

                <input type="text" ng-model="vm.form.ACTN_STATUS_NAME" style="width: 100%;" readonly="readonly" />
                <input type="hidden" ng-model="vm.form.RF_ACTN_STATUS_ID" />

            </div>
        </div>
        <div style="padding:3px;">
        </div>
    </form>
</div>
