
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Company Data</b></legend>
                <div><label id="lblMsg"></label></div>
                @*<div class="row" style="padding-left: 10px; padding-right: 5px;">*@

                <table class="clsTable">
                    <thead class="clsthead">
                        <tr>
                            <th class="clstd">
                                <span aria-required="true" class="required">*</span>
                                Company
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required">*</span>
                                Receiving Store
                            </th>
                            <th class="clstd" style="width:150px;">
                                <span aria-required="true" class="required">*</span>
                                OB Date
                            </th>
                            <th class="clstd">
                                <span aria-required="true" class="required">*</span>
                                Currency
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="clstr">
                            <td class="clstd">
                                <select kendo-drop-down-list name="HR_COMPANY_ID" id="HR_COMPANY_ID" class="form-control required"
                                        options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID" tabindex="5" required></select>
                            </td>
                            <td class="clstd">
                                <select kendo-drop-down-list name="SCM_STORE_ID" id="SCM_STORE_ID" class="form-control required"
                                        options="vm.reqSourceList" ng-model="vm.form.SCM_STORE_ID" tabindex="5" required></select>

                            </td>
                            <td class="clstd" style="width:150px;">
                                <input type="text" class="form-control required" ng-click="OB_RCV_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                       name="OB_RCV_DT" max-date="vm.today" ng-model="vm.form.OB_RCV_DT" is-open="OB_RCV_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                       required />
                            </td>
                            <td class="clstd">
                                <select kendo-drop-down-list id="RF_CURRENCY_ID" name="RF_CURRENCY_ID" class="form-control required"
                                        options="vm.currencyList" ng-model="vm.form.RF_CURRENCY_ID"></select>
                            </td>

                        </tr>
                    </tbody>
                </table>
                @*</div>*@
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Details Data</b></legend>
                <table class="clsTable">

                    <tr>
                        <td class="clstd" style="width: 15%;">
                            <b>Yarn Item</b>
                        </td>
                        <td class="clstd" style="width: 8%;">
                            <b>Color Group</b>
                        </td>
                        <td class="clstd" style="width: 8%;">
                            <b>Brand</b>
                        </td>
                        <td class="clstd" style="width: 8%;">
                            <b>Supplier</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>Lot #</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>Pack Qty.</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>Pack Unit</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>Qty/Pack</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>Total Qty.</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>UoM</b>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <b>Cost Price</b>
                        </td>
                        <td class="clstd" style="width: 8%;">
                            <b>TTL Value</b>
                        </td>
                        <td class="clstd" style="width: 8%;">
                            <b>No of Cone</b>
                        </td>
                        <td class="clstd" style="width: 10%;">
                            <b>Action</b>
                        </td>

                    </tr>
                    <tr class="">
                        <td class="clstd" style="width: 15%;">

                            <select class="form-control required" style="min-width: 50px; max-width: 250px;" kendo-drop-down-list name="YARN_ITEM_ID" id="YARN_ITEM_ID" k-option-label="'-- Select Yarn Item --'"
                                    k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'INV_ITEM_ID'" ng-disabled="vm.form.KNT_YRN_RCV_OB_ID>0"
                                    k-auto-bind="'true'" k-data-source="vm.DyItemList" k-ng-delay="vm.DyItemList" k-filter="'contains'" ng-model="vm.form.YARN_ITEM_ID"></select>

                        </td>
                        <td class="clstd" style="width: 8%;">
                            <select class="form-control required" style="min-width: 50px; max-width: 120px;" kendo-drop-down-list name="LK_YRN_COLR_GRP_ID" id="LK_YRN_COLR_GRP_ID" k-option-label="'--Select Color--'"
                                    k-data-text-field="'LK_DATA_NAME_EN'" k-data-value-field="'LOOKUP_DATA_ID'" ng-disabled="vm.form.KNT_YRN_RCV_OB_ID>0"
                                    k-auto-bind="'true'" k-data-source="vm.yarnColorGroupList" k-filter="'contains'" ng-model="vm.form.LK_YRN_COLR_GRP_ID"></select>

                        </td>
                        <td class="clstd" style="width: 8%;">
                            <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID" k-option-label="'-- Select Supplier --'"
                                    k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.supplierList" k-ng-delay="vm.supplierList"
                                    k-filter="'contains'" ng-model="vm.form.SCM_SUPPLIER_ID" ng-change="vm.BrandListBySupplierID()"></select>

                        </td>
                        <td class="clstd" style="width: 8%;">
                            <select class="form-control required" style="min-width: 50px; max-width: 120px;" kendo-drop-down-list name="RF_BRAND_ID" id="RF_BRAND_ID" k-option-label="'-- Select Brand --'"
                                    k-data-text-field="'BRAND_NAME_EN'" k-data-value-field="'RF_BRAND_ID'" ng-disabled="vm.form.KNT_YRN_RCV_OB_ID>0"
                                    k-auto-bind="'true'" k-data-source="vm.categoryBrandList" k-filter="'contains'" ng-model="vm.form.RF_BRAND_ID"></select>

                        </td>
                        <td class="clstd" style="width: 8%;">
                            <input type="text" name="YRN_LOT_NO" ng-model="vm.form.YRN_LOT_NO" class="form-control required" ng-disabled="vm.form.KNT_YRN_RCV_OB_ID>0" />
                            <input type="hidden" name="KNT_YRN_RCV_OB_ID" ng-model="vm.form.KNT_YRN_RCV_OB_ID" class="form-control" />

                        </td>


                        <td class="clstd" style="width: 5%;">
                            <input type="number" name="PACK_RCV_QTY" ng-model="vm.form.PACK_RCV_QTY" ng-change="vm.TotalReceiveQty()" class="form-control double" />

                        </td>
                        <td class="clstd" style="width: 5%;">
                            <select class="form-control requiredSub" style="min-width: 50px; max-width: 160px;" kendo-drop-down-list name="PACK_MOU_ID" id="PACK_MOU_ID" k-option-label="'--Pack UoM--'"
                                    k-data-text-field="'MOU_CODE'" k-data-value-field="'RF_MOU_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.PackMOUList" k-filter="'contains'" ng-model="vm.form.PACK_MOU_ID"></select>
                        </td>
                        <td class="clstd" style="width: 5%;">
                            <input type="number" name="QTY_PER_PACK" ng-model="vm.form.QTY_PER_PACK" ng-change="vm.TotalReceiveQty()" class="form-control double" />

                        </td>
                        <td class="clstd" style="width: 8%;">
                            <input type="text" name="RCV_QTY" ng-model="vm.form.RCV_QTY" class="form-control double" />

                        </td>
                        <td class="clstd" style="width: 5%;">
                            <select class="form-control requiredSub" style="min-width: 50px; max-width: 160px;" kendo-drop-down-list name="QTY_MOU_ID" id="QTY_MOU_ID" k-option-label="'--UoM--'"
                                    k-data-text-field="'MOU_CODE'" k-data-value-field="'RF_MOU_ID'"
                                    k-auto-bind="'true'" k-data-source="vm.mOUList" k-filter="'contains'" ng-model="vm.form.QTY_MOU_ID" ng-disabled="vm.form.QTY_MOU_ID>0"></select>

                        </td>
                        <td class="clstd" style="width: 5%;">
                            <input type="number" name="UNIT_PRICE" ng-model="vm.form.UNIT_PRICE" ng-change="vm.TotalPriceAmount()" class="form-control double" />

                        </td>
                        <td class="clstd" style="width: 6%;">
                            <input type="text" name="TOTAL_AMT" ng-model="vm.form.TOTAL_AMT" readonly="readonly" class="form-control double" />

                        </td>
                        <td class="clstd" style="width: 6%;">
                            <input type="text" name="CONE_QTY" ng-model="vm.form.CONE_QTY" class="form-control" />

                        </td>
                        <td class="clstd" style="width: 10%;">

                            <div class="row">

                                <div class="col-md-12">
                                    <button type="button" ng-if="vm.form.uid" class="btn btn-sm yellow" ng-click="vm.submitAll(vm.form)">Update</button>
                                    <button type="button" ng-if="!vm.form.uid" class="btn btn-sm green" ng-click="vm.submitAll(vm.form)">Save</button>
                                    <button type="button" class="btn btn-sm" ng-click="vm.reset()">Clear</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div style="padding:3px;">
                </div>

                <div style="padding:3px;">
                </div>

                <div style="padding:2px;">
                    <div kendo-grid k-options="vm.gridOptionsItem" id="IDRequisitionDS" k-data-source="vm.ReceiveItemList"></div>
                </div>

            </fieldset>
        </div>

    </form>
</div>
