<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 10px;
            }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }


    /*///////////////////////*/
    .k-treeview .k-in {
        padding: 5px;
    }

    #ItemCategTreeview .k-sprite {
        background-image: url("/Content/assets/global/img/coloricons-sprite.png");
    }

    .rootfolder {
        background-position: 0 0;
    }

    .folder {
        background-position: 0 -16px;
    }

    .pdf {
        background-position: 0 -32px;
    }

    .html {
        background-position: 0 -48px;
    }

    .image {
        background-position: 0 -64px;
    }

    /*.demo-section {
        float: left;
        width: 200px;
        margin: 0 60px 0 0;
    }*/
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">
            <tabset>
                <tab heading="Return Data" active="">

                    @*<fieldset class="custom-fieldset">
                        <legend class="custom-legend"><b>Search By</b></legend>
                        <div><label id="lblMsgSub"></label></div>
                        <div class="row" style="padding-left: 5px; padding-right: 5px;">

                            <table class="clsTable">
                                <tr class="clsthead">
                                    <td class="clstd">
                                        Supplier
                                    </td>

                                    <td class="clstd">
                                        Yarn Item
                                    </td>
                                    <td class="clstd">
                                        Brand
                                    </td>

                                    <td class="clstd">
                                        Lot #
                                    </td>
                                    <td class="clstd">
                                        L/C #
                                    </td>
                                    <td class="clstd">
                                        Action
                                    </td>
                                </tr>
                                <tr class="clsthead">

                                    <td class="clstd">
                                        <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID" k-option-label="'-- Select Supplier --'"
                                                k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'" ng-disabled="vm.form.SUP_CTRL_DISABLE>0"
                                                k-auto-bind="'true'" k-data-source="vm.supplierList" k-delay="vm.supplierList" k-filter="'contains'"
                                                ng-model="vm.form.SCM_SUPPLIER_ID" k-on-change="vm.getOtherData(kendoEvent)"></select>

                                    </td>
                                    <td class="clstd">
                                        <select class="form-control " kendo-drop-down-list name="YARN_ITEM_ID" id="YARN_ITEM_ID" k-option-label="'-- Select Yarn Item --'"
                                                k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'YARN_ITEM_ID'"
                                                k-auto-bind="'true'" k-data-source="vm.DyItemList" k-ng-delay="vm.DyItemList" k-filter="'contains'"
                                                ng-disabled="vm.form.KNT_YRN_RPL_ISS_H_ID>0" ng-model="vm.form.YARN_ITEM_ID" k-on-change="vm.getItemStock(kendoEvent)"></select>

                                    </td>
                                    <td class="clstd">
                                        <select class="form-control" kendo-drop-down-list name="RF_BRAND_ID" id="RF_BRAND_ID" k-option-label="'-- Select Brand --'"
                                                k-data-text-field="'BRAND_NAME_EN'" k-data-value-field="'RF_BRAND_ID'"
                                                k-auto-bind="'true'" k-data-source="vm.categoryBrandList" k-ng-delay="vm.categoryBrandList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_RPL_ISS_H_ID>0" ng-model="vm.form.RF_BRAND_ID"></select>

                                    </td>

                                    <td class="clstd">
                                        <input type="text" name="YRN_LOT_NO" ng-model="vm.form.YRN_LOT_NO" ng-hide="vm.form.KNT_YRN_STR_REQ_H_ID>0" ng-disabled="vm.form.KNT_YRN_RPL_ISS_H_ID>0" class="form-control" />

                                        <select class="form-control" ng-hide="!vm.form.KNT_YRN_STR_REQ_H_ID>0" kendo-drop-down-list name="KNT_YRN_LOT_ID" id="KNT_YRN_LOT_ID" k-option-label="'-- Select Lot # --'"
                                                k-data-text-field="'YRN_LOT_NO'" k-data-value-field="'KNT_YRN_LOT_ID'"
                                                k-auto-bind="'true'" k-data-source="vm.yarnLotList" k-ng-delay="vm.yarnLotList" k-filter="'contains'" ng-disabled="vm.form.KNT_YRN_RPL_ISS_H_ID>0" ng-model="vm.form.KNT_YRN_LOT_ID"></select>

                                    </td>
                                    <td class="clstd">
                                        <input type="text" name="IMP_LC_NO" ng-model="vm.form.IMP_LC_NO" class="form-control" />

                                    </td>
                                    <td class="clstd">
                                        <button type="button" class="btn btn-sm " ng-disabled="vm.form.KNT_YRN_RPL_ISS_H_ID>0" ng-click="vm.getRequisitionInfo()">Search</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>*@

                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend"><b>Master Data</b></legend>
                        <div class="row" style="padding-left: 5px; padding-right: 5px;">

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-1"></div>
                                    <label class="control-label col-md-2">
                                        <span aria-required="true" class="required">*</span>
                                        Return Type
                                    </label>
                                    <div class="col-md-3">
                                        <select kendo-drop-down-list name="LK_YRN_RT_TYP_ID" id="LK_YRN_RT_TYP_ID" class="form-control required"
                                                options="vm.ReturnTypeList" ng-model="vm.form.LK_YRN_RT_TYP_ID"></select>

                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span aria-required="true" class="required"></span>
                                        Supplier Name
                                    </label>
                                    <div class="col-md-3">
                                        <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" id="SCM_SUPPLIER_ID" k-option-label="'-- Select Supplier --'"
                                                k-data-text-field="'SUP_TRD_NAME_EN'" k-data-value-field="'SCM_SUPPLIER_ID'" ng-disabled="vm.form.SUP_CTRL_DISABLE>0"
                                                k-auto-bind="'true'" k-data-source="vm.supplierList" k-delay="vm.supplierList" k-filter="'contains'"
                                                ng-model="vm.form.SCM_SUPPLIER_ID" k-on-change="vm.loadPendingItemBySupID(kendoEvent)"></select>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-1">
                                    </div>
                                    <label class="control-label col-md-2">
                                        <span aria-required="true" class="required"></span>
                                        Rtn. Challan No
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" name="ISS_CHALAN_NO" placeholder="[Auto Gen]" ng-model="vm.form.ISS_CHALAN_NO" readonly="readonly" class="form-control" />
                                        <input type="hidden" id="KNT_YRN_RPL_ISS_H_ID" name="KNT_YRN_RPL_ISS_H_ID" ng-model="vm.form.KNT_YRN_RPL_ISS_H_ID" />
                                    </div>

                                    <div class="col-md-1">
                                    </div>
                                    <label class="col-md-2 control-label">
                                        <span aria-required="true" class="required">*</span>
                                        Date of Retrun
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control required" ng-click="ISS_CHALAN_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                               name="ISS_CHALAN_DT" max-date="vm.today" ng-model="vm.form.ISS_CHALAN_DT" is-open="ISS_CHALAN_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                               required />

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-1">
                                    </div>
                                    <label class="control-label col-md-2 ">
                                        <span aria-required="true" class="required">*</span>
                                        Company
                                    </label>
                                    <div class="col-md-3">

                                        <select kendo-drop-down-list name="HR_COMPANY_ID" id="HR_COMPANY_ID" class="form-control required"
                                                options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID"></select>

                                    </div>

                                    <label class="control-label col-md-2">
                                        <span aria-required="true" class="required">*</span>
                                        Store
                                    </label>
                                    <div class="col-md-3">
                                        <select kendo-drop-down-list name="SCM_STORE_ID" id="SCM_STORE_ID" class="form-control required"
                                                options="vm.reqStoreList" ng-model="vm.form.SCM_STORE_ID" ></select>

                                    </div>

                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-1">
                                    </div>
                                    <label class="control-label col-md-2 ">
                                        <span aria-required="true" class="required"></span>
                                        Vehicle No
                                    </label>
                                    <div class="col-md-3">

                                        <input type="text" name="VEHICLE_NO" ng-model="vm.form.VEHICLE_NO" class="form-control" />

                                    </div>

                                    <label class="control-label col-md-2">
                                        <span aria-required="true" class="required"></span>
                                        Carrier Name
                                    </label>
                                    <div class="col-md-3">
                                        <input type="text" name="CARRIER_NAME" ng-model="vm.form.CARRIER_NAME" class="form-control" />

                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-1">
                                    </div>
                                    <label class="control-label col-md-2 ">
                                        <span aria-required="true" class="required"></span>
                                        Remarks
                                    </label>
                                    <div class="col-md-8">
                                        <textarea id="REMARKS" name="REMARKS" ng-model="vm.form.REMARKS" class="form-control"></textarea>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </fieldset>

                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend"><b>Details Data</b></legend>
                        <table class="clsTableMtex">

                            <tr class="clstheadMtex">

                                <td class="clstdMtex">
                                    <b>Yarn Item</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Brand</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Lot #</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>L/C #</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Stock Qty(Kg)</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Req. Qty(Kg)</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Rtn. Pack</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Rtn. Qty(Kg)</b>
                                </td>
                                <td class="clstdMtex">
                                    <b>Note</b>
                                </td>


                                <td class="clstdMtex">
                                    <b>Action</b>
                                </td>

                            </tr>
                            <tr class="" ng-repeat="item in vm.IssueItemList">
                                
                                <td class="clstdMtex">

                                    {{item.ITEM_NAME_EN}}
                                    <input type="hidden" name="YARN_ITEM_ID" ng-model="item.YARN_ITEM_ID" class="form-control" />

                                </td>

                                <td class="clstdMtex">
                                    {{item.BRAND_NAME_EN}}
                                    <input type="hidden" name="RF_BRAND_ID" ng-model="item.RF_BRAND_ID" class="form-control" />

                                </td>
                                <td class="clstdMtex">
                                    {{item.YRN_LOT_NO}}
                                    <input type="hidden" name="KNT_YRN_LOT_ID" ng-model="item.KNT_YRN_LOT_ID" class="form-control" />

                                </td>
                                <td class="clstdMtex">
                                    {{item.IMP_LC_NO}}
                                    <input type="hidden" name="KNT_YRN_STR_RPL_REQ_D_ID" ng-model="item.KNT_YRN_STR_RPL_REQ_D_ID" class="form-control" />
                                </td>

                                <td class="clstdMtex">
                                    {{item.STOCK_QTY}} Kg
                                </td>
                                <td class="clstdMtex">
                                    {{item.REQ_RTN_QTY}} Kg
                                </td>
                                <td class="clstdMtex">
                                    <input type="number" name="PACK_ISS_QTY" ng-model="item.PACK_ISS_QTY" style="max-width:80px; text-align:right;" class="form-control" />

                                </td>

                                <td class="clstdMtex">
                                    <input type="number" name="ISSUE_QTY" ng-model="item.ISSUE_QTY" style="max-width:80px; text-align:right;" ng-change="vm.checkReturnQty(item)" class="form-control " />

                                </td>
                                <td class="clstdMtex">
                                    <input type="text" name="SP_NOTE" ng-model="item.SP_NOTE" style="max-width:180px; text-align:right;" class="form-control" />

                                </td>

                                <td class="clstdMtex">

                                    <button type="button" ng-if="!vm.formItem.uid" class="btn btn-sm green" style="max-width:100px;" ng-click="vm.addToGrid(item)">Add to Grid</button>
                                </td>
                            </tr>
                        </table>

                        <div style="padding:3px;">
                        </div>

                        <div style="padding:3px;">
                        </div>

                        <div style="padding:2px;">
                            <div kendo-grid k-options="vm.gridOptionsRtnItem" id="IDRequisitionDS" k-data-source="vm.ReturnItemList"></div>
                        </div>

                        <div style="padding:3px;">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-sm blue" ui-sref="YarnRtnToSupReqList">Back To List</button>
                                <button type="submit" ng-if="vm.form.KNT_YRN_RPL_ISS_H_ID>0" class="btn btn-sm yellow-gold" ng-disabled="!vm.form.RF_ACTN_STATUS_ID>0" ng-click="vm.submitConfirm(vm.form);">Submit</button>
                                <button type="submit" ng-if="!vm.form.KNT_YRN_RPL_ISS_H_ID>0" class="btn btn-sm green" ng-click="vm.submitAll(vm.form);">Save</button>
                                <button type="button" class="btn btn-sm default" ui-sref="YarnRtnToSupReq({pKNT_YRN_RPL_ISS_H_ID : 0})" ui-sref-opts="{reload: true}">Cancel</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @*<button type="button" ng-if="vm.form.KNT_YRN_RPL_ISS_H_ID>0" class="btn btn-sm blue" ng-click="vm.printChallan()">Print Challan</button>*@
                            </div>
                            <label class="control-label col-md-1">
                                <span aria-required="true" class="required">*</span>
                                Action Status
                            </label>
                            <div class="col-md-2" ng-if="vm.form.RF_ACTN_VIEW>0">
                                <select kendo-drop-down-list name="RF_ACTN_STATUS_ID" id="RF_ACTN_STATUS_ID" class="form-control required"
                                        options="vm.statusList" ng-model="vm.form.RF_ACTN_STATUS_ID" required></select>
                            </div>

                            <div class="col-md-2" ng-if="!vm.form.RF_ACTN_VIEW>0">

                                <input type="text" ng-model="vm.form.ACTN_STATUS_NAME" style="width: 100%;" readonly="readonly" />
                                <input type="hidden" ng-model="vm.form.RF_ACTN_STATUS_ID" />

                            </div>
                        </div>
                    </fieldset>
                </tab>
                <tab heading="Receive Data" active="" ng-if="vm.form.KNT_YRN_RPL_ISS_H_ID>0 && vm.form.RF_ACTN_STATUS_ID!=14">

                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend"><b>Receive Details</b></legend>
                        <div><label id="lblMsg"></label></div>
                        <div class="form-group">

                            <label class="control-label col-md-2">
                                <span aria-required="true" class="required">*</span>
                                Item Category
                            </label>
                            <div class="col-md-2">

                                <select class="form-control requiredSub2" kendo-drop-down-list name="INV_ITEM_CAT_ID" id="INV_ITEM_CAT_ID" k-option-label="'-- Select Category --'"
                                        k-data-text-field="'ITEM_CAT_NAME_EN'" k-data-value-field="'INV_ITEM_CAT_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.itemCategoryList" k-delay="vm.itemCategoryList" k-filter="'contains'"
                                        ng-disabled="vm.form.INV_ITEM_CAT_ID>0" ng-model="vm.form.INV_ITEM_CAT_ID" k-on-change="vm.getItemDataByCategory(kendoEvent)"></select>

                                <input type="hidden" name="PARENT_ID" ng-model="vm.form.PARENT_ID" class="form-control" />

                            </div>
                            <label class="col-md-1 control-label">
                                <span aria-required="true" class="required">*</span>
                                Currency
                            </label>
                            <div class="col-md-1">
                                <select kendo-drop-down-list id="RF_CURRENCY_ID" name="RF_CURRENCY_ID" class="form-control requiredSub2"
                                        options="vm.currencyList" ng-model="vm.form.RF_CURRENCY_ID"></select>
                            </div>
                            <div class="col-md-1" style="padding-left:0px;">
                                <input type="text" name="LOC_CONV_RATE" placeholder="Conv. Rate" ng-model="vm.form.LOC_CONV_RATE" class="form-control doubleSub2" />
                            </div>

                            <label class="col-md-1 control-label">
                                <span aria-required="true" class="required">*</span>
                                L/C #
                            </label>
                            <div class="col-md-1">
                                <select kendo-drop-down-list id="CM_IMP_LC_H_ID" name="CM_IMP_LC_H_ID" class="form-control requiredSub2"
                                        options="vm.lcList" ng-model="vm.form.CM_IMP_LC_H_ID"></select>
                            </div>

                            <label class="col-md-1 control-label">
                                <span aria-required="true" class="required">*</span>
                                Rcv. Date
                            </label>
                            <div class="col-md-1" style="padding-right:0px;">

                                <input type="text" class="form-control requiredSub2" ng-click="RCV_CHALAN_DT_LNopen($event)" 
                                       datepicker-popup="{{vm.dtFormat}}" name="RCV_CHALAN_DT" max-date="vm.today" ng-model="vm.form.RCV_CHALAN_DT" 
                                       is-open="RCV_CHALAN_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />

                                @*<input type="text" class="form-control requiredSub2" ng-click="RCV_CHALAN_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" id="RCV_CHALAN_DT"
                                       name="RCV_CHALAN_DT" max-date="vm.today" ng-model="vm.form.RCV_CHALAN_DT" is-open="ISS_CHALAN_DT_LNopened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"
                                       required />*@
                            </div>
                        </div>

                        <table style="width:100%">

                            <tr>
                                <td style="border: solid 1px black; width: 20%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Yarn Item</b>
                                </td>
                                <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left:5px;">
                                    <b>Color Group</b>
                                </td>
                                <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left:5px;">
                                    <b>Brand</b>
                                </td>
                                <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Lot #</b>
                                </td>

                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Receive Qty.</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Pack Unit</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Qty/Pack</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Loose Qty</b>
                                </td>

                                <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Total Rcv Qty.</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>UoM</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>No of Cone</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Rate</b>
                                </td>
                                <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>TTL Value</b>
                                </td>

                                <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                                    <b>Action</b>
                                </td>

                            </tr>
                            <tr class="">
                                <td style="padding:5px;border:solid 1px black;width:15%;">

                                    <select class="form-control requiredSub2" style="min-width: 50px; max-width: 250px;" kendo-drop-down-list name="YARN_ITEM_ID" id="YARN_ITEM_ID" k-option-label="'-- Select Yarn Item --'"
                                            k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'INV_ITEM_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.DyItemList" k-ng-delay="vm.DyItemList" k-filter="'contains'" ng-model="vm.formRcvItem.YARN_ITEM_ID" k-on-change="vm.getItemDtl(kendoEvent)"></select>

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 10%;">
                                    <select class="form-control requiredSub2" style="min-width: 50px; max-width: 120px;" kendo-drop-down-list name="LK_YRN_COLR_GRP_ID" id="LK_YRN_COLR_GRP_ID" k-option-label="'--Select Color--'"
                                            k-data-text-field="'LK_DATA_NAME_EN'" k-data-value-field="'LOOKUP_DATA_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.yarnColorGroupList" k-filter="'contains'" ng-model="vm.formRcvItem.LK_YRN_COLR_GRP_ID"></select>

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 10%;">
                                    <select class="form-control requiredSub2" style="min-width: 50px; max-width: 120px;" kendo-drop-down-list name="RF_BRAND_ID" id="RF_BRAND_ID" k-option-label="'-- Select Brand --'"
                                            k-data-text-field="'BRAND_NAME_EN'" k-data-value-field="'RF_BRAND_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.categoryBrandList" k-filter="'contains'" ng-model="vm.formRcvItem.RF_BRAND_ID"></select>

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 10%;">
                                    <input type="text" name="YRN_LOT_NO" ng-model="vm.formRcvItem.YRN_LOT_NO" class="form-control requiredSub2" />
                                    <input type="hidden" name="KNT_YRN_RCV_H_ID" ng-model="vm.formRcvItem.KNT_YRN_RCV_H_ID" class="form-control" />
                                    <input type="hidden" name="KNT_YRN_RCV_D_ID" ng-model="vm.formRcvItem.KNT_YRN_RCV_D_ID" class="form-control" />
                                    <input type="hidden" name="PCT_ADDL_PRICE" ng-model="vm.formRcvItem.PCT_ADDL_PRICE" class="form-control" />


                                </td>

                                <td style="padding:5px;border:solid 1px black;width: 5%;">
                                    <input type="number" name="PACK_RCV_QTY" ng-model="vm.formRcvItem.PACK_RCV_QTY" ng-change="vm.TotalReceiveQty()" class="form-control doubleSub2" />
                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 5%;">

                                    <select class="form-control requiredSub2" style="min-width: 50px; max-width: 120px;" kendo-drop-down-list name="PACK_MOU_ID" id="PACK_MOU_ID" k-option-label="'-- Select MoU --'"
                                            k-data-text-field="'MOU_CODE'" k-data-value-field="'RF_MOU_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.packMoUList" k-filter="'contains'" ng-model="vm.formRcvItem.PACK_MOU_ID"></select>

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 5%;">
                                    <input type="number" name="QTY_PER_PACK" ng-model="vm.formRcvItem.QTY_PER_PACK" ng-change="vm.TotalReceiveQty()" class="form-control doubleSub2" />

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 5%;">
                                    <input type="number" name="LOOSE_QTY" ng-model="vm.formRcvItem.LOOSE_QTY" ng-change="vm.TotalReceiveQty()" class="form-control" />

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 10%;">
                                    <input type="text" name="RCV_QTY" ng-model="vm.formRcvItem.RCV_QTY" readonly="readonly" class="form-control doubleSub2" />

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 5%;">
                                    <select class="form-control requiredSub2" style="min-width: 50px; max-width: 160px;" kendo-drop-down-list name="QTY_MOU_ID" id="QTY_MOU_ID" k-option-label="'--UoM--'"
                                            k-data-text-field="'MOU_CODE'" k-data-value-field="'RF_MOU_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.mOUList" k-filter="'contains'" ng-model="vm.formRcvItem.QTY_MOU_ID" ng-disabled="vm.formItem.QTY_MOU_ID>0"></select>

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 5%;">
                                    @*<input type="text" name="SP_NOTE" ng-model="vm.formItem.SP_NOTE" class="form-control" />*@
                                    <input type="text" name="CONE_QTY" ng-model="vm.formRcvItem.CONE_QTY" class="form-control" />

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 5%;">
                                    <input type="number" name="UNIT_PRICE" ng-model="vm.formRcvItem.UNIT_PRICE" ng-change="vm.TotalPriceAmount()" class="form-control doubleSub2" />

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 10%;">
                                    <input type="number" name="TOTAL_AMT" ng-model="vm.formRcvItem.TOTAL_AMT" readonly="readonly" class="form-control doubleSub2" />
                                    <input type="hidden" name="COST_PRICE" ng-model="vm.formRcvItem.COST_PRICE" />

                                </td>
                                <td style="padding:5px;border:solid 1px black;width: 10%; text-align:center;">
                                    <button type="button" ng-if="vm.formRcvItem.uid" class="btn btn-sm yellow" ng-click="vm.addToRcvGrid(vm.formRcvItem)">Update to Grid</button>
                                    <button type="button" ng-if="!vm.formRcvItem.uid" class="btn btn-sm green" ng-click="vm.addToRcvGrid(vm.formRcvItem)">Add to Grid</button>
                                </td>
                            </tr>
                        </table>

                        <div style="padding:3px;">
                        </div>

                        <div style="padding:3px;">
                        </div>

                        <div style="padding:2px;">
                            <div kendo-grid k-options="vm.gridOptionsRcvItem" k-data-source="vm.ReceiveItemList"></div>
                        </div>
                        <div style="padding:3px;">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-sm blue" ui-sref="YarnRtnToSupIssueList">Back To List</button>
                                <button type="button" ng-if="vm.form.PARENT_ID>0" class="btn btn-sm yellow-gold" ng-click="vm.receiveConfirm(vm.form);">Confirm</button>
                                <button type="button" ng-if="!vm.form.PARENT_ID>0" class="btn btn-sm green" ng-click="vm.receiveAll(vm.form);">Save</button>
                                <button type="button" class="btn btn-sm default" ui-sref="YarnRtnToSupIssue({pKNT_YRN_RPL_ISS_H_ID : 0})" ui-sref-opts="{reload: true}">Cancel</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                @*<button type="button" ng-if="vm.form.KNT_YRN_RPL_ISS_H_ID>0" class="btn btn-sm blue" ng-click="vm.printChallan()">Print Challan</button>*@
                            </div>
                        </div>
                    </fieldset>
                </tab>
            </tabset>

        </div>
        <div style="padding:3px;">
        </div>
    </form>
</div>
