
<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .bg-y {
        background: #e9e9a0;
    }
    .bg-g {
        background: #9ae89f;
    }
    .k-grid tr td {
        border-bottom: 1px solid black;
    }

</style>


<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a  ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body" id="PORTLET_BODY">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>

        <form class="form-horizontal" role="form" name="frmYDStatement">
            
            <div class="form-body clearfix">

                <div class="row">
                    <div class="col-md-6">
                        <fieldset class="custom-fieldset">
                            <legend class="custom-legend"></legend>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Category</label>
                                <div class="col-md-8">
                                    <select kendo-drop-down-list name="RF_FAB_PROD_CAT_ID" id="RF_FAB_PROD_CAT_ID" class="form-control"
                                            options="productionTypeList" ng-model="vm.form.RF_FAB_PROD_CAT_ID"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Shipment Month</label>
                                <div class="col-md-8">
                                    <select class="form-control" kendo-drop-down-list name="MONTHOF" k-option-label="'-- Select Month --'"
                                            k-data-text-field="'MONTHOF'" k-data-value-field="'MONTHOF'" k-filter="'contains'"
                                            k-auto-bind="'true'" k-data-source="vm.shipMonthList" ng-model="vm.form.MONTHOF"
                                            k-on-change="vm.onChangeShipMonth(vm.form,kendoEvent)"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Buyer A/C</label>
                                <div class="col-md-8">
                                    <select kendo-drop-down-list name="MC_BYR_ACC_ID" class="form-control"
                                            k-options="buyerAcList" id="MC_BYR_ACC_ID" ng-model="vm.form.MC_BYR_ACC_ID"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Style/Order#</label>
                                <div class="col-md-8">
                                    <select class="form-control" kendo-drop-down-list id="ORDER_LIST" name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Order# --'"
                                            k-data-text-field="'ORDER_NO_LST'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                            k-template="templateOh" k-value-template="valueTemplateOh"
                                            k-auto-bind="'true'" k-data-source="FabOederByOhDs" ng-model="vm.form.MC_FAB_PROD_ORD_H_ID"
                                            required style="width:100%;"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Y/D Program#</label>
                                <div class="col-md-8">
                                    <select class="form-control" kendo-drop-down-list name="KNT_YD_PRG_H_ID" k-option-label="'--Yd Program --'"
                                            k-data-text-field="'PRG_REF_NO'" k-data-value-field="'KNT_YD_PRG_H_ID'" k-filter="'Contains'"
                                            k-auto-bind="'true'" k-data-source="KntYdProgramDs" ng-model="vm.form.KNT_YD_PRG_H_ID"
                                            required style="width:100%;"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Party/Supplier</label>
                                <div class="col-md-8">
                                    <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" k-filter="'contains'" k-option-label="'-- Select --'"
                                            k-data-text-field="'SUP_SNAME'" k-data-value-field="'SCM_SUPPLIER_ID'"
                                            k-auto-bind="'true'" k-data-source="vm.supplierListDs" ng-model="vm.form.SCM_SUPPLIER_ID"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-offset-1 col-md-3">Program Status</label>
                                <div class="col-md-8">
                                    <select class="form-control" kendo-drop-down-list name="PCT_DONE_CODE" k-filter="'contains'" k-option-label="'-- Select --'"
                                            k-data-text-field="'LABEL'" k-data-value-field="'CODE'"
                                            k-auto-bind="'true'" k-data-source="vm.donePctDs" ng-model="vm.form.PCT_DONE_CODE"></select>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-offset-4 col-md-8">
                                    <button class="btn btn-sm blue" ng-click="vm.printYdStatement(vm.form)">Show</button>
                                </div>
                            </div>

                            @*<div class="form-group">

                            <div class="col-md-2" style="padding-left:0px;padding-right:0px;">
                                Category
                                <select kendo-drop-down-list name="RF_FAB_PROD_CAT_ID" id="RF_FAB_PROD_CAT_ID" class="form-control"
                                        options="productionTypeList" ng-model="vm.form.RF_FAB_PROD_CAT_ID"></select>
                            </div>
                            <div class="col-md-2" style="padding-left:3px;padding-right:0px;">
                                Ship Month
                                <select class="form-control" kendo-drop-down-list name="MONTHOF" k-option-label="'-- Select Month --'"
                                        k-data-text-field="'MONTHOF'" k-data-value-field="'MONTHOF'" k-filter="'contains'"
                                        k-auto-bind="'true'" k-data-source="vm.shipMonthList" ng-model="vm.form.MONTHOF"
                                        k-on-change="vm.onChangeShipMonth(vm.form,kendoEvent)"></select>
                            </div>

                            <div class="col-md-2" style="padding-left:3px;padding-right:0px;">
                                Buyer A/C
                                <select kendo-drop-down-list name="MC_BYR_ACC_ID" class="form-control"
                                        k-options="buyerAcList" id="MC_BYR_ACC_ID" ng-model="vm.form.MC_BYR_ACC_ID" required></select>
                            </div>

                            <div class="col-md-2" style="padding-left:3px;padding-right:0px;">
                                Style/Order

                                <select class="form-control" kendo-drop-down-list id="ORDER_LIST" name="MC_FAB_PROD_ORD_H_ID" k-option-label="'--Order# --'"
                                        k-data-text-field="'ORDER_NO_LST'" k-data-value-field="'MC_FAB_PROD_ORD_H_ID'" k-filter="'Contains'"
                                        k-template="templateOh" k-value-template="valueTemplateOh"
                                        k-auto-bind="'true'" k-data-source="FabOederByOhDs" ng-model="vm.form.MC_FAB_PROD_ORD_H_ID"
                                        required style="width:100%;"></select>
                            </div>

                            <div class="col-md-1" style="padding-left:3px;padding-right:0px;">
                                Y/D Prog
                                <select class="form-control" kendo-drop-down-list name="KNT_YD_PRG_H_ID" k-option-label="'--Yd Program --'"
                                        k-data-text-field="'PRG_REF_NO'" k-data-value-field="'KNT_YD_PRG_H_ID'" k-filter="'Contains'"
                                        k-auto-bind="'true'" k-data-source="KntYdProgramDs" ng-model="vm.form.KNT_YD_PRG_H_ID"
                                        required style="width:100%;"></select>

                            </div>

                            <div class="col-md-1" style="padding-left:5px;padding-right:0px;">
                                Party
                                <select class="form-control" kendo-drop-down-list name="SCM_SUPPLIER_ID" k-filter="'contains'" k-option-label="'-- Select --'"
                                        k-data-text-field="'SUP_SNAME'" k-data-value-field="'SCM_SUPPLIER_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.supplierListDs" ng-model="vm.form.SCM_SUPPLIER_ID"></select>
                            </div>
                            <div class="col-md-1" style="padding-left:5px;padding-right:0px;">
                                Status
                                <select class="form-control" kendo-drop-down-list name="PCT_DONE_CODE" k-filter="'contains'" k-option-label="'-- Select --'"
                                        k-data-text-field="'LABEL'" k-data-value-field="'CODE'"
                                        k-auto-bind="'true'" k-data-source="vm.donePctDs" ng-model="vm.form.PCT_DONE_CODE"></select>
                            </div>

                            <div class="col-md-1">
                                <br />
                                <button class="btn btn-sm" ng-click="vm.onSearch(vm.form)">Show</button>
                            </div>


                        </div>*@
                        </fieldset>
                    </div>
                </div>

            </div>
        </form>

        @*<br />
         <div style="margin:auto;">   
            <kendo-grid k-options="vm.YdProgramHeaderOpt" k-data-source="vm.YdProgramHeaderDs" style="padding-top:0px;"></kendo-grid>
        </div>

        <div class="row" style="padding-top:3px;">
            <div class="col-md-12">
                <button class="btn btn-xs blue-chambray" style="float:right;" type="button" ng-click="vm.onPrint(vm.form)"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>*@


    </div>
</div>







