@{
    ViewBag.Title = "Collar Cuff Transfer/Recieve at fabric Store";
}

<div class="portlet-body" data-ui-view="KntCollarCuffStrRcvH"></div>
<div class="portlet-body" data-ui-view="KntCollarCuffStrRcvList"></div>
