@{
    ViewBag.Title = "Order wise Collar Cuff Requirement";
}

<div class="portlet-body shuffle-animation" data-ui-view="KntCollarCuffOrdReqList"></div>
<div class="portlet-body shuffle-animation" data-ui-view="KntCollarCuffOrdProdH"></div>
