@{
    Layout = "~/Views/Shared/_MenuLessPageLayout.cshtml";
}

@{
    ViewBag.Title = "Fabric Roll Production";
}

<div class="portlet-body" data-ui-view="KnitPlanJobCardRollProdTab"></div>

@section angularscripts{ 
   <script src="~/Areas/Knitting/Client/app/controllers/knitPlanJobCardRollProdTabController.js"></script>
}
