
@{
    Layout = "~/Views/Shared/_MenuLessPageLayout.cshtml";
}

@{
    ViewBag.Title = "Fabric Roll Inspection";
}

<div class="portlet-body" data-ui-view="KnitPlanJobCardRollInsp"></div>

@section angularscripts{
    <script src="~/Areas/Knitting/Client/app/controllers/KnitPlanJobCardRollInspController.js"></script>
}
