@{
    ViewBag.Title = "Grey Fabric Receive";
}


<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Knitting</a>

    </li>
    <li>
        <a href="#">Grey Fabric Receive</a>
    </li>
</ul>


<div class="portlet box blue-dark" @*ng-controller="HrReportController as vm"*@>


    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Grey Fabric Receive
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse">
                </a>*@
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            @*<a href="javascript:;" class="remove">
                </a>*@
        </div>
    </div>



    <div class="portlet-body">

        <div style="padding-top:5px;">
            @*{{resolveData}}*@
            <tabset>
                <tab heading="Fabric Receive" active="" ui-sref="KntGreyFabRcv">
                    <div data-ui-view="KntGreyFabRcvH"></div>
                </tab>

                <tab heading="Fabric Stock" active="" ui-sref="KnitFabricStoreStk">
                    <div data-ui-view="KnitFabricStoreStk"></div>
                </tab>
            </tabset>
        </div>

    </div>

</div>







