@{
    ViewBag.Title = "Daily Shift and M/C Wise Needle Broken";
}

<div class="portlet-body" data-ui-view="KntMcNeedleBroken"></div>
<div class="portlet-body" data-ui-view="KntMcNeedleBrokenList"></div>