@{
    ViewBag.Title = "M/C Oil Requisition for Sub-store";
}

<div class="portlet-body" data-ui-view="KntMcOilReq4SubStr"></div>
<div class="portlet-body" data-ui-view="KntMcOilReq4SubStrList"></div>
<div class="portlet-body" data-ui-view="KntMcOilReqIss4SubStr"></div>
