@{
    ViewBag.Title = "Collar Cuff Program (S/C Out-house)";
}

<div class="portlet-body" data-ui-view="ScoCollarCuffProgH"></div>
<div class="portlet-body" data-ui-view="ScoCollarCuffProgList"></div>

