@{
    ViewBag.Title = "Grey Fabric Return Challan (S/C Out-house)";
}

<div class="portlet-body" data-ui-view="ScoGreyFabRtnToPartyH"></div>
<div class="portlet-body" data-ui-view="ScoGreyFabRtnToPartyList"></div>
