        @{
            Layout = "~/Views/Shared/_HtmlRptLayout.cshtml";
        }

        @{
            ViewBag.Title = "Excess Fabric ";
        }

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
    <!-- BEGIN PAGE HEAD -->

        <div class="row">
            <div data-ui-view="KntShortFabProdOrdRpt"></div>
        </div>

    </div>
    </div>
    <!-- END CONTENT -->


    @section angularscripts{
        <script src="~/Areas/Knitting/Client/app/config.knittingRoute.js"></script>
        <script src="~/Areas/Knitting/Client/app/services/knittingDataService.js"></script>        
        <script src="~/Areas/Knitting/Client/app/controllers/excessFabReqRptController.js"></script>
    }