@{
    ViewBag.Title = "Short Fabric Booking";
}

<div class="portlet-body" data-ui-view="KntShortFabProdOrdH"></div>
<div class="portlet-body" data-ui-view="KntShortFabProdOrdList"></div>

<div class="portlet-body" data-ui-view="KntSrtFabProdOrdAprovList"></div>
