@{
    Layout = "~/Views/Shared/_HtmlRptLayout.cshtml";
}

@{
    ViewBag.Title = ".";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN PAGE HEAD -->

        <div class="row">
            <div data-ui-view></div>
        </div>

    </div>
</div>
<!-- END CONTENT -->
@section angularscripts{
    <script src="~/Areas/Knitting/Client/app/config.knittingRoute.js"></script>
    <script src="~/Areas/Knitting/Client/app/services/knittingDataService.js"></script>
    <script src="~/Areas/Knitting/Client/app/controllers/YarnTestResultPrintController.js"></script>
}