
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>


    <div class="portlet-body form">
        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>

        <form class="form-horizontal" role="form" name="frmIncrMemoCreation" novalidate>
            <div class="form-body clearfix">
                <div class="row" style="margin:auto">
                    
                    <div class="row" style="margin:auto;" ng-show="vm.errors">
                        <div class="alert alert-danger" role="alert">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>*@
                            <div style="padding: 0px 0px 15px 25px; ">
                                <b>Please fix the following errors ....</b>
                            </div>
                            <ul ng-repeat="field in vm.errors">
                                <li ng-repeat="error in field" ng-bind="error"></li>
                            </ul>
                        </div>
                    </div>

                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend">Increment Memo</legend>

                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Employee Code
                                </label>
                                <div class="col-md-4">
                                    <input type="text" ng-model="vm.form.EMPLOYEE_CODE" placeholder="Search..." @*ng-disabled="vm.isEmployee!=true"*@
                                           typeahead="item.EMPLOYEE_CODE as item.EMPLOYEE_CODE for item in vm.emoloyeeAuto($viewValue)"
                                           typeahead-min-length="3" typeahead-wait-ms="1000"
                                           typeahead-on-select="vm.onSelectItem($item)" typeahead-loading="loadingLocations"
                                           @*ng-show="vm.form.KNT_ORD_TRN_REQ_H_ID<1"*@ class="form-control" required>
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Name
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="EMP_FULL_NAME_EN" ng-model="vm.form.EMP_FULL_NAME_EN" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Designation
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="DESIGNATION_NAME_EN" ng-model="vm.form.DESIGNATION_NAME_EN" readonly />
                                </div>
                            </div>

                            <div class="form-group">
                                
                                <div class="col-md-offset-3 col-md-7">
                                    <button type="button" class="btn btn-sm blue" ng-click="vm.showHistoryList()" >Show</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <img id="empPhoto1" src="/UPLOAD_DOCS/EMP_PHOTOS/{{vm.form.EMPLOYEE_CODE}}.jpg" alt="No Photo" style="border:1px solid black; height:140px;width:130px" />
                        </div>
                    </fieldset>
                    

                </div>

                <div class="row" style="margin:auto;padding-top:5px">
                    <fieldset class="custom-fieldset">
                        <div kendo-grid id="incrEmpListGrid" k-options="vm.empIncrHistoryGridOption" k-data-source="vm.empIncrHistoryGridDataSource"></div>
                    </fieldset>
                </div>

            </div>
        </form>



    </div>

</div>


