
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>


    <div class="portlet-body form">
        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>

        <form class="form-horizontal" role="form" name="frmIncrProcess" novalidate>
            <div class="form-body clearfix">
                <div class="row" style="margin:auto">
                    
                    <div class="row" style="margin:auto;" ng-show="vm.errors">
                        <div class="alert alert-danger" role="alert">
                            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>*@
                            <div style="padding: 0px 0px 15px 25px; ">
                                <b>Please fix the following errors ....</b>
                            </div>
                            <ul ng-repeat="field in vm.errors">
                                <li ng-repeat="error in field" ng-bind="error"></li>
                            </ul>
                        </div>
                    </div>

                    <fieldset class="custom-fieldset col-md-6">
                        <legend class="custom-legend">Increment Effect Process</legend>

                        <div class="col-md-12">
                                                       
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span aria-required="true" class="required">*</span>Incr. Company
                                </label>
                                <div class="col-md-7">
                                    <select class="form-control" kendo-drop-down-list name="HR_COMPANY_ID" required
                                            k-data-text-field="'COMP_NAME_EN'" k-data-value-field="'HR_COMPANY_ID'" k-option-label="'-- Select --'"
                                            k-auto-bind="'true'" k-options="vm.compOptions" ng-model="vm.form.HR_COMPANY_ID"
                                            @*k-on-select="vm.onSelectCompany(kendoEvent)"*@></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    <span aria-required="true" class="required">*</span>Incr. Period
                                </label>
                                <div class="col-md-5">
                                    <select class="form-control" kendo-drop-down-list name="ACC_PAY_PERIOD_ID" required
                                            k-data-text-field="'MONTH_YEAR_NAME'" k-data-value-field="'ACC_PAY_PERIOD_ID'" k-option-label="'-- Select --'" k-on-change="vm.onChangePeriod(kendoEvent)"
                                            k-auto-bind="'true'" k-options="vm.compPayPeriodOptions" k-data-source="vm.compPayPeriodDataSource" ng-model="vm.form.ACC_PAY_PERIOD_ID"></select>

                                </div>
                            </div>

                            

                            @*<p>&nbsp;</p>*@
                            @*{{frmIncrMemoCreation.$invalid}}*@
                            @*<pre>{{vm.form|json}}</pre>*@
                            <div class="col-md-offset-3 col-md-12" style="padding-bottom:5px;margin-top:10px;">
                                <button type="button" class="btn btn-sm green" ng-click="vm.incrProcess()"
                                        ng-class="{'disabled':frmIncrProcess.$invalid||vm.form.IS_FINALIZED=='Y'}">
                                    Process
                                </button>
                                
                                @*<button type="button" class="btn btn-sm blue" ng-click="vm.reset()">Cancel</button>*@
                               
                            </div>                            

                            
                        </div>
                    </fieldset>
                    

                </div>

              

            </div>
        </form>



    </div>

</div>


