<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">HR</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Line Entry</b></legend>
                <div><label id="lblMsgSub"></label></div>
                <div class="row" style="padding-left: 5px; padding-right: 5px;">
                    
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Company 
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list id="HR_COMPANY_ID" name="HR_COMPANY_ID" class="form-control required"
                                        options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID"></select>
                            </div>

                        </div>
                    </div>

                    <div style="padding:3px;">
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Office
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list id="HR_OFFICE_ID" name="HR_OFFICE_ID" class="form-control required"
                                        options="vm.officeList" ng-model="vm.form.HR_OFFICE_ID" ng-change="vm.OfficeChange(vm.form);"></select>
                            </div>

                        </div>
                    </div>

                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Building
                            </label>
                            <div class="col-md-3">
                                <select class="form-control required" kendo-drop-down-list name="HR_PROD_BLDNG_ID" k-option-label="'-- Select Building --'"
                                        k-data-text-field="'BLDNG_DESC_EN'" k-data-value-field="'HR_PROD_BLDNG_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.buildingList" k-ng-delay="vm.buildingList" k-filter="'contains'"
                                        ng-model="vm.form.HR_PROD_BLDNG_ID" k-on-change="vm.newBuildingAdd(vm.form);"></select>

                            </div>

                        </div>
                    </div>

                    <div style="padding:3px;">
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Floor
                            </label>
                            <div class="col-md-3">
                                <select class="form-control required" kendo-drop-down-list name="HR_PROD_FLR_ID" k-option-label="'-- Select Floor --'"
                                        k-data-text-field="'FLOOR_DESC_EN'" k-data-value-field="'HR_PROD_FLR_ID'"
                                        k-auto-bind="'true'" k-data-source="vm.floorList" k-ng-delay="vm.floorList" k-filter="'contains'"
                                        ng-model="vm.form.HR_PROD_FLR_ID" k-on-change="vm.newFloorAdd(vm.form);"></select>
                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Line No
                            </label>
                            <div class="col-md-3">

                                <input type="text" name="LINE_NO" ng-model="vm.form.LINE_NO" class="form-control" />
                                <input type="hidden" name="HR_PROD_LINE_ID" ng-model="vm.form.HR_PROD_LINE_ID" class="form-control" />
                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Line Code
                            </label>
                            <div class="col-md-3">

                                <input type="text" name="LINE_CODE" ng-model="vm.form.LINE_CODE" class="form-control required" />

                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Line Name (EN)
                            </label>
                            <div class="col-md-3">

                                <input type="text" name="LINE_DESC_EN" ng-model="vm.form.LINE_DESC_EN" class="form-control" />

                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Line Name (BN)
                            </label>
                            <div class="col-md-3">

                                <input type="text" name="LINE_DESC_BN" ng-model="vm.form.LINE_DESC_BN" class="form-control" />

                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Floor Type
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list id="LK_GARM_TYPE_ID" name="LK_GARM_TYPE_ID" class="form-control required"
                                        options="vm.prdFloorTypeList" ng-model="vm.form.LK_GARM_TYPE_ID"></select>
                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Line Floor
                            </label>
                            <div class="col-md-3">
                                <select kendo-drop-down-list id="LK_FLOOR_ID" name="LK_FLOOR_ID" class="form-control required"
                                        options="vm.LKFloorList" ng-model="vm.form.LK_FLOOR_ID"></select>
                            </div>

                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required">*</span>
                                Is Active
                            </label>
                            <div class="col-md-1">

                                <input type="checkbox" name="IS_ACTIVE" ng-model="vm.form.IS_ACTIVE" ng-true-value="'Y'" ng-false-value="'N'" class="" />

                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <button type="button" ng-if="vm.form.uid" class="btn btn-sm yellow" ng-click="vm.submitAll(vm.form)">Update</button>
                            <button type="button" ng-if="!vm.form.uid" class="btn btn-sm green" ng-click="vm.submitAll(vm.form)">Save</button>
                            <button type="button" class="btn btn-sm" ng-click="vm.reset()">Clear</button>
                        </div>
                    </div>
                    <div style="padding:3px;">
                    </div>
                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-12" style="padding-left: 40px; padding-right: 40px;">
                                <div kendo-grid k-options="vm.gridOptions" id="gridOptionID" k-data-source="vm.buildingFloorList"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>

    </form>
</div>
