@{
    ViewBag.Title = "Increment";
}

<div class="portlet-body" data-ui-view="IncrimentProposalH"></div>
<div class="portlet-body" data-ui-view="IncrProposalBatchList"></div>
<div class="portlet-body" data-ui-view="IncrementProcess"></div>

<div class="portlet-body" data-ui-view="SpecialIncrH"></div>