@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{

    <script src="~/Areas/Planning/Client/app/config.planningRoute.js?v=2"></script>    
    <script src="~/Areas/Planning/Client/app/services/planningDataService.js?v=2"></script>   
    <script src="~/Areas/Planning/Client/app/controllers/plnReportController.js?v=2"></script>    
    <script src="~/Areas/Planning/Client/app/controllers/capctyClndrController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/prodCapctyMNController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/learningCurvController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/ordVlumWiseCpmEffController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/throughPutTimeController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtPlanStatusController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/itemPartMapController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/partProcessSpecController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/plnCritProcessTempController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/prodTypeLineMapController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/plnHolyDayModelController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtLineLoadingPlanController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/activityPermissionController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/orderItemListLnPlnController.js?v=2"></script> 
    <script src="~/Areas/Planning/Client/app/controllers/manualLineLoadingModalController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/manualLineLoadingLineSugModalController.js?v=2"></script> 
    <script src="~/Areas/Planning/Client/app/controllers/capacityBkDashboardController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtLineLoadingTuneModalController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtLineLoadTnaDatasModalController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtLineLoadingEventOffsetModalController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtProdMonitoringModalController.js?v=2"></script>  
    <script src="~/Areas/Planning/Client/app/controllers/gmtPlanChangeModalController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/gmtOrderMergingModalController.js?v=2"></script>
    <script src="~/Areas/Planning/Client/app/controllers/byrWiseCapctyAllocController.js?v=2"></script>

    @*========== Other Module's Service ==========*@
    

    @*========== Other Module's Controller ==========*@
    

}
