@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{


    <script src="~/Areas/Dyeing/Client/app/config.dyeingRoute.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/services/dyeingDataService.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/labdipRecipeListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/labdipRecipeController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/labdipRecipeModalController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/requisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/requisitionListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalReceiveController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalReceiveListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalStoreTransferController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalStoreTransferListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalStoreIssueController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalOpeningBalanceController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCIssueRequisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCIssueRequisitionListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCIssueController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCIssueListController.js?v=1"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/dCLoanReturnRequisitionListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCLoanReturnRequisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCLoanReturnController.js?v=1"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/dCBatchProgramRequisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCBatchProgramRequisitionListController.js?v=1"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/dyingBatchPlanController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCIssueBatchProgramController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeReportController.js?v=1"></script>


    <script src="~/Areas/Dyeing/Client/app/controllers/dCDosingTempleteController.js?v=1"></script>


    <script src="~/Areas/Dyeing/Client/app/controllers/MachineWashRequisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/MachineWashRequisitionListController.js?v=1"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/DCRequestLoanRequisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCRequestLoanRequisitionListController.js?v=1"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/DCIssueAgainstLoanRequisitionListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCIssueAgainstLoanRequisitionController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCIssuedLoanAdjustController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCIssuedLoanAdjustListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeMachineController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeBatchFabReqController.js?v=5"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeDailyBatchProdReprocessController.js?v=1"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/dCOpeningSupLNSTKController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCIssueBatchProgramListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeBatchProgramModalController.js?v=2"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeBatchFabReqSampleController.js?v=6"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeBatchProgramModalSampleController.js?v=2"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeDailyOtherBatchProdReprocessController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCBatchProgramCompleteListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalLoanReceiveListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeChemicalLoanReceiveController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/CompleteBatchListController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/CompleteBatchReprocessController.js?v=1"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCBatchProgramAddRequisitionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCBatchProductionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dCCheckRollInspectionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeingFinishingMachineController.js"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/DyeingFinishingProductionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFMachineProcessMappingController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/MachineWashProductionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeingProductionBoardController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeMachineStatusModalController.js"></script>


    <script src="~/Areas/Dyeing/Client/app/controllers/greyFabReqIssueController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/greyFabReqListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFScProgramListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFScProgramController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeingFinishingReportController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFScProgramReceiveListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFScProgramReceiveController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFProcessTypeController.js"></script>


    <script src="~/Areas/Dyeing/Client/app/controllers/dyeScProgramController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/dyeBatchProgramModalScPController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFReceiveFinishFabricListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DFReceiveFinishFabricController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/greyFabReqListInHController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCRunningBatchListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCRunningBatchEditController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentController.js"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/GreyFabReqPTIssueController.js"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentReceiveController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentReceiveListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/FinishFabricInspectionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/FabricInspectionReportListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/FabricInspectionReportController.js"></script>

    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentChallanListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentChallanController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentBillListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScPreTreatmentBillController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeMcMaintenanceListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeMcMaintenanceController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DCBatchProductionListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/LabdipRecipeViewListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScProgramChallanListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ScProgramChallanController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/BatchAtDfStoreController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/BatchAtFabricStoreController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/FabricHoldListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfOnlineQcListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfOnlineQcController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfGmtWashProdListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfGmtWashProdController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfScProgramBillListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfScProgramBillController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/AopBatchListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/AopBatchController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/FinFabDelv2StoreController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfBtCrdPrintController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfBtFinalQCController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ShadeCheckRollInspectionListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/ShadeCheckRollInspectionController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfMaterialReqController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DfMaterialReqListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeScProgramListController.js"></script>
    <script src="~/Areas/Dyeing/Client/app/controllers/DyeingScProgramController.js"></script>


}