@{
    Layout = "~/Views/Shared/_MenuLessPageLayout.cshtml";
}

@{
    ViewBag.Title = "Maintenance";
}
<div class="portlet-body" data-ui-view="serverMaintenance"></div>

<!-- END CONTENT -->
@section angularscripts{
    <script src="~/Areas/Security/Client/app/controllers/serverMaintenanceController.js"></script>
}