<style>
    .k-grid {
        font-size: 12px;
    }

    .k-grid-header th.k-header > .k-link {
        /*padding-right: 0 !important;*/
        font-size: 13px;
    }
</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Commercial</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">
        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" form-group">

                <div class="col-md-12 form-horizontal">

                    <fieldset class="custom-fieldset">
                        <div><label id="lblMsg"></label></div>
                        <form class="form-horizontal" role="form" name="frmKnitMachinOperatorAssign" novalidate>
                            <div class="row" style="padding-left: 5px; padding-right: 5px;">
                                <div class="form-group">

                                    <label class="control-label col-md-3">
                                        <span aria-required="true" class="required">*</span>
                                        Select an Option
                                    </label>
                                    <div class="col-md-3">
                                        <input type="radio" id="IS_SC_OR_LC_2" name="IS_SC_OR_LC" ng-model="vm.form.IS_SC_OR_LC" value="L" ng-change="vm.DocTitle();"><label for="IS_SC_OR_LC_2"> Export LC&nbsp; &nbsp;</label><input type="radio" name="IS_SC_OR_LC" id="IS_SC_OR_LC_1" ng-model="vm.form.IS_SC_OR_LC" value="S" ng-change="vm.DocTitle();"><label for="IS_SC_OR_LC_1"> Sales Contact</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="checkbox" id="IS_ADV_LC" ng-model="vm.form.IS_ADV_LC" ng-true-value="'Y'" ng-false-value="'N'" /><label for="IS_ADV_LC">Is Advance LC?</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    @*===================== New Entry ==========================*@
                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend"><b>Key Information</b></legend>
                        <div class="row" style="padding-left: 5px; padding-right: 5px;">

                            <form class="form-horizontal" role="form" name="frmKnitMachinOperatorAssign" novalidate>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Beneficiary
                                        </label>
                                        <div class="col-md-3">

                                            <select kendo-drop-down-list name="HR_COMPANY_ID" class="form-control"
                                                    options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID"></select>

                                            <input type="hidden" name="CM_EXP_LC_H_ID" ng-model="vm.form.CM_EXP_LC_H_ID" class="form-control" />
                                        </div>

                                        <div class="col-md-5" style="border: solid 1px gray;">
                                            <b>{{vm.form.COMPANY_ADDRESS}}</b>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Applicant/Buyer
                                        </label>
                                        <div class="col-md-3">
                                            <select class="form-control required" kendo-drop-down-list name="MC_BUYER_ID" id="MC_BUYER_ID"
                                                    k-option-label="'-- Select Buyer --'"
                                                    k-data-text-field="'BUYER_NAME_EN'" k-data-value-field="'MC_BUYER_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.buyerList" k-ng-delay="vm.buyerList" k-filter="'contains'"
                                                    ng-model="vm.form.MC_BUYER_ID" k-on-change="vm.getBuyerNotifyPartyList(kendoEvent);"></select>

                                            @*<select kendo-drop-down-list name="MC_BUYER_ID" class="form-control"
                                    options="vm.buyerList" ng-model="vm.form.MC_BUYER_ID" ng-change="vm.getBuyerNotifyPartyList();"></select>*@
                                        </div>

                                        <div class="col-md-5" style="border: solid 1px gray;">
                                            <b>{{vm.form.ADDRESS_PI}}</b> 
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">


                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required">*</span>
                                            {{vm.form.DOC_TITLE}}
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="EXP_LCSC_NO" ng-model="vm.form.EXP_LCSC_NO" class="form-control" />

                                        </div>
                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Date of Issue
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="ISSUE_DT" ng-model="vm.form.ISSUE_DT" class="form-control" max-date="vm.today"
                                                   ng-click="ISSUE_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" is-open="ISSUE_DT_LNopened"
                                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                        </div>


                                    </div>
                                </div>


                                <div class="row" ng-if="vm.form.IS_REVISE == true">
                                    <div class="form-group">


                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required">*</span>
                                            Revised #
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="REVISION_NO" ng-model="vm.form.REVISION_NO" class="form-control" />

                                        </div>
                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Revised Date
                                        </label>
                                        <div class="col-md-2">

                                            <input type="text" name="REVISION_DT" ng-model="vm.form.REVISION_DT" class="form-control" max-date="vm.today"
                                                   ng-click="REVISION_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" is-open="REVISION_DT_LNopened"
                                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                        </div>


                                    </div>
                                </div>

                                <div class="row" ng-if="vm.form.IS_REVISE == true">
                                    <div class="form-group">

                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required">*</span>
                                            Reason for Revised
                                        </label>
                                        <div class="col-md-8">
                                            <textarea name="REV_REASON" ng-model="vm.form.REV_REASON" class="form-control" />
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">

                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Date of Expiry
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="EXPIRY_DT" ng-model="vm.form.EXPIRY_DT" class="form-control" min-date="vm.today"
                                                   ng-click="EXPIRY_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" is-open="EXPIRY_DT_LNopened"
                                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />

                                        </div>
                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Place of Expiry
                                        </label>
                                        <div class="col-md-3">
                                            <select kendo-drop-down-list name="EXP_CNTRY_ID" class="form-control"
                                                    options="vm.CountryList" ng-model="vm.form.EXP_CNTRY_ID"></select>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">


                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Currency
                                        </label>
                                        <div class="col-md-3">
                                            <select kendo-drop-down-list name="RF_CURRENCY_ID" class="form-control"
                                                    options="vm.currencyList" ng-model="vm.form.RF_CURRENCY_ID"></select>
                                        </div>
                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            LC Amount
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="LC_TOT_VAL" ng-model="vm.form.LC_TOT_VAL" class="form-control" />
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Sender Bank
                                        </label>
                                        <div class="col-md-3">

                                            <select class="form-control required" kendo-drop-down-list name="SND_BKBR_ID" id="SND_BKBR_ID" k-option-label="'-- Select Bank Branch --'"
                                                    k-data-text-field="'BANK_BRANCH_NAME_EN'" k-data-value-field="'RF_BANK_BRANCH_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.SenderbankBranchList" k-ng-delay="vm.SenderbankBranchList" k-filter="'contains'"
                                                    ng-model="vm.form.SND_BKBR_ID" k-on-change="vm.newBankBranchAdd(vm.form.SND_BKBR_ID,1,kendoEvent);"></select>
                                        </div>
                                        <div class="col-md-5" style="border: solid 1px gray;">
                                            <b>{{vm.form.SND_BANK_AS}}</b>
                                        </div>
                                       
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">

                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Receiving Bank
                                        </label>
                                        <div class="col-md-3">
                                            <select class="form-control required" kendo-drop-down-list name="RCV_BKBR_ID" id="RCV_BKBR_ID" k-option-label="'-- Select Bank Branch --'"
                                                    k-data-text-field="'BANK_BRANCH_NAME_EN'" k-data-value-field="'RF_BANK_BRANCH_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.RcvbankBranchList" k-ng-delay="vm.RcvbankBranchList" k-filter="'contains'"
                                                    ng-model="vm.form.RCV_BKBR_ID" k-on-change="vm.newBankBranchAdd(vm.form.RCV_BKBR_ID,2,kendoEvent);"></select>

                                        </div>
                                        <div class="col-md-5" style="border: solid 1px gray;">
                                            <b>{{vm.form.RCV_BANK_AS}}</b>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Advising/Lean Bank
                                        </label>
                                        <div class="col-md-3">
                                            <select class="form-control required" kendo-drop-down-list name="LIN_BKBR_ID" id="LIN_BKBR_ID" k-option-label="'-- Select Bank Branch --'"
                                                    k-data-text-field="'BANK_BRANCH_NAME_EN'" k-data-value-field="'RF_BANK_BRANCH_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.LeanbankBranchList" k-ng-delay="vm.LeanbankBranchList" k-filter="'contains'"
                                                    ng-model="vm.form.LIN_BKBR_ID" k-on-change="vm.newBankBranchAdd(vm.form.LIN_BKBR_ID,3,kendoEvent);"></select>

                                        </div>

                                        <div class="col-md-2">
                                            <input type="checkbox" ng-model="vm.form.SMAE" id="SAME" name="SAME" ng-change="vm.copyReceiverBank();" /><label for="SAME"> Same Receiver Bank?</label>

                                        </div>
                                        <div class="col-md-3">
                                            {{vm.form.LEAN_BANK_AS}}
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">

                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Inco Term/ Terms of Delivery
                                        </label>
                                        <div class="col-md-1" style="padding-right:0px;">

                                            <select kendo-drop-down-list name="RF_INCO_TERM_ID" class="form-control"
                                                    options="vm.incoTermList" ng-model="vm.form.RF_INCO_TERM_ID"></select>
                                        </div>
                                        <div class="col-md-2">

                                            <select kendo-drop-down-list name="RF_DELV_PLC_ID" class="form-control"
                                                    options="vm.deliveryPlaceList" ng-model="vm.form.RF_DELV_PLC_ID"></select>
                                        </div>
                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Payment Term
                                        </label>
                                        <div class="col-md-3">

                                            <select kendo-drop-down-list name="RF_PAYM_TERM_ID" class="form-control"
                                                    options="vm.paymentTermList" ng-model="vm.form.RF_PAYM_TERM_ID"></select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        @*<label class="control-label col-md-3">
                                    <span aria-required="true" class="required"></span>
                                    Payment Term
                                </label>
                                <div class="col-md-3">

                                    <select kendo-drop-down-list name="RF_PAYM_TERM_ID" class="form-control"
                                            options="vm.paymentTermList" ng-model="vm.form.RF_PAYM_TERM_ID"></select>
                                </div>*@
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required">*</span>
                                            Payment Term Description
                                        </label>
                                        <div class="col-md-8">

                                            <input type="text" name="PAYM_TERM_DESC" ng-model="vm.form.PAYM_TERM_DESC" class="form-control required" />

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            % Credit Tollarance
                                        </label>
                                        <div class="col-md-1">

                                            <input type="number" name="PCT_TOLR_AMT" ng-model="vm.form.PCT_TOLR_AMT" class="form-control" />

                                        </div>

                                        <label class="control-label col-md-4">
                                            <span aria-required="true" class="required"></span>
                                            % BB Limit
                                        </label>
                                        <div class="col-md-1">

                                            <input type="number" name="PCT_BB_LMT" ng-model="vm.form.PCT_BB_LMT" class="form-control" />
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Port of Loading
                                        </label>
                                        <div class="col-md-3">

                                            <select kendo-drop-down-list name="LOAD_PORT_ID" class="form-control"
                                                    options="vm.portList" ng-model="vm.form.LOAD_PORT_ID"></select>

                                        </div>

                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Port of Discharge
                                        </label>
                                        <div class="col-md-3">

                                            <select kendo-multi-select name="DSG_PORT_LST" class="form-control"
                                                    options="vm.portList" ng-model="vm.form.DSG_PORT_LST"></select>

                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Shipment
                                        </label>
                                        <div class="col-md-2">

                                            <input type="checkbox" id="IS_PART_SHPM" ng-true-value="'Y'" ng-false-value="'N'" ng-model="vm.form.IS_PART_SHPM" /><label for="IS_PART_SHPM">Partial Shipment</label>
                                        </div>


                                        <div class="col-md-2">

                                            <input type="checkbox" id="IS_TRAN_SHPM" ng-true-value="'Y'" ng-false-value="'N'" ng-model="vm.form.IS_TRAN_SHPM" /><label for="IS_TRAN_SHPM">Trans Shipment</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">

                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Last Date of Shipment
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="LTST_SHPMNT_DT" ng-model="vm.form.LTST_SHPMNT_DT" class="form-control" min-date="vm.today"
                                                   ng-click="LTST_SHPMNT_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}" is-open="LTST_SHPMNT_DT_LNopened"
                                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                                        </div>

                                        @*<label class="control-label col-md-2">
                                    <span aria-required="true" class="required"></span>
                                    LC Status
                                </label>
                                <div class="col-md-3">
                                    <select kendo-drop-down-list name="LK_LC_STS_ID" class="form-control"
                                            options="vm.lcStatusList" ng-model="vm.form.LK_LC_STS_ID"></select>
                                </div>*@
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Notify Party
                                        </label>
                                        <div class="col-md-5">

                                            <select class="form-control required requiredDDL" kendo-multi-select name="CM_NOTIFY_PARTY_ID" k-option-label="'-- Select Notify Party --'"
                                                    k-data-text-field="'NTF_PARTY_NAME_EN'" k-data-value-field="'CM_NOTIFY_PARTY_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.notifyPartyList" k-ng-delay="vm.notifyPartyList" k-filter="'contains'"
                                                    ng-model="vm.form.CM_NOTIFY_PARTY_LST"></select>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="" class="btn btn-default yellow-gold" ng-click="vm.openNotifyModal(vm.form);">Add New</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="OTHER" class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Other Info
                                        </label>
                                        <div class="col-md-1">
                                            <input type="checkbox" id="OTHER" ng-model="vm.form.SHOW_OTHER" />
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                    <fieldset class="custom-fieldset" ng-if="vm.form.SHOW_OTHER==true">
                        <legend class="custom-legend"><b>Other Information</b></legend>
                        <div class="row" style="padding-left: 5px; padding-right: 5px;">

                            <form class="form-horizontal" role="form" name="frmKnitMachinOperatorAssign" novalidate>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Available With
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="AVAIL_WITH" ng-model="vm.form.AVAIL_WITH" class="form-control" />

                                        </div>

                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Draft at
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="DRAFT_AT" ng-model="vm.form.DRAFT_AT" class="form-control" />

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Drawee
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="DRAWEE_DESC" ng-model="vm.form.DRAWEE_DESC" class="form-control" />
                                        </div>

                                        <label class="control-label col-md-2">
                                            <span aria-required="true" class="required"></span>
                                            Document Required
                                        </label>
                                        <div class="col-md-3">

                                            <input type="text" name="DOC_REQD" ng-model="vm.form.DOC_REQD" class="form-control" />

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            REMARKS
                                        </label>
                                        <div class="col-md-8">

                                            <textarea name="REMARKS" ng-model="vm.form.REMARKS" class="form-control" />
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>

                    </fieldset>



                    <fieldset class="custom-fieldset">

                        <form class="form-horizontal" role="form" name="frmKnitMachinOperatorAssign" novalidate>
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-3">
                                        <span aria-required="true" class="required"></span>
                                        Link With
                                    </label>
                                    <div class="col-md-3">
                                        <input type="radio" name="IS_PI" id="IS_PI" ng-model="vm.form.IS_LNK_PI_PO" value="PI"><label for="IS_PI"> PI&nbsp; &nbsp; &nbsp; &nbsp; </label><input type="radio" id="IS_PO" name="IS_PO" ng-model="vm.form.IS_LNK_PI_PO" value="PO"><label for="IS_PO"> PO</label>
                                    </div>
                                </div>
                            </div>

                            <fieldset class="custom-fieldset" ng-if="vm.form.IS_LNK_PI_PO=='PI'">
                                <legend class="custom-legend"><b>PI & Product Details</b></legend>

                                <div class="form-group" style="padding-left:15px;">
                                    <div kendo-grid k-options="vm.gridOptions" k-data-source="vm.NotifyList" style="width:98%"></div>

                                </div>

                            </fieldset>

                            <fieldset class="custom-fieldset" ng-if="vm.form.IS_LNK_PI_PO=='PO'">
                                <legend class="custom-legend"><b>PO & Product Details</b></legend>

                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            <span aria-required="true" class="required"></span>
                                            Style #
                                        </label>
                                        <div class="col-md-2">
                                            <select class="form-control" kendo-drop-down-list name="MC_STYLE_H_ID"
                                                    id="MC_STYLE_H_ID" k-option-label="'-- Select Style No --'"
                                                    k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_STYLE_H_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.styleList" k-ng-delay="vm.styleList" k-filter="'contains'"
                                                    ng-model="vm.form.MC_STYLE_H_ID" k-on-change="vm.getStyleOrderList(kendoEvent);"></select>

                                        </div>

                                        <label class="control-label col-md-1">
                                            <span aria-required="true" class="required"></span>
                                            Order #
                                        </label>
                                        <div class="col-md-2">
                                            <select class="form-control" kendo-drop-down-list name="MC_ORDER_H_ID"
                                                    id="MC_ORDER_H_ID" k-option-label="'-- Select Order No --'"
                                                    k-data-text-field="'ORDER_NO'" k-data-value-field="'MC_ORDER_H_ID'"
                                                    k-auto-bind="'true'" k-data-source="vm.orderList" k-ng-delay="vm.orderList" k-filter="'contains'"
                                                    ng-model="vm.form.MC_ORDER_H_ID" k-on-change="vm.showOrderDtl(kendoEvent);"></select>

                                        </div>

                                    </div>
                                </div>

                                <div class="form-group" style="padding-left:15px;" ng-if="vm.form.MC_ORDER_H_ID>0">
                                    <div kendo-grid k-options="vm.gridOptionsODL" k-data-source="vm.orderDtlList" style="width:98%"></div>

                                </div>
                                <div class="row" ng-if="vm.form.MC_ORDER_H_ID>0">
                                    <div class="form-group">
                                        <div style="text-align:right;padding-right:100px;">
                                            <button type="button" ng-if="vm.form.MC_ORDER_H_ID>0" class="btn btn-sm yellow-gold" ng-click="vm.AddToGrid();">Add to Grid</button>
                                            <button type="button" class="btn btn-sm default" ng-click="vm.clearGrid();">Cancel</button>

                                        </div>

                                    </div>
                                </div>
                                <div class="form-group" style="padding-left:15px;">
                                    <div kendo-grid k-options="vm.gridOptions" k-data-source="vm.exportOrderList" style="width:98%"></div>

                                </div>
                                <div class="form-group">

                                    <div class="col-md-7" style="padding-left:30px;">

                                    </div>
                                    <label class="control-label col-md-2" style="padding:0px;">
                                        <span aria-required="true" class="required">*</span>
                                        LC Value
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" id="LC_TOT_VAL" ng-model="vm.form.LC_TOT_VAL" style="width: 100%;" />
                                    </div>

                                </div>
                                <div class="form-group">

                                    <div class="col-md-7" style="padding-left:30px;">

                                    </div>
                                    <label class="control-label col-md-2" style="padding:0px;">
                                        <span aria-required="true" class="required">*</span>
                                        PO Value
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" id="PO_TOT_VAL" ng-model="vm.form.PO_TOT_VAL" style="width: 100%;" />
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-7" style="padding-left:30px;">

                                    </div>
                                    <label class="control-label col-md-2" style="padding:0px;">
                                        <span aria-required="true" class="required"></span>
                                        Difference
                                    </label>
                                    <div class="col-md-1" style="padding-right: 0px;">
                                        <input type="text" value="{{vm.form.LC_TOT_VAL-vm.form.PO_TOT_VAL}}" style="width: 90%;" />
                                    </div>
                                    <div class="col-md-2" style="padding:0px;">
                                        <input type="checkbox" id="IS_IGNOR_DIFF" ng-true-value="'Y'" ng-false-value="'N'" ng-model="vm.form.IS_IGNOR_DIFF" /><label for="IS_IGNOR_DIFF">Ignore Difference</label>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-7" style="padding-left:30px;">

                                    </div>
                                    <label class="control-label col-md-2" style="padding:0px;">
                                        <span aria-required="true" class="required"></span>
                                        LC Charge
                                    </label>
                                    <div class="col-md-1" style="padding-right: 0px;">
                                        <input type="text" id="LC_TOT_CHG" ng-model="vm.form.LC_TOT_CHG" style="width: 90%;" />
                                    </div>

                                </div>
                            </fieldset>

                        </form>
                    </fieldset>
                    <br />
                    <br />
                    <div class="row">
                        
                        <div class="form-group">
                            <div class="col-md-4" style="padding-left:30px;">
                                <button type="button" class="btn btn-sm blue" ui-sref="ExpLcContractList">Back To List</button>
                                <button type="button" ng-if="vm.form.CM_EXP_LC_H_ID>0 && vm.form.IS_REVISE == true" class="btn btn-sm green" ng-click="vm.reviseAll(vm.form);">Revise</button>
                                <button type="button" ng-if="vm.form.CM_EXP_LC_H_ID>0 && vm.form.IS_REVISE == false" class="btn btn-sm green" ng-click="vm.updateAll(vm.form);">Update</button>
                                <button type="button" ng-if="vm.form.CM_EXP_LC_H_ID>0 && vm.form.IS_REVISE == false" class="btn btn-sm yellow-gold" ng-click="vm.submitAll(vm.form);">Submit</button>
                                <button type="button" ng-if="!vm.form.CM_EXP_LC_H_ID>0 && vm.form.IS_REVISE == false" class="btn btn-sm green" ng-click="vm.submitAll(vm.form);">Save</button>
                                @*<button type="button" class="btn btn-sm default" ng-click="vm.clearAll(vm.form);">Cancel</button>*@
                                <button type="button" class="btn btn-sm blue" ui-sref="ExpLcContract({pCM_EXP_LC_H_ID:0,pREVISE:0})" ui-sref-opts="{inherit: false, reload: true}">Cancel</button>

                            </div>
                            <label class="control-label col-md-2" style="padding:0px;">
                                <span aria-required="true" class="required">*</span>
                                Take Action
                            </label>
                            <div class="col-md-2" ng-if="vm.form.RF_ACTN_VIEW>0">
                                <select kendo-drop-down-list name="RF_ACTN_STATUS_ID" id="RF_ACTN_STATUS_ID" class="form-control required"
                                        options="vm.statusList" ng-model="vm.form.RF_ACTN_STATUS_ID" required></select>
                            </div>

                            <div class="col-md-2" ng-if="!vm.form.RF_ACTN_VIEW>0">

                                <input type="text" ng-model="vm.form.ACTN_STATUS_NAME" style="width: 100%;" readonly="readonly" />
                                <input type="hidden" ng-model="vm.form.RF_ACTN_STATUS_ID" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
