
@*<a href="@Url.Action("CaptchaImage", "ScUser")"><img alt="Captcha" src="@Url.Action("CaptchaImage", "ScUser")" style="" /></a>*@


<img alt="Captcha" id="captcha" ng-model="vm.captcha" ng-src="@Url.Action("CaptchaImage", "ScUser")" style="" />