@*@model ERP.Model.HR_SCHEDULE_HModel*@

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Security</a>
    </li>
    <li>
        <a href="#">Change Password</a>
    </li>
</ul>


@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div class="portlet box blue-dark">

    <input id="antiForgeryToken" data-ng-model="vm.antiForgeryToken" type="hidden"
           data-ng-init="vm.antiForgeryToken='@GetAntiForgeryToken()'" />

    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
            </div>
        </div>
    </div>

    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Change Password
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse">
                </a>*@
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            @*<a href="javascript:;" class="remove">
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">

        <form class="form-horizontal" role="form" name="frmChangePassword" novalidate ng-submit="vm.SaveChangePassword(frmChangePassword.$valid, vm.form)">
            <div class="row">

                <div class="col-md-12">

                    <p></p>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Old Password</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" ng-model="vm.form.PASSWORD_HASH_OLD" required>
                            
                            @*<ul id="strength" check-strength="pw"></ul>*@
                            @*<div ng-messages="frmChangePassword.PASSWORD_HASH_OLD1.$error" ng-if="frmChangePassword.$submitted || frmChangePassword.PASSWORD_HASH_OLD1.$touched">
                                <div ng-message="required" class="field-validation-error">Old Password field is required</div>
                            </div>*@
                            <div ng-if="vm.errors.PASSWORD_HASH_OLD">
                                <div class="field-validation-error" ng-repeat="err in vm.errors.PASSWORD_HASH_OLD">
                                    {{err}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="form-group">
                        <label class="col-md-4 control-label">New Password</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" ng-model="vm.form.PASSWORD_HASH" name="PASSWORD_HASH" id="pw" required>

                            @*<ul id="strength" check-strength="pw"></ul>
                            <div ng-messages="frmChangePassword.PASSWORD_HASH.$error" ng-if="frmChangePassword.$submitted || frmChangePassword.PASSWORD_HASH.$touched">
                                <div ng-message="required" class="field-validation-error">Password field is required</div>
                            </div>*@
                        </div>
                    </div>

                    <div class="form-group" ng-class="{'has-error':frmChangePassword.CONFIRMED_PASSWORD.$invalid}">
                        <label class="col-md-4 control-label">Confirm Password</label>
                        <div class="col-md-3">
                            <input type="password" class="form-control" name="CONFIRMED_PASSWORD" ng-model="vm.form.CONFIRMED_PASSWORD" same-as='vm.form.PASSWORD_HASH'>
                            <span ng-if="frmChangePassword.CONFIRMED_PASSWORD.$invalid" class="field-validation-error">
                                Password does not match
                            </span>
                        </div>
                    </div>

                    <br />

                </div>

            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button @*ng-if="!vm.form.SC_USER_ID"*@ type="submit" class="btn green" ng-class="{'disabled':false}">Change</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</div>


