<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#" class="active">Annual Leave Reset</a>
    </li>
</ul>



<div class="portlet box blue-dark">

    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Annual Leave Reset
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse">
                </a>*@
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            @*<a href="javascript:;" class="remove">
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">

        <div class="col-md-12" style="padding-top:20px;">
            <form action="/" method="post">
                <fieldset class="custom-fieldset" style="padding-top:20px">
                    <div class="form-group">



                        @*<label class="col-md-1 control-label">
                                Leave Type
                            </label>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="vm.form.HR_LEAVE_TYPE_ID" ng-options="item.HR_LEAVE_TYPE_ID as item.LV_TYPE_NAME_EN for item in vm.LeaveTypeData"></select>
                                <span class="field-validation-error" ng-repeat="err in vm.errors.HR_LEAVE_TYPE_ID">
                                    {{err}}
                                </span>
                            </div>*@

                        <label class="col-md-1 control-label text-align-reverse">
                            Company
                        </label>


                        <div class="col-md-2">
                            <select class="form-control" ng-model="vm.form.HR_COMPANY_ID" ng-options="item.HR_COMPANY_ID as item.COMP_NAME_EN for item in vm.companyData"></select>
                        </div>

                        <label class="col-md-1 control-label text-align-reverse">
                            Year
                        </label>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="vm.form.RF_FISCAL_YEAR_ID" ng-options="item.RF_FISCAL_YEAR_ID as item.FY_NAME_EN for item in vm.FiscalYearData"></select>
                        </div>

                        <label class="col-md-2 control-label text-align-reverse">
                            Leave Type
                        </label>

                        <div class="col-md-2">
                            <select class="form-control" ng-model="vm.form.HR_LEAVE_TYPE_ID" ng-options="item.HR_LEAVE_TYPE_ID as item.LV_TYPE_NAME_EN for item in vm.LeaveTypeData"></select>
                        </div>

                        <div class="col-md-2" align="right">
                            <button type="button" ng-if="vm.processBtn" class="btn blue-soft btn-sm" ng-class="vm.form.HR_COMPANY_ID && vm.form.RF_FISCAL_YEAR_ID && vm.form.HR_LEAVE_TYPE_ID?'':'disabled'" ng-click="vm.processLeaveReset(vm.form)">Process</button>
                            <button type="button" ng-if="!vm.processBtn" class="btn blue-hoki-stripe btn-sm" ng-class="vm.form.HR_COMPANY_ID && vm.form.RF_FISCAL_YEAR_ID && vm.form.HR_LEAVE_TYPE_ID?'':'disabled'" ng-click="vm.leaveBalanceByType(vm.form)">Load Data</button>


                            @*<div ng-click="vm.loadLeaveBalance(vm.form)" ng-class="vm.form.HR_COMPANY_ID && vm.form.RF_FISCAL_YEAR_ID && vm.form.HR_LEAVE_TYPE_ID?'btn default yellow-stripe':'btn default yellow-stripe disabled'">
                                <i class="fa fa-refresh"></i>
                                <span class="hidden-480">
                                    Load
                                </span>
                            </div>*@
                        </div>


                    </div>



                    @*<div class="form-group">
                            <label class="col-md-4 control-label">
                                Company
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.form.HR_COMPANY_ID" ng-options="item.HR_COMPANY_ID as item.COMP_NAME_EN for item in vm.companyData"></select>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-md-4 control-label">
                                Year
                            </label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="vm.form.RF_FISCAL_YEAR_ID" ng-options="item.RF_FISCAL_YEAR_ID as item.FY_NAME_EN for item in vm.FiscalYearData"></select>
                            </div>


                        </div>


                        <div class="form-group">

                            <label class="col-md-4 control-label">
                                Applicant
                            </label>

                            <div class="col-md-8">
                                <select kendo-drop-down-list name="HR_EMPLOYEE_ID" class="form-control"
                                        options="vm.EmployeeDataList" ng-model="vm.form.HR_EMPLOYEE_ID" ng-change="vm.onChange(vm.form)"></select>
                            </div>
                        </div>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <div ng-click="vm.loadLeaveBalance(vm.form)" ng-class="vm.form.HR_COMPANY_ID && vm.form.RF_FISCAL_YEAR_ID && vm.form.HR_EMPLOYEE_ID?'btn default yellow-stripe':'btn default yellow-stripe disabled'">
                                        <i class="fa fa-refresh"></i>
                                        <span class="hidden-480">
                                            Show Leave Balance
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>*@


                </fieldset>




            </form>


            @*<form action="/Hr/HrReport/PreviewReport" method="post" target="_blank">

                <input type="hidden" name="REPORT_CODE" value="RPT-1015" />
                <input type="hidden" name="RF_FISCAL_YEAR_ID" value="2" />
                <input type="hidden" name="HR_COMPANY_ID" value="1" />
                <input type="hidden" name="HR_DEPARTMENT_ID" value="94" />


                <div class="col-md-2">
                    <button class="btn btn-sm blue" type="submit">
                        <i class="fa fa-print"></i> Print
                    </button>
                </div>
            </form>*@

        </div>

        <div class="col-md-12">

            <div ui-view class="shuffle-animation"></div>
         
        </div>


    </div>
</div>