
<div class="form-actions">
    <div class="row">
        <div kendo-grid k-options="vm.gridOptions"
             k-ng-delay="vm.gridOptions"></div>
    </div>
    <br />
    <div class="row">
        <a ui-sref="LeaveTransEntry" class="btn btn-sm blue">
            <i class="fa fa-plus"></i>
        </a>
    </div>
</div>