        @{
            Layout = "~/Views/Shared/_Layout.cshtml";
        }


        @*@Html.Action("_SideMenu")*@
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                <!-- BEGIN PAGE HEADER-->
                <!-- BEGIN PAGE HEAD -->
                @*<div class="page-head">
                    <!-- BEGIN PAGE TITLE -->
                    <div class="page-title">
                        <h1>Human Resource Management</h1>
                    </div>
                    <!-- END PAGE TITLE -->
                </div>*@
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE BREADCRUMB -->




               
                <!-- END PAGE BREADCRUMB -->



                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->

                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->


        @if (IsSectionDefined("scripts"))
        {
            @section scripts{
              
            }
        }
        


        @section angularscripts{                        
                                  
            <script src="~/Areas/Admin/Client/app/services/admin.dataService.js"></script>
            <script src="~/Areas/Admin/Client/app/admin.route.js"></script>

            <script src="~/Areas/Admin/Client/app/controllers/LookupTableController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/AdminController.js"></script> 
            <script src="~/Areas/Admin/Client/app/controllers/ManagementTypeController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/DesigGroupController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/DesigController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/LeaveTypeController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/LeaveTypeListController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/ActionTypeController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/ActionConfigController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/ActionApproverController.js"></script>
            <script src="~/Areas/Admin/Client/app/controllers/ActionApproverAddController.js"></script>
        }