@*@model ERP.Model.HR_SCHEDULE_HModel*@

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>    
    <li>
        <a href="#">Hr</a>
    </li>
    <li>
        <a href="#">Other Bill Process</a>
    </li>
</ul>


@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<div class="portlet box blue-dark" >

    <input id="antiForgeryToken" data-ng-model="vm.antiForgeryToken" type="hidden"
           data-ng-init="vm.antiForgeryToken='@GetAntiForgeryToken()'" />

    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
            </div>
        </div>
    </div>

    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Other Bill  Process
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse">
                </a>*@
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            @*<a href="javascript:;" class="remove">
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">


        <div class="row">

            <div class="col-md-12">
                
                <div class="col-md-offset-0 col-md-10">
                    <p></p>
                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend">Selection of Parameters</legend>
                          
                        <div class="col-md-5" style="padding-left:0px;">
                            <fieldset class=" custom-fieldset">
                                <div class="radio-list">
                                    <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="1" ng-model="SELECTION_TYPE">All Employees</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="2" ng-model="SELECTION_TYPE">Specific Department</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="3" ng-model="SELECTION_TYPE">Specific Team</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="4" ng-model="SELECTION_TYPE">Specific Floor</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="5" ng-model="SELECTION_TYPE">Specific Employee Type</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="6" ng-model="SELECTION_TYPE">Specific Employee</label>

                                </div>
                            </fieldset>

                            <p></p>
                            <div class="form-group" @*ng-show="vm.isNightBill && vm.EMPLOYEE_SELECTION==1"*@ ng-show="vm.isEmployee" style="padding-bottom:20px;">
                                <label class="col-md-4 control-label" style="padding-left:0px;">Employee Code</label>
                                <div class="col-md-7">
                                    <input type="text" ng-model="vm.form.EMPLOYEE_CODE" placeholder="Search..."
                                           typeahead="item.EMPLOYEE_CODE as item.EMPLOYEE_CODE for item in emoloyeeAuto($viewValue)"
                                           typeahead-min-length="3" typeahead-wait-ms="1000"
                                           typeahead-on-select="onSelectItem($item)" typeahead-loading="loadingLocationsEmp" class="form-control" />
                                    <i ng-show="loadingLocationsEmp" class="glyphicon glyphicon-refresh"></i>
                                </div>
                            </div>

                            <div class="form-group" @*ng-show="vm.isNightBill && vm.empListData.length>0 && vm.EMPLOYEE_SELECTION==1"*@ ng-show="vm.isEmployee && vm.empListData.length>0">
                                <div class="col-md-12 col-md-offset-0" style="padding-left:0px;padding-right:0px;">
                                    <div id="empGrid" kendo-grid></div>
                                </div>
                            </div>
                        </div>
                                              
                        <div class="col-md-7" style="padding-right:5px;" @*style="border:1px solid red"*@>
                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-3" style="padding-left: 0px;padding-right:0px;">
                                    Company
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="HR_COMPANY_ID" class="form-control"
                                            options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-3" style="padding-left: 0px;padding-right:0px;">
                                    Period
                                </label>
                                <div class="col-md-5" style="padding-right:0px;">                                   
                                    <select kendo-drop-down-list id="ACC_PAY_PERIOD_ID" name="ACC_PAY_PERIOD_ID" class="form-control"
                                            options="vm.openPeriodListData" ng-model="vm.form.ACC_PAY_PERIOD_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">Office</label>
                                <div class="col-md-5" style="padding-right:0px;">
                                    <select kendo-drop-down-list id="HR_OFFICE_ID" name="HR_OFFICE_ID" class="form-control"
                                            options="vm.officeListData" ng-model="vm.form.HR_OFFICE_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;" ng-show="vm.isSubDepartment">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                                    Department
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="CORE_DEPT_ID" class="form-control"
                                            options="vm.parentDepartmentListData" ng-model="vm.form.CORE_DEPT_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;" ng-show="vm.isSubDepartment">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                                    Section
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list id="HR_DEPARTMENT_ID" name="HR_DEPARTMENT_ID" class="form-control" @*ng-disabled="vm.isManagementType!=true"*@
                                            options="vm.subdepartmentListData" ng-model="vm.form.HR_DEPARTMENT_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;" ng-show="vm.isTeam">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                                    Team
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="HR_SHIFT_TEAM_ID" class="form-control" @*ng-disabled="vm.isManagementType!=true"*@
                                            options="vm.shiftTeamListData" ng-model="vm.form.HR_SHIFT_TEAM_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;" ng-show="vm.isFloor">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                                    Floor & Line
                                </label>
                                <div class="col-md-4" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="LK_FLOOR_ID" class="form-control" @*ng-disabled="vm.isManagementType!=true"*@
                                            options="vm.floorListData" ng-model="vm.form.LK_FLOOR_ID"></select>

                                </div>
                                <div class="col-md-4" style="padding-right:0px;">
                                    @*<input type="text" class="form-control" name="LINE_NO" ng-model="vm.form.LINE_NO" ng-disabled="vm.isFloor!=true" />*@
                                    <select kendo-drop-down-list name="LINE_NO" class="form-control" @*ng-disabled="vm.isManagementType!=true"*@
                                            options="vm.lineListData" ng-model="vm.form.LINE_NO"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;" ng-show="vm.isManagementType">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                                    Employee Type
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="HR_MANAGEMENT_TYPE_ID" class="form-control" ng-disabled="vm.isManagementType!=true"
                                            options="vm.managementTypeList" ng-model="vm.form.HR_MANAGEMENT_TYPE_ID"></select>
                                </div>
                            </div>

                                                        @*<div class="form-group" style="padding-bottom:25px;" ng-show="vm.isEmployee">
            <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                Employee
            </label>
            <div class="col-md-8" style="padding-right:0px;">
                <input type="text" ng-model="vm.form.EMPLOYEE_CODE" placeholder="Search..." ng-disabled="vm.isEmployee!=true"
                       typeahead="item.EMPLOYEE_CODE as item.EMPLOYEE_CODE for item in emoloyeeAuto($viewValue)"
            typeahead-min-length="3" typeahead-wait-ms="1000"
                       typeahead-on-select="onSelectItem($item)" typeahead-loading="loadingLocations" class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

            </div>
        </div>*@


                            <hr style="border-top: 1px solid green;" />

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-3" style="padding-left: 0px;padding-right:0px;">
                                    Bill Type
                                </label>
                                <div class="col-md-5" style="padding-right:0px;">
                                    <select kendo-drop-down-list id="PAY_ELEMENT_CODE" name="PAY_ELEMENT_CODE" class="form-control"
                                            options="vm.billTypeListData" ng-model="vm.form.PAY_ELEMENT_CODE"></select>
                                </div>
                            </div>

                            @*<div class="form-group" ng-if="vm.isNightBill">
                                <label class="control-label col-md-3" >
                                    &nbsp;
                                </label>
                                <div class="col-md-7" style="padding-right: 50px; padding-bottom: 10px;">
                                    <fieldset class="custom-fieldset">
                                        <div class="radio-list">
                                            <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="0" ng-model="vm.EMPLOYEE_SELECTION">All Employees</label>
                                            <label class="radio" style="padding-left:30px;"><input type="radio" ng-value="1" ng-model="vm.EMPLOYEE_SELECTION">Specific Employees</label>
                                        </div>
                                    </fieldset>
                                </div>
                                
                            </div>*@

                            <div class="form-group" style="padding-bottom:25px;" ng-if="vm.isOtBill">
                                <label class="control-label col-md-3" style="padding-left: 0px;padding-right:0px;">
                                    OT Type
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-multi-select name="OT_TYPES" class="form-control"
                                            options="vm.otTypeListData" ng-model="vm.form.OT_TYPES"></select>
                                </div>
                            </div>

                            <div class="form-group" @*style="padding-bottom:25px;"*@>
                                <label class="control-label col-md-3" style="padding-left: 0px;padding-right:0px;">
                                    From Date
                                </label>
                                <div class="col-md-4 input-group" style="padding-right:0px;">
                                    <input type="text" class="form-control" name="FROM_DATE" ng-model="vm.form.FROM_DATE"
                                            style="padding-right:0px;"
                                            datepicker-popup="{{vm.dtFormat}}" is-open="vm.fromDateOpened"
                                            max-date="vm.today"
                                            datepicker-options="vm.dateOptions" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn-calendar" ng-click="vm.fromDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:5px;">
                                <label class="control-label col-md-3" style="padding-left: 0px;padding-right:0px;">
                                    To Date
                                </label>
                                <div class="col-md-4 input-group" style="padding-right:0px;">
                                    <input type="text" class="form-control" name="TO_DATE" ng-model="vm.form.TO_DATE"
                                            style="padding-right:0px;"
                                            datepicker-popup="{{vm.dtFormat}}" is-open="vm.toDateOpened"
                                            max-date="vm.today"
                                            datepicker-options="vm.dateOptions" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn-calendar" ng-click="vm.toDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <label class="control-label col-md-3" style="padding-left: 0px; padding-right: 0px">
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <button type="button" class="btn blue" ng-click="vm.billProcess(vm.form,vm.insert); model.center().open()">Process</button>
                                    <button type="button" class="btn blue" ng-click="vm.downLoad4Bkash(vm.form)"><i class="fa fa-send"></i> Send for BKash</button>

                                    @*<div kendo-window="model" id="processDiv"
                                        k-width="300"
                                        k-height="50"
                                        k-visible="false"
                                        k-pinned="true"
                                        k-modal="true"
                                        k-resizable="false"></div>*@
                                    @*<form class="btn" action="/Hr/HrReport/Index" method="post" target="_blank">
                                        <input type="hidden" name="REPORT_CODE" value="RPT-1010" />

                                        <button type="submit" class="btn default"><i class="fa fa-file-text-o"></i> Unassign Proxy</button>
                                    </form>*@

                                </div>

                            </div>



                        </div>
                       


                        <p>&nbsp;</p>
                    </fieldset>
                    <p>&nbsp;</p>

                </div>

                                @*<div class="col-md-5">
            <p></p>
            <div class="form-group" ng-show="vm.isNightBill && vm.EMPLOYEE_SELECTION==1" style="padding-bottom:20px;">
                <label class="col-md-4 control-label">Employee Code</label>
                <div class="col-md-5">
                    <input type="text" ng-model="vm.form.EMPLOYEE_CODE" placeholder="Search..."
                           typeahead="item.EMPLOYEE_CODE as item.EMPLOYEE_CODE for item in emoloyeeAuto($viewValue)"
            typeahead-min-length="3" typeahead-wait-ms="1000"
                           typeahead-on-select="onSelectItem($item)" typeahead-loading="loadingLocationsEmp" class="form-control" />
                    <i ng-show="loadingLocationsEmp" class="glyphicon glyphicon-refresh"></i>
                </div>
            </div>

            <div class="form-group" ng-show="vm.isNightBill && vm.empListData.length>0 && vm.EMPLOYEE_SELECTION==1">
                <div class="col-md-12 col-md-offset-0">
                    <div id="empGrid" kendo-grid></div>
                </div>
            </div>
        </div>*@

            </div>

        </div>
    </div>

</div>

