@model IEnumerable<ERP.Model.HrGradeModel>

@{
    ViewBag.Title = "Grade Information"; //"<i class='fa fa-dropbox'></i> Package Services";
    //ViewBag.Breadcrumb = "<li><a href='/Package/Index'>Setup</a></li><li class='active'>Package Services</li>";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#datatbl').dataTable({
            "bPaginate": true,
            "bLengthChange": true,
            "bFilter": true,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": true
        })
    });
    
</script>


<div class="row" ng-controller="GradeController as vm">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue-dark ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Grade Information
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    @*<a href="#portlet-config" data-toggle="modal" class="config">
                        </a>
                        <a href="javascript:;" class="reload">
                        </a>
                    *@
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>



            <div class="portlet-body">

                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="sample_editable_1_new" href="@Url.Action("AddNew","HrGrade")" class="btn green">
                                    Add New <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>



                




            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
