@*@model ERP.Model.HR_SCHEDULE_HModel*@

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#">Attendance</a>
    </li>
    <li>
        <a href="#">Attendance Process</a>
    </li>
</ul>


@{
    ViewBag.Title = "Index";
}

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}





<div class="portlet box blue-dark" ng-controller="HrTaProcessDataController as vm">

    <input id="antiForgeryToken" data-ng-model="vm.antiForgeryToken" type="hidden"
           data-ng-init="vm.antiForgeryToken='@GetAntiForgeryToken()'" />

    
    @*{{vm.attenProgressBar}}*@

    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
            </div>
        </div>
    </div>

    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Attendance Process
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse">
                </a>*@
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            @*<a href="javascript:;" class="remove">
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">

        

        <div class="row">

            <div class="col-md-12">
                                    
                <div class="col-md-offset-0 col-md-9">
                    <p></p>
                    <fieldset class="custom-fieldset">
                        <legend class="custom-legend">Selection of Parameters</legend>

                        <fieldset class="custom-fieldset">
                            <p></p>
                            <div class="col-md-6" @*style="border:1px solid red"*@>
                                <div class="form-group">
                                    <label class="control-label col-md-4" style="padding-right:0px">
                                        From Date
                                    </label>
                                    <div class="col-md-8 input-group">
                                        <input type="text" class="form-control" name="FROM_DATE" ng-model="vm.form.FROM_DATE"
                                                style="padding-right:0px;"
                                                datepicker-popup="{{vm.dtFormat}}" is-open="vm.fromDateOpened"
                                                max-date="vm.today"
                                                datepicker-options="vm.dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn-calendar" ng-click="vm.fromDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label col-md-4" style="padding-right:0px">
                                        To Date
                                    </label>
                                    <div class="col-md-8 input-group">
                                        <input type="text" class="form-control" name="TO_DATE" ng-model="vm.form.TO_DATE"
                                                style="padding-right:0px;"
                                                datepicker-popup="{{vm.dtFormat}}" is-open="vm.toDateOpened"
                                                max-date="vm.today"
                                                datepicker-options="vm.dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn-calendar" ng-click="vm.toDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </fieldset>

                        <p></p>
                        <div class="col-md-5" style="padding-left:0px;">
                            <fieldset class=" custom-fieldset">
                                <div class="radio-list">
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="SELECTION_TYPE" ng-value="1" ng-model="SELECTION_TYPE">All Employees</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="SELECTION_TYPE"  ng-value="2" ng-model="SELECTION_TYPE">Specific Section</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="SELECTION_TYPE"  ng-value="3" ng-model="SELECTION_TYPE">Specific Team</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="SELECTION_TYPE"  ng-value="4" ng-model="SELECTION_TYPE">Specific Floor</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="SELECTION_TYPE"  ng-value="5" ng-model="SELECTION_TYPE">Specific Management Type</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="SELECTION_TYPE"  ng-value="6" ng-model="SELECTION_TYPE">Specific Employee</label>

                                </div>
                            </fieldset>
                            @*<p></p>*@
                            <fieldset class=" custom-fieldset">
                                <legend class="custom-legend">Day Type</legend>
                                <div class="radio-list">
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="DAY_TYPE" ng-value="" ng-model="vm.form.DAY_TYPE">All Days</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="DAY_TYPE" ng-value="1" ng-model="vm.form.DAY_TYPE">Working Day</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="DAY_TYPE" ng-value="2" ng-model="vm.form.DAY_TYPE">Weekly Offday</label>
                                    <label class="radio" style="padding-left:30px;"><input type="radio" name="DAY_TYPE" ng-value="3" ng-model="vm.form.DAY_TYPE">Holiday</label>
                                </div>
                            </fieldset>
                        </div>

                        @*<div class="col-md-7" style="border:1px solid blue">

                        </div>*@

                        <div class="col-md-7" style="padding-right:5px;" @*style="border:1px solid red"*@>
                            @*<div class="form-group" style="padding-bottom:22px;">
                                <label class="control-label col-md-4" style="padding-left: 0px;padding-right:0px;">
                                    Department
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="PARENT_ID" class="form-control"
                                            options="vm.parentDepartmentListData" ng-model="vm.form.PARENT_ID"></select>
                                </div>
                            </div>*@

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Company
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list id="HR_COMPANY_ID" name="HR_COMPANY_ID" class="form-control" @*ng-disabled="vm.isManagementType!=true"*@
                                            options="vm.companyList" ng-model="vm.form.HR_COMPANY_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">Office</label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list id="HR_OFFICE_ID" name="HR_OFFICE_ID" class="form-control"
                                            options="vm.officeListData" ng-model="vm.form.HR_OFFICE_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Section
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select class="form-control" name="HR_DEPARTMENT_ID" ng-model="vm.form.HR_DEPARTMENT_ID" ng-disabled="vm.isSubDepartment!=true"
                                            ng-options="Item.HR_DEPARTMENT_ID as Item.DEPARTMENT_NAME_EN for Item in vm.departmentListData">
                                        <option value="">-- Select Section --</option>
                                    </select>
                                </div>
                            </div>

                            @*<div class="form-group" style="padding-bottom: 22px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Shift Plan
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="HR_SHIFT_PLAN_ID" class="form-control"
                                            options="vm.shiftPlanListData" ng-model="vm.form.HR_SHIFT_PLAN_ID">
                                    </select>
                                </div>
                            </div>*@

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Team
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select class="form-control" name="HR_SHIFT_TEAM_ID" ng-model="vm.form.HR_SHIFT_TEAM_ID" ng-disabled="vm.isTeam!=true"
                                            ng-options="Item.HR_SHIFT_TEAM_ID as Item.SHIFT_TEAM_NAME_EN for Item in vm.shiftTeamListData">
                                        <option value="">-- Select Team --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Floor & Line
                                </label>
                                <div class="col-md-4" style="padding-right:0px;">
                                    <select class="form-control" name="LK_FLOOR_ID" ng-model="vm.form.LK_FLOOR_ID" ng-disabled="vm.isFloor!=true"
                                            ng-options="Item.LOOKUP_DATA_ID as Item.LK_DATA_NAME_EN for Item in vm.floorListData">
                                        <option value="">-- Select Floor --</option>
                                    </select>

                                </div>
                                <div class="col-md-4" style="padding-right:0px;">
                                    @*<input type="text" class="form-control" name="LINE_NO" ng-model="vm.form.LINE_NO" ng-disabled="vm.isFloor!=true" />*@
                                    <select class="form-control" name="LINE_NO" ng-model="vm.form.LINE_NO" ng-disabled="vm.isFloor!=true"
                                            ng-options="Item.LINE_NO for Item in vm.lineListData">
                                        <option value="">-- Select Line --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Management Type
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <select kendo-drop-down-list name="HR_MANAGEMENT_TYPE_ID" class="form-control" ng-disabled="vm.isManagementType!=true"
                                            options="vm.managementTypeList" ng-model="vm.form.HR_MANAGEMENT_TYPE_ID"></select>
                                </div>
                            </div>

                            <div class="form-group" style="padding-bottom:25px;">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                    Employee
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <input type="text" ng-model="vm.form.EMPLOYEE_CODE" placeholder="Search..." ng-disabled="vm.isEmployee!=true"
                                           typeahead="item.EMPLOYEE_CODE as item.EMPLOYEE_CODE for item in emoloyeeAuto($viewValue)"
                                           typeahead-min-length="3" typeahead-wait-ms="1000"
                                           typeahead-on-select="onSelectItem($item)" typeahead-loading="loadingLocations" class="form-control">
                                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>

                                    @*<select kendo-drop-down-list name="HR_EMPLOYEE_ID" class="form-control" ng-disabled="vm.isEmployee!=true"
                                    options="vm.EmployeeDataList" ng-model="vm.form.HR_EMPLOYEE_ID"></select>*@
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" style="padding-left: 0px; padding-right: 0px">
                                    <b>Note:</b> Please assign the proxy with employee shown in unassign proxy list, Otherwise they will be discarded from process.
                                </label>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-4" style="padding-left: 0px; padding-right: 0px">
                                </label>
                                <div class="col-md-8" style="padding-right:0px;">
                                    <button type="button" class="btn blue button-next" ng-click="vm.attendanceProcess(vm.form,vm.insert); model.center().open()">Process</button>
                                    @*<div kendo-window="model" id="processDiv"
                                    k-width="300"
                                    k-height="50"
                                    k-visible="false"
                                    k-pinned="true"
                                    k-modal="true"
                                    k-resizable="false"></div>*@
                                    <form class="btn" action="/Hr/HrReport/PreviewReport" method="post" target="_blank">
                                        <input type="hidden" name="REPORT_CODE" value="RPT-1010" />

                                        <button type="submit" class="btn default"><i class="fa fa-file-text-o"></i> Unassign Proxy</button>
                                    </form>

                                </div>

                            </div>



                        </div>



                        <p>&nbsp;</p>
                    </fieldset>
                    <p>&nbsp;</p>

                </div>
                <div class="col-md-4">
                </div>

            </div>

        </div>
    </div>

</div>
