<fieldset class="custom-fieldset" >
    <legend class="custom-legend">Event Permission</legend>

    <form class="form-horizontal" role="form" name="frmEventAccess" novalidate>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_CLK_DISABLED" ng-model="vm.formEvent.IS_CLK_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_CLK_DISABLED?
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_MOVE_V_DISABLED" ng-model="vm.formEvent.IS_MOVE_V_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_MOVE_V_DISABLED?
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_MOVE_H_DISABLED" ng-model="vm.formEvent.IS_MOVE_H_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_MOVE_H_DISABLED?
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_DELETE_DISABLED" ng-model="vm.formEvent.IS_DELETE_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_DELETE_DISABLED?
                    </label>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_DBL_CLK_DISABLED" ng-model="vm.formEvent.IS_DBL_CLK_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_DBL_CLK_DISABLED?
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_MOVE_DISABLED" ng-model="vm.formEvent.IS_MOVE_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_MOVE_DISABLED?
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_RESIZE_DISABLED" ng-model="vm.formEvent.IS_RESIZE_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_RESIZE_DISABLED?
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" name="IS_RIGHT_CLK_DISABLED" ng-model="vm.formEvent.IS_RIGHT_CLK_DISABLED" ng-true-value="'Y'" ng-false-value="'N'" /> IS_RIGHT_CLK_DISABLED?
                    </label>
                </div>
            </div>

            <div class="form-group">&nbsp;</div>

            <div class="form-group">
                <div class="col-md-12">

                    <button type="button" class="btn btn-sm green" ng-click="vm.save(vm.srtReason)" ng-show="vm.formEvent.GMT_PLN_EVNT_ACCESS_ID<1"
                            @*ng-disabled="(vm.srtReason.RF_SFAB_RSN_TYPE_ID==''||vm.srtReason.RF_SFAB_RSN_TYPE_ID==null||$parent.form.RF_ACTN_STATUS_ID>58)"*@>
                        Save
                    </button>
                    <button type="button" class="btn btn-sm yellow-gold" ng-click="vm.updateRow(vm.srtReason)" ng-show="vm.formEvent.GMT_PLN_EVNT_ACCESS_ID>0"
                            @*ng-disabled="(vm.srtReason.RF_SFAB_RSN_TYPE_ID==''||vm.srtReason.RF_SFAB_RSN_TYPE_ID==null||$parent.form.RF_ACTN_STATUS_ID>58)"*@>
                        Update
                    </button>
                    <button type="button" class="btn btn-sm blue" ng-click="vm.cancel()">Cancel</button>

                </div>
            </div>
        </div>


    </form>
</fieldset>

@*<div class="row" style="padding-top:5px;padding-bottom:5px">

    </div>*@

@*<div style="padding-top:5px;">
        <kendo-grid k-options="vm.reasonGridOption" k-data-source="vm.reasonGridDataSource"></kendo-grid>
    </div>*@


@*<pre>{{vm.form|json}}</pre>*@
