<div class="modal-body">
    <div id="splash-page" data-ng-show="showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
            </div>
        </div>
    </div>

    <div class="portlet grey-cascade box">
        <div class="portlet-title">
            <div style="padding-top:2px;">
                <h4 class="title">
                    Manual Line Loading => Style # : <strong>{{data.STYLE_NO}}</strong>&nbsp;&nbsp;Order # : <strong>{{data.ORDER_NO}}</strong>&nbsp;&nbsp;Buyer : <strong>{{data.BYR_ACC_NAME_EN}}</strong>&nbsp;&nbsp;Order Quantity # : <strong>{{data.ORDER_QTY}}</strong>&nbsp;&nbsp;Order Confirm: <strong>{{data.ORD_CONF_DT|date:'dd-MMM-yyyy'}}</strong>&nbsp;&nbsp;
                    Shipment: <strong>{{data.SHIP_DT|date:'dd-MMM-yyyy'}}</strong>
                    <br />
                    Line Load :# <strong style="color: darkblue;">{{data.SEW_START_DT|date:'dd-MMM-yyyy h:mma'}}</strong>&nbsp;Line Un-Load :# <strong style="color:darkblue;">{{data.SEW_END_DT|date:'dd-MMM-yyyy h:mma'}}</strong>&nbsp;
                    <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                </h4>
            </div>
        </div>
        <div class="portlet-body">
                <div class="row">
                    <form role="form" name="GmtPlanChangeForm" class="form-horizontal">

                        <div class="col-md-5">

                            <fieldset class="custom-fieldset" style="padding-top: 0px;padding-bottom: 0px;">
                                <legend class="custom-legend">Current Allocation</legend>
                                <div class="form-body clearfix">
                                    <div class="row" style="margin:auto;padding-top:10px;">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <h3 class="form-control-static"> Line: {{ data.LINE_CODE }}, Item: {{data.ITEM_NAME_EN}}, SMV: {{data.SMV}}, Allocation: {{data.ALLOCATED_QTY}},
                                                  Production: {{data.TOT_PROD}}, OP + HP: {{ data.PLAN_OP }} +  {{ data.PLAN_HP }}, Schedule: {{ data.SEW_START_DT|date:'dd-MMM-yyyy ha' }} -  {{ data.SEW_END_DT|date:'dd-MMM-yyyy ha' }}
                                                
                                                </h3>
                                            </div>
                                        </div>

                                        <div class="from-group">
                                            <div class="col-md-12">
                                                 No of Plan Change
                                                <input type="number" class="form-control" name="PLN_CHANE_NO" ng-model="FormData.PLN_CHANE_NO" readonly  />
                                            </div>
                                        </div>
                                        <div class="from-group" ng-class="{'has-error': (GmtPlanChangeForm.PLAN_CNGE_REASON.$touched || GmtPlanChangeForm.$submitted) && GmtPlanChangeForm.PLAN_CNGE_REASON.$error.required}">
                                            <div class="col-md-12">
                                                Reason of Plan Change
                                                <textarea rows="4" placeholder="Entry Comments here" name="PLAN_CNGE_REASON" ng-model="FormData.PLAN_CNGE_REASON" cols="8" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <br />
                                                <table class="table table-condensed table-striped table-bordered" style="padding:15px;">
                                                    <thead>
                                                        <tr class="site-table-header">
                                                            <th style="width: 25%">Responsible Dept</th>
                                                            <th style="width: 10%">Pct2Share</th>
                                                            <th style="width: 60%">Due to</th>
                                                            <th style="width: 5%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody style="font-weight:700">



                                                        <tr ng-repeat="(k, itm) in FormData.items">

                                                            <td style="width: 25%" ng-class="{'has-error': (RF_RESP_DEPT_ID_FORM.RF_RESP_DEPT_ID.$touched || GmtPlanChangeForm.$submitted) && ( GmtPlanChangeForm.PLN_CHANE_NO.$error.DeptDup || RF_RESP_DEPT_ID_FORM.RF_RESP_DEPT_ID.$error.required )}">
                                                                <ng-form name="RF_RESP_DEPT_ID_FORM">
                                                                    <select name="RF_RESP_DEPT_ID" id="RF_RESP_DEPT_ID"
                                                                            ng-options="option.RF_RESP_DEPT_ID as option.RESP_DEPT_NAME for option in ResDeptDs"
                                                                            ng-model="itm.RF_RESP_DEPT_ID" class="form-control" required></select>
                                                                </ng-form>
                                                            </td>
                                                            <td style="width: 10%" ng-class="{'has-error': (PCT_SHARE_FORM.PCT_SHARE.$touched || GmtPlanChangeForm.$submitted) && ( PCT_SHARE_FORM.PCT_SHARE.$error.required || GmtPlanChangeForm.PLN_CHANE_NO.$error.incorrect || PCT_SHARE_FORM.PCT_SHARE.$error.min ||  PCT_SHARE_FORM.PCT_SHARE.$error.max )}">
                                                                <ng-form name="PCT_SHARE_FORM">
                                                                    <input type="number" class="form-control" name="PCT_SHARE" ng-model="itm.PCT_SHARE" max="100" min="1" required />
                                                                </ng-form>
                                                            </td>
                                                            <td style="width: 60%">
                                                                <input type="text" class="form-control" ng-model="itm.PLAN_CNGE_REASON" />
                                                            </td>
                                                            <td style="width: 5%">

                                                                <a class="btn btn-xs btn-danger" ng-click="FormData.items.splice(k,1)" ng-if="k != 0">
                                                                    <i class="fa fa-minus"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4">
                                                                <a class="btn btn-xs btn-primary" style="float:right;" ng-click="FormData.items.push({})">
                                                                    <i class="fa fa-plus"></i> Add Record
                                                                </a>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                         </div>
                                        <div class="from-group">
                                            <div class="col-md-12">
                                                <button style="float:right;" type="button" ng-click="SaveData(FormData, GmtPlanChangeForm.$valid ); GmtPlanChangeForm.$submitted = true;" class="btn btn-sm btn-success btn-block">Mark as Plan Change</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </fieldset>

                        </div>
                        <div class="col-md-7">
                            <fieldset class="custom-fieldset" style="padding-top: 0px;padding-bottom: 0px;">
                                <legend class="custom-legend">Next Allocations</legend>
                                <p>Please Include Plans Under this Change</p>
                                <table class="table table-condensed table-striped table-bordered">
                                    <thead>
                                        <tr class="site-table-header">
                                            <th style="width: 5%">
                                                <label  class="checkbox-list" style="margin-left: 20px; margin-top: 0px;">
                                                    <span><input type="checkbox" ng-change="onSelectAll(data.IS_SELECTED)" ng-model="data.IS_SELECTED" ng-true-value="'Y'" ng-false-value="'N'"> </span>
                                                </label>
                                                 
                                            </th>
                                            <th style="width: 20%"> Style/Order</th>
                                            <th style="width: 10%"> Buyer</th>

                                            <th style="width: 10%"> Shipment</th>

                                            <th style="width: 20%">Gmt Item</th>

                                            <th style="width: 10%">Allocation</th>
                                            <th style="width: 10%">Load</th>
                                            <th style="width: 10%">Un-Load</th>

                                            <th style="width: 10%">Status</th>
                                            <th style="width: 10%">Ship D/E</th>
                                        </tr>
                                    </thead>
                                    <tbody style="font-weight:700">
                                        <tr ng-repeat="status in others_allocations" ng-class="{ 'success' : status.DAYS_DE < 0 }">
                                            <td>
                                                <label class="checkbox-list" style="margin-left: 20px; margin-top: 0px;" ng-if="status.GMT_PLN_STRIPE_PHASE_ID==2">
                                                    <span><input type="checkbox" ng-model="status.IS_SELECTED" ng-true-value="'Y'" ng-false-value="'N'"> </span>
                                                </label>
                                            </td>
                                            <td>{{status.ORDER_NO}}({{status.STYLE_NO}})</td>
                                            <td>{{status.BYR_ACC_NAME_EN}}</td>
                                            <td>{{status.SHIP_DT|date:'dd-MMM-yyyy'}}</td>
                                            <td>{{status.ITEM_NAME_EN}}</td>
                                            <td>{{status.ALLOCATED_QTY}}</td>
                                            <td>{{status.SEW_START_DT|date:'dd-MMM-yyyy ha'}}</td>
                                            <td>{{status.SEW_END_DT|date:'dd-MMM-yyyy ha'}}</td>
                                            <td ng-style="{'color': status.RGB_COL_CODE}">{{status.PLN_STRIPE_PHASE_NAME}}</td>
                                            <td>{{status.SHIP_DE}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </form>
                </div>
        </div>
    </div>
 </div>
