<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Garments</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">            
        </div>
    </div>

    <div class="portlet-body form">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:5px;">
            <div class="col-md-12">
                    <div class="col-md-2">
                        <fieldset class="custom-fieldset">
                            <legend class="custom-legend">Product Criticality</legend>
                            <div kendo-list-view k-selectable="'single'" k-data-source="vm.prodTypeDs" k-on-change="vm.onChangeProdType(dataItem)"
                                 k-on-data-bound="vm.onDataBoundProdType(kendoEvent)" style="max-height:415px;overflow:auto;">
                                <div k-template>
                                    <dd class="k-state-default" style="padding: 5px; border-bottom: solid 1px; border-color: lightgray; ">
                                        <b>{{dataItem.PRODUCT_TYP_NAME_EN}}</b>
                                    </dd>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-10">
                        <fieldset class="custom-fieldset">
                            <legend class="custom-legend">Line List</legend>

                            <div class="col-md-2" style="padding:2px;margin:auto;" ng-repeat="(idx,item) in vm.datas">
                                <table class="table table-condensed table-striped table-bordered">

                                    <thead>
                                        <tr>
                                            <th colspan="3" class="col-md-11" style="text-align: center; border-bottom: 1px solid #cecece; background-color: #818181; color: white; ">{{item.BLDNG_CODE+' || '+item.FLOOR_DESC_EN}}</th>
                                        </tr>

                                        <tr>
                                            <th class="col-md-2" style="padding:0px;">
                                                <div class="checkbox-list">
                                                    <label class="checkbox-inline" style="margin-left:20px;">
                                                        <input type="checkbox" class="checkbox" ng-model="selectAll" ng-change="vm.onChangeSelectAll(item, selectAll)" ng-true-value="'Y'" ng-false-value="'N'" />  All?
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="col-md-8" style="padding:0px;">
                                                Line
                                            </th>
                                            <th class="col-md-2" style="padding:3px;">
                                                <a title="Map Gmt Item" ng-click="vm.openGmtItemModal(item.HR_PROD_FLR_ID,-1,item.BLDNG_CODE, item.FLOOR_DESC_EN, '')" class="btn btn-xs grey-cascade"><i class="fa fa-bars"></i></a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(id,itm) in item.items">
                                            <td style="padding:0px;">
                                                <input type="checkbox" class="checkbox"  ng-model="itm.IS_ACTIVE" ng-true-value="'Y'" ng-false-value="'N'" />

                                            </td>
                                            <td style="padding:0px;" ng-click="itm.IS_ACTIVE=itm.IS_ACTIVE=='Y'?'N':'Y'">
                                                {{itm.LINE_CODE}}
                                            </td>
                                            <td style="padding:3px;">
                                                <a title="Map with GMT Item" ng-click="vm.openGmtItemModal(item.HR_PROD_FLR_ID,itm.HR_PROD_LINE_ID,item.BLDNG_CODE, item.FLOOR_DESC_EN, itm.LINE_CODE)" class="btn btn-xs" ng-class="{'blue-soft':itm.COUNT_GMT_CAT>0,'default':itm.COUNT_GMT_CAT==0}"><i class="fa fa-bars"></i></a>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>



                        </fieldset>
                        <br />
                        <div class="row" style="margin:auto;">
                            <button type="button" class="btn btn-sm green" ng-click="vm.submitData(vm.datas)">Save</button>
                            <button type="button" class="btn btn-sm default" ng-click="vm.onCancel()">Cancel</button>
                        </div>
                        <br />
                    </div>

            </div>



        </div>

    </div>
</div>


