
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Garments</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">            
        </div>
    </div>

    <div class="portlet-body form">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>

        <form class="form-horizontal" role="form" name="frmThrghPutTime" novalidate>
            <div class="form-body clearfix" style="padding-top:5px;">
                <div class="row">
                    <div class="col-md-12" >

                        <fieldset class="custom-fieldset">
                            <legend class="custom-legend">Key Information</legend>

                            <kendo-grid id="thrghPutTimeGrid" k-options="vm.thrghPutTimeGridOption" k-data-source="vm.thrghPutTimeGridDataSource" style="padding-top:0px;"></kendo-grid>

                        </fieldset>

                    </div>

                    
                    <div class="col-md-12" style="padding-top:5px" >
                        <div class="form-group">
                            <div class="col-md-7">
                                <button type="button" class="btn btn-sm green" ng-click="vm.save()" ng-class="{'disabled':!frmThrghPutTime.$valid}">Save</button>
                                @*<button type="button" class="btn btn-sm blue" ng-click="vm.reset();">Cancel</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        

        
       
    </div>
</div>


