<div class="row" style="margin: auto; padding-left: 0px; padding-right: 0px;">
    
    <div id="splash-page" data-ng-show="showSplash" class="dissolve-animation">
        <div class="page-splash">
            <div class="page-splash-message">
                <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
            </div>
        </div>
    </div>

    <form class="form-horizontal" role="form" name="frmItemOprSpec" novalidate>
        <div class="col-md-6" style="padding-left:0px;padding-right:0px;">
            <fieldset class="custom-fieldset">
                <legend class="custom-legend">Core Information</legend>

                <div class="form-group">
                    <label class="col-md-5 control-label">
                        <span aria-required="true" class="required">*</span>Fabric Group
                    </label>
                    <div class="col-md-7">                        
                        <select class="form-control" kendo-drop-down-list name="RF_FAB_CLASS_ID" k-option-label="'--Select--'"
                                k-data-text-field="'FAB_CLASS_NAME_EN'" k-data-value-field="'RF_FAB_CLASS_ID'" k-filter="'contains'"
                                k-auto-bind="'true'" k-data-source="vm.fabClassDataSource" ng-model="vm.form.RF_FAB_CLASS_ID" required></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 control-label">
                        <span aria-required="true" class="required">*</span>Garment Nature
                    </label>
                    <div class="col-md-7">
                        <select kendo-drop-down-list name="LK_GARM_TYPE_ID" class="form-control"
                                options="vm.NatureOfWorkList" id="LK_GARM_TYPE_ID" ng-model="vm.form.LK_GARM_TYPE_ID" required></select>
                    </div>
                </div>


            

                <div class="form-group">
                    <label class="col-md-5 control-label">
                        <span aria-required="true" class="required">*</span># of Operator
                    </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="NO_OF_OPR" ng-model="vm.form.NO_OF_OPR" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 control-label">
                        <span aria-required="true" class="required">*</span># of Helper
                    </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="NO_OF_HLPR" ng-model="vm.form.NO_OF_HLPR" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 control-label">
                        <span aria-required="true" class="required">*</span>SMV
                    </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="SMV" ng-model="vm.form.SMV" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 control-label">
                        <span aria-required="true" class="required">*</span>Plan Efficiency(%)
                    </label>
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="PLAN_EFICNCY" ng-model="vm.form.PLAN_EFICNCY" required />
                    </div>
                </div>

                @*<pre>{{vm.form|json}}</pre>*@
            </fieldset>

            <div class="col-md-12" style="padding-left:0px;padding-top:5px;">
                <button type="button" class="btn btn-sm green" ng-click="vm.save()" ng-class="{'disabled':!frmItemOprSpec.$valid}">Save</button>
                <button type="button" class="btn btn-sm blue" ng-click="vm.cancle()">Cancel</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @*<button type="button" class="btn btn-sm blue-hoki" ng-click="vm.backToList();">Back to List</button>*@
            </div>
        </div>

        <div class="col-md-6" style="padding-left:0px;padding-right:0px;">
            <fieldset class="custom-fieldset">
                <legend class="custom-legend">Process/Part Spec</legend>

                <div class="col-md-12">
                    <div class="form-group" style="padding-top:5px">
                        <div kendo-grid k-data-source="vm.catWiseItmOprMapGridDataSource" ng-show="false"></div>
                        @*<pre>{{vm.catWiseItmOprMapGridDataSource.data()|json}}</pre>*@

                            <table class="table table-condensed table-striped table-bordered">
                                <thead class="site-table-header">
                                    <tr style="border-bottom: 1px solid hsl(0, 0%, 87%)">
                                        <th rowspan="2">GMT Part</th>
                                        <th rowspan="2">Operation Spec</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="(key,itm) in vm.catWiseItmOprMapGridDataSource.data()" rowspan="{{itm.PART_OPR_COUNT}}">
                                        <td style="width:40%">
                                            <span class="col-md-12" style="padding-left:2px;">
                                                {{itm.GARM_PART_NAME}}
                                            </span>
                                            <a class="label label-sm label-primary" ng-click="vm.processSpecModal(itm)"><i class="fa fa-plus"></i> New Spec</a>
                                        </td>

                                        <td style="padding:0px 0px 0px 2px;width:60%">
                                            <table>
                                                <tr ng-repeat="itmOpr in itm.itemsPartOprList" >
                                                    <td>                                                      
                                                        <label class="control-label radio-inline" style="margin-left:10px" >
                                                            <span class="checked"><input type="radio" name="{{'IS_ACTIVE'+key}}" ng-model="itm.GMT_PART_OPR_SPEC_ID" ng-value="itmOpr.GMT_PART_OPR_SPEC_ID"
                                                                        ng-change="vm.onChangeItmPartOpr(itm.itemsPartOprList, itm.GMT_PART_OPR_SPEC_ID)"></span>{{itmOpr.PART_OPR_SPEC}}

                                                            <input type="checkbox" name="IS_ACTIVE" ng-model="itmOpr.IS_ACTIVE" ng-true-value="'Y'" ng-false-value="'N'" ng-show="false" />
                                                        </label>

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>

                    </div>
                </div>

            </fieldset>
        </div>
    </form>

    
</div>






@*Start For Process Specification*@
<script type="text/ng-template" id="ProcessSpecModal.html">
    <div class="modal-body">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div>
                    <p style="padding-top:10px;">
                        Process Specification
                        <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                    </p>


                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form" name="BookingRevisionModal" novalidate @*ng-submit="save(Task,token,TaskForm.$valid)"*@>
                    <input id="access_token" data-ng-model="token" type="hidden"
                           data-ng-init="token='@Session["access_token"]'" />

                    <div class="form-body clearfix" style="padding-top:5px;">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">

                                    <div class="col-md-4">
                                        <fieldset class="custom-fieldset">
                                            <legend class="custom-legend">Garments Part</legend>
                                            @*<label class="form-control-solid" style="background-color: hsl(208, 56%, 46%); color: hsl(0, 0%, 100%); font-weight: bold; width: 100%; padding-top: 5px; padding-bottom: 5px;">&nbsp;Garments Part</label>*@

                                            <div class="input-icon right" style="padding-bottom:3px;">
                                                <i class="icon-magnifier"></i>
                                                <input type="text" class="form-control form-control-solid" ng-model="qGARM_PART_NAME" placeholder="Search..." ng-change="vm.gmtPartDataSource.filter( { field:'GARM_PART_NAME', operator :'contains', value: qGARM_PART_NAME })"
                                                       ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }">
                                            </div>
                                            <div kendo-list-view k-selectable="'single'" k-data-source="vm.gmtPartDataSource" k-on-change="vm.onChangeGmtPart(dataItem)"
                                                 k-on-data-bound="vm.onDataBoundGmtPart(kendoEvent)" style="max-height:415px;overflow:auto;">
                                                <div k-template>
                                                    <dd class="k-state-default" style="padding: 5px; border-bottom: solid 1px; border-color: lightgray; ">
                                                        <b>{{dataItem.GARM_PART_NAME}}</b>
                                                    </dd>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    

                                    <div class="col-md-8">
                                        <fieldset class="custom-fieldset">
                                            <legend class="custom-legend">Process Spec</legend>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <kendo-grid id="procSpecGrid" k-options="vm.procSpecOption" k-data-source="vm.procSpecDataSource"></kendo-grid>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-sm green" ng-click="vm.save()" ng-class="{'disabled':!BookingRevisionModal.$valid}">Save</button>
                                                    <button type="button" class="btn btn-sm blue" ng-click="vm.newGmtPart()"><i class="fa fa-plus"></i> New Part</button>
                                                    @*<button type="button" class="btn btn-sm blue" ng-click="vm.reset();">Cancel</button>*@
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                </div>



                            </div>



                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
@*End For Process Specification*@