<style>
    .nav-tabs > li > a {
        margin-right: 2px;
        margin-bottom: 3px;
        font-size: 13px;
        line-height: 1.42857143;
        border: 1px solid #231f1f;
        border-radius: 4px 4px 0 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">IE</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">            
        </div>
    </div>

    <div class="portlet-body form">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>

              

        <div class="form-body clearfix">
            <div class="row" style="margin: auto; padding-left: 0px; padding-right: 0px;">

                <fieldset class="col-md-12 custom-fieldset" >
                    <legend class="custom-legend">Style Info</legend>

                    <div class="form-group">
                        <label class="col-md-1 control-label">
                            <b>Style#</b>
                        </label>
                        <div class="col-md-3">
                            @*{{vm.style.STYLE_NO}}*@
                            <input type="text" class="form-control" name="STYLE_NO" ng-model="vm.style.STYLE_NO" readonly />
                        </div>

                        <label class="col-md-1 control-label">
                            <b>Description</b>
                        </label>
                        <div class="col-md-7">
                            @*{{vm.style.STYLE_DESC}}*@
                            <input type="text" class="form-control" name="STYLE_DESC" ng-model="vm.style.STYLE_DESC" readonly />
                        </div>
                    </div>
                </fieldset>

                <p style="margin-bottom:0px">&nbsp;</p>

                <tabset>
                    <tab ng-repeat="tab in vm.tabList" deselect="tab.IS_TAB_ACT=false" select="tab.IS_TAB_ACT=true;vm.onSelect(tab)" heading="{{tab.ITEM_NAME_EN}}" active="tab.IS_TAB_ACT">
                        <div data-ui-view="TabInside{{tab.IS_TAB_ACT?'':0}}"></div>
                    </tab>
                </tabset>

            </div>
        </div>        
    </div>
</div>


