@*@model ERP.Model.HR_SCHEDULE_HModel*@

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Hr</a>

    </li>
    <li>
        <a href="#">Work Schedule</a>
    </li>
</ul>


@{
    ViewBag.Title = "Index";
}

@functions{ 
    public string GetAntiForgeryToken() 
    { 
        string cookieToken, formToken; 
        AntiForgery.GetTokens(null, out cookieToken, out formToken); 
        return cookieToken + ":" + formToken; 
    }
} 

<div class="portlet box blue-dark" ng-controller="HrScheduleController as vm">

    <input id="antiForgeryToken" data-ng-model="vm.antiForgeryToken" type="hidden"
           data-ng-init="vm.antiForgeryToken='@GetAntiForgeryToken()'" />

    <div class="portlet-title">
        <div class="caption">
            @*<i class="fa fa-gift"></i>*@ Work Schedule
        </div>
        <div class="tools">
            @*<a href="javascript:;" class="collapse">
                </a>*@
            @*<a href="#portlet-config" data-toggle="modal" class="config">
                </a>
                <a href="javascript:;" class="reload">
                </a>*@
            @*<a href="javascript:;" class="remove">
                </a>*@
        </div>
    </div>

    <div class="portlet-body form">

        
        <div class="row">

            <div class="col-md-12">
                <div data-ui-view class="shuffle-animation"></div>

                
                @*<tabset>

                    <tab ng-repeat="tab in vm.tabs" heading="{{tab.title}}" active="tab.active" ui-sref="{{tab.url}}" disabled="tab.disabled">
                        <div data-ui-view  class="shuffle-animation"></div>
                    </tab>

                </tabset>*@
                
            </div>

        </div>
    </div>
    
</div>



