@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <div class="page-content">


        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
<!-- END CONTENT -->
@if (IsSectionDefined("scripts"))
{
    @section scripts{

    }
}


@section angularscripts{
   
    <script src="~/Areas/Cutting/Client/app/config.cuttingRoute.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/services/cutttingDataService.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/directives/cutting.directives.js?v=1"></script>

    <script src="~/Areas/Cutting/Client/app/controllers/bundleStatusModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutMrkrReqController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutReportController.js?v=1"></script>    
    <script src="~/Areas/Cutting/Client/app/controllers/cutMrkr4CadController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutLayChartController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cuttingListController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutStrRcvController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutPanelInspectionModalController.js?v=1"></script> 
    <script src="~/Areas/Cutting/Client/app/controllers/cutPanelInspectionController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutPanelRecutController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutPanelRecutModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/bndlCardPrintParamController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/storeRecvController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/deliveryChallanModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/deliveryChallanSearchModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutStoreRecvPrintEmbrController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutBundleCardAmendController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutStoreRecvPrintEmbrModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutBundleCardAmendModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutRejectedPrintEmbrModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/sewingScDeliveryChallanModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutStoreRecvPrintEmbrRecvChlnModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutSewingDeliveryChallanListController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutSewingScDeliveryChallanListController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutSewingPrtEmbrChallanListController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/sewingDeliveryChallanModalController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/cutTableTgtController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/reScan4SewInputController.js?v=1"></script>
    <script src="~/Areas/Cutting/Client/app/controllers/emblsmntDelivChalnSearchModal4MergeController.js?v=1"></script>
}

