<style>
    .dropdown-header {
        border-width: 0 0 1px 0;
        text-transform: uppercase;
    }

        .dropdown-header > span {
            display: inline-block;
            padding: 10px;
        }

            .dropdown-header > span:first-child {
                width: 10px;
            }

    .selected-value {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        background-size: 100%;
        margin-right: 5px;
        border-radius: 50%;
    }

    #customers-list .k-item {
        line-height: 1em;
        min-width: 300px;
    }

    /* Material Theme padding adjustment*/

    .k-material #customers-list .k-item,
    .k-material #customers-list .k-item.k-state-hover,
    .k-materialblack #customers-list .k-item,
    .k-materialblack #customers-list .k-item.k-state-hover {
        padding-left: 5px;
        border-left: 0;
    }

    #customers-list .k-item > span {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        margin: 20px 10px 10px 5px;
    }

        #customers-list .k-item > span:first-child {
            -moz-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            -webkit-box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            box-shadow: inset 0 0 30px rgba(0,0,0,.3);
            margin: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: 100%;
            background-repeat: no-repeat;
        }

    #customers-list h3 {
        font-size: 1.2em;
        font-weight: normal;
        margin: 0 0 1px 0;
        padding: 0;
    }

    #customers-list p {
        margin: 0;
        padding: 0;
        font-size: .8em;
    }


    /*///////////////////////*/
    .k-treeview .k-in {
        padding: 5px;
    }

    #ItemCategTreeview .k-sprite {
        background-image: url("/Content/assets/global/img/coloricons-sprite.png");
    }

    .rootfolder {
        background-position: 0 0;
    }

    .folder {
        background-position: 0 -16px;
    }

    .pdf {
        background-position: 0 -32px;
    }

    .html {
        background-position: 0 -48px;
    }

    .image {
        background-position: 0 -64px;
    }

    /*.demo-section {
        float: left;
        width: 200px;
        margin: 0 60px 0 0;
    }*/
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Inventory</a>

    </li>
    <li>
        <a href="#" ng-bind="vm.Title"></a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>
    <form name="formData" class="form-horizontal" style="background-color: white;">
        <div class="portlet-body">


            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Master Data</b></legend>
                <div><label id="lblMsg"></label></div>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-1">
                        </div>
                        
                        <label class="control-label col-md-2">
                            <span aria-required="true" class="required">*</span>
                            Return To
                        </label>
                        <div class="col-md-3">

                            <select class="form-control" kendo-drop-down-list name="SCM_STORE_ID" k-option-label="'-- Select Store --'"
                                    k-data-text-field="'STORE_NAME_EN'" k-data-value-field="'SCM_STORE_ID'" k-filter="'contains'"
                                    k-auto-bind="'true'" k-options="vm.storeOptions" k-data-source="vm.storeDataSource"
                                    ng-model="vm.form.SCM_STORE_ID" required></select>
                        </div>
                        
                        <label class="col-md-2 control-label">
                            <span aria-required="true" class="required"></span>
                            Return By
                        </label>
                        <div class="col-md-3">
                            <select id="customers" kendo-drop-down-list options="vm.userList" k-ng-delay="vm.userList" ng-model="vm.form.ITEM_RTN_BY" class="form-control" style="width:100%;"></select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-1">
                        </div>
                        <label class="control-label col-md-2">
                            <span aria-required="true" class="required">*</span>
                            Return Challan No
                        </label>
                        <div class="col-md-3">
                            <input type="text" name="RTN_REF_NO" placeholder="[Auto Gen]" ng-model="vm.form.RTN_REF_NO" readonly="readonly" class="form-control" />
                            <input type="hidden" ng-model="vm.form.SCM_STR_GEN_ISS_RTN_H_ID" />
                        </div>

                        <label class="col-md-2 control-label">
                            <span aria-required="true" class="required">*</span>
                            Date of Return
                        </label>
                        <div class="col-md-2">
                            <input type="text" class="form-control required" ng-click="RTN_DT_LNopen($event)" datepicker-popup="{{vm.dtFormat}}"
                                   name="RTN_DT" max-date="vm.today" ng-model="vm.form.RTN_DT" is-open="RTN_DT_LNopened" 
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"/>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">

                        @*<div class="col-md-1"></div>

                        <label class="col-md-2 control-label">
                            <span aria-required="true" class="required"></span>
                            Return By
                        </label>
                        <div class="col-md-3">
                            <select id="customers" kendo-drop-down-list options="vm.userList" k-ng-delay="vm.userList" ng-model="vm.form.ITEM_ISS_BY" class="form-control" style="width:100%;"></select>

                        </div>*@
                        <div class="col-md-1"></div>

                        <label class="control-label col-md-2" ng-if="vm.form.SCM_STR_GEN_ISS_RTN_H_ID==0">
                            <span aria-required="true" class="required">*</span>
                            Department
                        </label>
                        <div class="col-md-3" ng-if="vm.form.SCM_STR_GEN_ISS_RTN_H_ID==0">
                            <select class="form-control" kendo-drop-down-list name="HR_DEPARTMENT_ID" k-option-label="'-- Select Department --'"
                                    k-data-text-field="'DEPARTMENT_NAME_EN'" k-data-value-field="'HR_DEPARTMENT_ID'" k-filter="'contains'"
                                    k-auto-bind="'true'" k-options="vm.departmentOptions" k-data-source="vm.departmentDataSource"
                                    ng-init="vm.form.HR_DEPARTMENT_ID='@Session["multiLoginEmpCoreDeptId"]'"
                                    ng-model="vm.form.HR_DEPARTMENT_ID" required></select>
                        </div>
                    </div>
                </div>
                <div style="padding:3px;">
                </div>

                <div class="row">
                    <div class="form-group">

                        <div class="col-md-1">
                        </div>
                        <label class="control-label col-md-2 ">
                            <span aria-required="true" class="required"></span>
                            Remarks
                        </label>
                        <div class="col-md-8">
                            <textarea id="REMARKS" name="REMARKS" ng-model="vm.form.REMARKS" class="form-control"></textarea>
                        </div>

                    </div>
                </div>

            </fieldset>
            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Srarch Data</b></legend>
                <div class="row" style="padding-left: 5px; padding-right: 5px;">

                    <div class="row">
                        <div class="form-group">

                            <div class="col-md-1">
                            </div>
                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Requisition No
                            </label>

                            <div class="col-md-2">
                                <input type="text" name="STR_REQ_NO" ng-model="vm.form.STR_REQ_NO" class="form-control" />
                            </div>

                            <label class="control-label col-md-2 ">
                                <span aria-required="true" class="required"></span>
                                Issue No
                            </label>

                            <div class="col-md-2">
                                <input type="text" name="ISS_REF_NO" ng-model="vm.form.ISS_REF_NO" class="form-control" />
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-sm green" ng-click="vm.searchIssue(vm.form)"><i class="fa fa-search"></i> Search</a>
                            </div>

                        </div>
                    </div>

                </div>

                <table style="width:100%">

                    <tr>
                        <td style="border: solid 1px black; width: 20%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                            <b>Category</b>
                        </td>
                        <td style="border: solid 1px black; width: 20%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                            <b>Item</b>
                        </td>


                        <td style="border: solid 1px black; width: 10%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                            <b>Previous Qty</b>
                        </td>
                        <td style="padding:5px;border:solid 1px black;width: 10%;">
                            <b>Issue Qty</b>
                        </td>
                        <td style="padding:5px;border:solid 1px black;width: 5%;">
                            <b>Return Qty</b>
                        </td>
                        
                        <td style="border: solid 1px black; width: 5%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                            <b>UoM</b>
                        </td>
                        <td style="border: solid 1px black; width: 15%; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; ">
                            <b>Action</b>
                        </td>

                    </tr>
                    <tr class="" ng-repeat="item in vm.IssueItemList">

                        <td style="padding:5px;border:solid 1px black;width:20%;">
                            {{item.ITEM_CAT_NAME_EN}}
                            <input type="hidden" ng-model="item.INV_ITEM_CAT_ID" />
                        </td>
                        <td style="padding:5px;border:solid 1px black;width:20%;">
                            {{item.ITEM_NAME_EN}}
                            <input type="hidden" ng-model="item.INV_ITEM_ID" />
                            <input type="hidden" ng-model="item.SCM_STR_GEN_ISS_D_ID" />
                        </td>

                        <td style="padding:5px;border:solid 1px black;width: 10%;">
                            {{item.PRE_QTY}}
                        </td>
                        <td style="padding:5px;border:solid 1px black;width: 10%;">
                            <input type="number" name="ISS_QTY" ng-model="item.ISS_QTY" min="1" class="form-control" readonly />

                        </td>
                        <td style="padding:5px;border:solid 1px black;width: 10%;">
                            <input type="number" name="RTN_QTY" ng-model="item.RTN_QTY" min="1" class="form-control doubleSub" ng-change="vm.checkReturnQty(item)" />

                        </td>
                        <td style="padding:5px;border:solid 1px black;width: 5%;">
                            {{item.MOU_CODE}}
                            <input type="hidden" ng-model="item.QTY_MOU_ID" />

                        </td>

                        <td style="padding:5px;border:solid 1px black;width: 15%; text-align:center;">
                            <a ng-if="!vm.formItem.uid" class="btn btn-sm blue" ng-click="vm.addToGrid(item)">Add</a>
                        </td>
                    </tr>
                </table>
                <div style="padding:3px;">
                </div>
            </fieldset>

            <fieldset class="custom-fieldset">
                <legend class="custom-legend"><b>Details Data</b></legend>

                <table style="width:100%" class="clsTableMtex">

                    <tr class="clstheadMtex">
                        <td class="clstdMtex">
                            <b>Item</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Item Category</b>
                        </td>

                        <td class="clstdMtex">
                            <b>Issue. Qty</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Rtn. Qty</b>
                        </td>

                        <td class="clstdMtex">
                            <b>UoM</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Rcv. Qty</b>
                        </td>
                        <td class="clstdMtex">
                            <b>Copy</b>
                            <a class="btn btn-xs yellow" ng-click="vm.copyAllRtnQty()"><i class="fa fa-arrow-right"></i></a>
                        </td>

                        <td class="clstdMtex">
                            <b>Remove</b>
                        </td>
                    </tr>
                    <tr class="" ng-repeat="item in vm.ReturnItemList">
                        <td class="clstdMtex">
                            {{item.ITEM_NAME_EN}}                      
                            <input type="hidden" ng-model="item.SCM_STR_GEN_ISS_RTN_D_ID" />
                            <input type="hidden" ng-model="item.SCM_STR_GEN_ISS_D_ID" />
                            <input type="hidden" ng-model="item.SCM_STR_GEN_ISS_RTN_H_ID" />
                            <input type="hidden" ng-model="item.INV_ITEM_CAT_ID" />
                            <input type="hidden" ng-model="item.INV_ITEM_ID" />
                        </td>
                        <td class="clstdMtex">
                            {{item.ITEM_CAT_NAME_EN}}

                        </td>
                        
                        <td class="clstdMtex">
                            <input type="hidden" ng-model="item.QTY_MOU_ID" />
                            {{item.ISS_QTY}}

                        </td>
                        <td class="clstdMtex">
                            {{item.RTN_QTY}}

                        </td>
                        <td class="clstdMtex">
                            {{item.MOU_CODE}}
                        </td>
                       

                        <td class="clstdMtex">
                            <input type="number" name="RCV_QTY" ng-model="item.RCV_QTY" class="form-control double" style="max-width:100px;" ng-change="vm.checkRcvQty(item)" />

                        </td>
                        <td class="clstdMtex">
                            <a class="btn btn-xs yellow" ng-click="vm.copyRtnQty(item)"><i class="fa fa-arrow-right"></i></a>

                        </td>

                        <td class="clstdMtex">
                            <a class="btn btn-xs red" ng-if="vm.form.IS_FINALIZED!='Y'" ng-click="vm.removeItemData(item)"><i class="fa fa-remove"></i></a>

                        </td>
                    </tr>
                </table>


            </fieldset>
        </div>
        <div style="padding:3px;">
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-sm blue" ui-sref="StrIssRtnList">Back To List</button>

                <button type="button" ng-if="vm.form.SCM_STR_GEN_ISS_RTN_H_ID>0 && vm.form.IS_FINALIZED=='N'" class="btn btn-sm yellow-gold" ng-click="vm.submitAll(vm.form,'N');">Update</button>
                <button type="button" ng-if="!vm.form.SCM_STR_GEN_ISS_RTN_H_ID>0" class="btn btn-sm green" ng-click="vm.submitAll(vm.form,'N');">Save</button>
                <button type="button" ng-if="vm.form.SCM_STR_GEN_ISS_RTN_H_ID>0" class="btn btn-sm green" ng-click="vm.printSlip(vm.form);">Print</button>
                <button type="button" class="btn btn-sm default" ui-sref="StrIssRtn({pSCM_STR_GEN_ISS_RTN_H_ID : 0, pSCM_STR_GEN_ISS_RTN_H_ID:0})" ui-sref-opts="{reload: true}">Cancel</button>
            </div>
            <div class="col-md-6">
                <button type="button" ng-if="vm.form.SCM_STR_GEN_ISS_RTN_H_ID>0 && vm.form.IS_FINALIZED=='N'" class="btn btn-sm green" ng-click="vm.submitAll(vm.form,'Y');">Finalized</button>
            </div>
        </div>
        <div style="padding:3px;">
        </div>
    </form>
</div>
