Content-Type: text/html; charset=utf-8
<html>
    <body>
        <p>Dear Concern,</p>
        <p>Your Job Card for the month of <strong>@Model.ACC_PAY_PERIOD_NAME</strong> is ready for checking. Pls, review it and contact with IT Section for any queries.</p>
        <p>Thanks.</p>
        <p>N.B. This is an ERP generated auto-mail. So no reply is required</p>
    </body>
</html>
