Content-Type: text/html; charset=utf-8
<html>
<body>
    <p>Dear Concern,</p>
    <p>Following Order has confirmed.</p>
    
    <p><strong>@Model.DESC</strong></p>
    <p><a href="http://erp.multi-fabs.com/@Model.REDIRECT_URL">Take Action</a></p>
    
    <p>N.B: No need to reply. This mail is auto generated from MultiTex ERP server.</p>
    
</body>
</html>