Content-Type: text/html; charset=utf-8


<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style media="all" type="text/css">
        table td {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    @*<h4 style="margin:5px;"><span style="color: #5e9ca0;">Excess Requisition</span></h4>*@      
    

    <p>Dear Concern</p>
    <p>A @{if (Model.data.REVISION_NO > 0){ <span>revised</span>} else{ <span>new</span>}} Bulk Fabric Booking for Buyer A/C: <b>@Model.data.BYR_ACC_NAME_EN</b>, style# <b>@Model.data.STYLE_NO</b>, order# <b>@Model.data.ORDER_NO_LST</b> has been created @{if (Model.data.REVISION_NO > 0){ <span>with revision# <b>@Model.data.REVISION_NO</b></span>}}. Please, take necessary action as soon as possible.</p>

    

    <br />
    <br />
    <span style="display: block; font-size: 10px; font-style: italic;">
        N.B: No need to reply. This mail is auto generated from MultiTex ERP server.
    </span>
   
</body>
</html>


