<style>
   #grid tr td {
        /* this makes the menu visibile */
        overflow: visible;
    }

    #grid .k-grid-header {
        padding-right: 0 !important;
    }
</style>





<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Merchandising</a>

    </li>
    <li>
        <a href="#">{{vm.Title}}</a>
    </li>
</ul>

<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body" id="PORTLET_BODY">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        

        @*<div class="row" style="padding:5px">
                <div class="col-md-1">
                    <a ui-sref="OfficeEntry({MC_BUYER_OFF_ID : null})" class="btn btn-sm blue">
                        <i class="fa fa-plus"></i> Add Order
                    </a>
                </div>
            </div>*@

        <div class="row">
            <div class="col-md-12">
                <fieldset class="custom-fieldset">
                    <legend class="custom-legend"></legend>
                    <div class="form-group">
                        <label class="col-md-1" style="padding-right:0px;">
                            Buyer A/C
                        </label>
                        
                        <div class="col-md-3">
                            <select kendo-drop-down-list name="MC_BYR_ACC_ID" class="form-control" k-filter="'contains'" k-option-label="'-- Select --'" 
                                    @*k-data-source="vm.buyerAcList"*@ k-options="vm.buyerAcList" ng-model="vm.form.MC_BYR_ACC_ID"
                                    k-data-text-field="'BYR_ACC_NAME_EN'" k-data-value-field="'MC_BYR_ACC_ID'"
                                    k-auto-bind="'true'" @*k-on-data-bound="vm.getBuyerAccWiseStyleList(kendoEvent)"*@ @*k-on-select="vm.getBuyerAccWiseStyleList(kendoEvent)"*@></select>
                        </div>

                        <label class="col-md-1" style="padding-right:0px;" >
                            Style #
                        </label>

                        <div class="col-md-3" >
                            <select kendo-drop-down-list name="MC_STYLE_H_ID" class="form-control" k-filter="'contains'" k-option-label="'-- Select --'"
                                    k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_STYLE_H_ID'" k-auto-bind="'true'"
                                    k-options="vm.styleOption" k-data-source="vm.styleDataSource" ng-model="vm.form.MC_STYLE_H_ID"></select>

                            @*<select kendo-drop-down-list name="MC_STYLE_H_EXT_ID" class="form-control" k-filter="'contains'" k-option-label="'-- Select --'" 
                                    k-data-source="vm.buyerAccWiseStyleList" ng-model="vm.form.MC_STYLE_H_EXT_ID"
                                    k-data-text-field="'STYLE_NO'" k-data-value-field="'MC_STYLE_H_EXT_ID'"
                                    k-auto-bind="'true'" k-on-select="vm.onSelectStyleExt(kendoEvent)"></select>*@
                        </div>

                        @*<label class="col-md-1" style="padding-right:0px;">
                            From
                        </label>

                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-click="vm.fromDateOpen($event)" datepicker-popup="{{vm.dtFormat}}"
                                   name="FROM_DT" ng-model="vm.form.FROM_DT" is-open="vm.fromDateOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                        </div>

                        <label class="col-md-1" style="padding-right:0px;">
                            To
                        </label>

                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-click="vm.toDateOpen($event)" datepicker-popup="{{vm.dtFormat}}"
                                   name="TO_DT" ng-model="vm.form.TO_DT" is-open="vm.toDateOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" />
                        </div>*@

                        <div class="col-md-1">
                            <button class="btn btn-sm" ng-click="vm.getBookingList()" ng-disabled="vm.form.MC_BYR_ACC_ID==null||vm.form.MC_BYR_ACC_ID==''">Show</button>
                        </div>

                        <div class="col-md-2">
                            @*<input id="access_token" data-ng-model="token" type="hidden" data-ng-init="token='@Session["access_token"]'" />*@
                            <button class="btn btn-sm blue" ng-click="vm.addNewBooking()" ng-show="@Session["multiScUserId"]!=218">Add Booking <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <br />
        @*{{vm.width}}*@
        <div @*style="padding:5px;"*@>
            @*<div kendo-grid k-options="vm.gridOptionsFabReq" k-data-source="vm.fabReqDataSource" k-selectable="true" k-on-change="selected = data" k-height="400" k-filterable="true" k-sortable="true"></div>*@
            <div kendo-grid id="grid" options="vm.gridOptionsFabReq" k-data-source="vm.fabReqDataSource"></div>            
        </div>
        @*{{vm.dtFormat}}
        <pre>{{vm.fabReqList}}</pre>*@
    </div>
</div>






