<div>
    <fieldset class="custom-fieldset" ng-disabled="$parent.form.IS_ORD_FINALIZED=='Y'">
        <legend class="custom-legend">Style & Item</legend>

        @*<pre>{{$parent.form.itemsStyle|json}}</pre>*@


        <div>
            <table class="table table-striped borderless">
                <thead>
                    <tr style="height: auto; border: none">
                        <th style="width:50%; padding: 5px 2px 5px 0px; border: none">
                            @*{{$parent.form.HAS_SET}}*@
                            @*{{$parent.form.HAS_MULTI_COL_PACK}}*@
                            <select kendo-drop-down-list name="MC_STYLE_D_ITEM_ID" class="form-control controlDisable" style="height:22px;" k-option-label="'-- Select Item --'"
                                    k-template="vm.ItemTemplate" k-value-template="vm.ItemValueTemplate" k-data-source="vm.styleItems" @*k-ng-delay="vm.styleItems"*@
                                    ng-model="vm.formItem.MC_STYLE_D_ITEM_ID" k-data-text-field="'ITEM_NAME_EN'" k-data-value-field="'MC_STYLE_D_ITEM_ID'"
                                    ng-disabled="$parent.form.IS_ORD_FINALIZED=='Y'"
                                    ng-change="vm.formItem.TOTAL_PRICE=(vm.formItem.UNIT_PRICE*vm.formItem.ORDER_QTY)"
                                    k-on-change="" k-on-select="vm.onSelectStyleItem(kendoEvent)" k-filter="'startswith'"></select>
                        </th>
                        <th style="width: 10%; padding: 5px 0px 5px 0px; border: none">
                            @*<input kendo-numerictextbox k-min="1" k-max="10" k-up-arrow-text="textUp" k-down-arrow-text="textDown">*@
                            <input type="text" id="ORDER_QTY" name="ORDER_QTY" ng-model="vm.formItem.ORDER_QTY" class="form-control controlDisable" ng-change="vm.formItem.TOTAL_PRICE=(vm.formItem.UNIT_PRICE*vm.formItem.ORDER_QTY).toFixed(2)" />
                        </th>
                        <th style="width: 10%; padding: 5px 0px 5px 0px; border: none">
                            <input type="text" name="UNIT_PRICE" ng-model="vm.formItem.UNIT_PRICE" class="form-control controlDisable" ng-change="vm.formItem.TOTAL_PRICE=(vm.formItem.UNIT_PRICE*vm.formItem.ORDER_QTY).toFixed(2)" />
                        </th>
                        <th style="width: 10%; padding: 5px 0px 5px 0px; border: none">
                            <select class="form-control controlDisable" name="QTY_MOU_ID" ng-model="vm.formItem.QTY_MOU_ID" ng-options="Item.RF_MOU_ID as Item.MOU_CODE for Item in $parent.RF_MouList">
                                <option value="">-- Select --</option>
                            </select>
                        </th>
                        <th style="width: 10%; padding: 5px 0px 5px 0px; border: none">
                            <input type="text" name="TOTAL_PRICE" ng-model="vm.formItem.TOTAL_PRICE" class="form-control" ng-disabled="true" />
                        </th>
                        <th style="width: 10%; border: none">
                            <a class="btn btn-xs blue controlReadonly" title="Add Item" ng-click="vm.styleItemAdd()">
                                <i class="fa fa-plus"></i> Add Item
                            </a>
                        </th>
                    </tr>
                    <tr @*class="row-border"*@>
                        <th style="border: 1px solid hsl(0, 0%, 87%)">Item</th>
                        <th style="border: 1px solid hsl(0, 0%, 87%)">Qty.</th>
                        <th style="border: 1px solid hsl(0, 0%, 87%)">U.Price</th>
                        <th style="border: 1px solid hsl(0, 0%, 87%)">Unit</th>
                        <th style="border: 1px solid hsl(0, 0%, 87%)">Total</th>
                        <th style="border: 1px solid hsl(0, 0%, 87%)">Action</th>
                    </tr>
                </thead>

                @*<tbody>
                        <tr style="border-bottom: 1px solid hsl(0, 0%, 87%)">
                            <td>
                                <select kendo-drop-down-list name="MC_STYLE_D_ITEM_ID" class="form-control"
                                        options="vm.StyleItemData" id="MC_STYLE_D_ITEM_ID" ng-model="$parent.formItem.MC_STYLE_D_ITEM_ID"></select>
                            </td>
                            <td scope="col">
                                <input type="text" id="ORDER_QTY" name="ORDER_QTY" ng-model="$parent.formItem.ORDER_QTY" class="form-control" ng-change="$parent.formStyle.TOTAL_PRICE=($parent.formStyle.UNIT_PRICE*$parent.formStyle.ORDER_QTY)" />
                            </td>
                            <td>
                                <select kendo-drop-down-list name="QTY_MOU_ID" class="form-control"
                                        options="vm.RF_MouList" id="STYLE_QTY_MOU_ID" ng-model="$parent.formItem.QTY_MOU_ID"></select>
                            </td>
                            <td>
                                <input type="text" name="UNIT_PRICE" ng-model="$parent.formItem.UNIT_PRICE" class="form-control" ng-change="$parent.formStyle.STYLE_TOTAL_PRICE=($parent.formStyle.UNIT_PRICE*$parent.formStyle.ORDER_QTY)" />
                            </td>
                            <td>
                                <a class="btn btn-xs blue" title="Add Item" ng-click="vm.addItemsStyleRow()">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>*@

                @*{{vm.selectedItem}}*@
                @*{{$parent.form.itemsStyle}}*@
                <tbody @*ng-repeat="itmStyle in $parent.form.itemsStyle"*@ ng-show="$parent.form.itemsStyle.length>0">
                    <tr ng-repeat-start="itmStyle in $parent.form.itemsStyle" ng-class="{'success':itmStyle.ITEM_INDEX==vm.selectedItem.ITEM_INDEX}" style="border-bottom: 1px solid hsl(0, 0%, 87%);height:auto">
                        <td style="width:50%; padding:5px 0px 5px 0px">

                            @*{{itmStyle.PARENT_ID}}*@
                            @*{{itmStyle.MC_ORDER_STYL_ID}}*@
                            <input type="hidden" name="ITEM_INDEX" ng-model="itmStyle.ITEM_INDEX" ng-bind="itmStyle.ITEM_INDEX=$index" />
                            <input type="hidden" class="form-control" name="PARENT_ITEM_ID" ng-model="itmStyle.PARENT_ITEM_ID" />
                            <input type="hidden" class="form-control" name="MC_STYLE_D_ITEM_ID" ng-model="itmStyle.MC_STYLE_D_ITEM_ID" />
                            <input type="text" class="form-control" name="ITEM_NAME_EN" ng-model="itmStyle.ITEM_NAME_EN" ng-disabled="true" />
                        </td>


                        <td style="padding: 5px 0px 5px 0px">
                            <input type="text" id="ORDER_QTY" name="ORDER_QTY" ng-model="itmStyle.ORDER_QTY" class="form-control" ng-change="itmStyle.TOTAL_PRICE=(itmStyle.UNIT_PRICE*itmStyle.ORDER_QTY)" />
                        </td>
                        <td style=" padding:5px 0px 5px 0px">
                            <input type="text" name="UNIT_PRICE" ng-model="itmStyle.UNIT_PRICE" class="form-control" ng-change="itmStyle.TOTAL_PRICE=(itmStyle.UNIT_PRICE*itmStyle.ORDER_QTY)" />
                        </td>
                        <td style="width: 10%; padding: 5px 0px 5px 0px">
                            @*<select kendo-drop-down-list name="QTY_MOU_ID" class="form-control"
                                options="vm.RF_MouList" id="QTY_MOU_ID" ng-model="itmStyle.QTY_MOU_ID"></select>*@
                            <select class="form-control" name="QTY_MOU_ID" ng-model="itmStyle.QTY_MOU_ID" ng-options="Item.RF_MOU_ID as Item.MOU_CODE for Item in $parent.RF_MouList">
                                <option value="">-- Select --</option>
                                @*<option value="{{Item.RF_MOU_ID}}" ng-repeat="Item in vm.RF_MouList">{{Item.MOU_CODE}}</option>*@
                            </select>
                        </td>

                        <td style=" padding:5px 0px 5px 0px">
                            <input type="text" id="TOTAL_PRICE" name="TOTAL_PRICE" ng-model="itmStyle.TOTAL_PRICE" class="form-control" ng-disabled="true" />
                        </td>
                        <td style="width: 10%; padding: 5px 0px 5px 5px">
                            <a class="btn btn-xs blue" title="Update Unit Price for All Size" ng-click="vm.updateDtlPrice(itmStyle)" ng-show="$parent.form.HAS_SET == 'N'">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-xs red" title="Remove Item" ng-click="vm.removeRow($index, $parent.form.itemsStyle, true)" @*ng-disabled="$parent.form.itemsStyle.length==1?true:false"*@>
                                <i class="fa fa-times"></i>
                            </a>
                            <a class="btn btn-xs green" title="Select Item" ng-click="vm.selectRow($index, $parent.form.itemsStyle, true)"
                               ng-show="$parent.form.HAS_SET == 'N'" >
                                <i class="fa fa-hand-o-left"></i>
                            </a>

                            <a class="btn btn-xs blue" ng-click="vm.selectRow($index, $parent.form.itemsStyle, true, 'itmStyleParent');vm.makeActive($parent.form.itemsStyle, $index)" ng-show="$parent.form.HAS_SET == 'Y'">
                                <i class="fa" ng-class="{'fa fa-plus-square':!itmStyle.IS_ACTIVE,'fa fa-minus-square':itmStyle.IS_ACTIVE}"></i>
                            </a>

                        </td>
                    </tr>

                    <tr>
                        <td colspan="6" ng-show="itmStyle.IS_ACTIVE && itmStyle.childItems.length>0" style="padding:0px;">
                            <table class="table table-hover borderless" style="margin-bottom:0px; padding-bottom:0px;">
                                @*table-condensed table-bordered*@
                                @*<thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Qty</th>
                                            <th>U.Price</th>
                                            <th>Unit</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>*@

                                <tbody>
                                    <tr></tr>
                                    <tr ng-repeat="itmStyleChild in itmStyle.childItems" ng-class="{'info':itmStyleChild.CHILD_ITEM_INDEX==vm.selectedChildItem.CHILD_ITEM_INDEX}" style="border-bottom: 1px solid hsl(0, 0%, 87%); height: auto;">
                                        @*background-color: #ecfe8a*@
                                        <td style="width:50%; padding: 5px 0px 5px 10px; border: none">
                                            <input type="hidden" name="ITEM_INDEX" ng-model="itmStyleChild.ITEM_INDEX" ng-bind="itmStyleChild.ITEM_INDEX=itmStyle.ITEM_INDEX" />
                                            <input type="hidden" name="CHILD_ITEM_INDEX" ng-model="itmStyleChild.CHILD_ITEM_INDEX" ng-bind="itmStyleChild.CHILD_ITEM_INDEX=$index" />
                                            @*<input type="hidden" class="form-control" name="PARENT_ID" ng-model="itmStyleChild.PARENT_ID" />*@
                                            <input type="hidden" class="form-control" name="PARENT_ITEM_ID" ng-model="itmStyleChild.PARENT_ITEM_ID" />
                                            <input type="hidden" class="form-control" name="MC_STYLE_D_ITEM_ID" ng-model="itmStyleChild.MC_STYLE_D_ITEM_ID" />
                                            <input type="text" class="form-control" name="ITEM_NAME_EN" ng-model="itmStyleChild.ITEM_NAME_EN" ng-disabled="true" />
                                        </td>
                                        <td style="width:10%; padding: 5px 0px 5px 0px; border: none">
                                            <input type="text" name="ORDER_QTY" ng-model="itmStyleChild.ORDER_QTY" class="form-control" ng-change="itmStyleChild.TOTAL_PRICE=(itmStyleChild.UNIT_PRICE*itmStyleChild.ORDER_QTY)" />
                                        </td>
                                        <td style="width:10%; padding: 5px 0px 5px 0px; border: none">
                                            <input type="text" name="UNIT_PRICE" ng-model="itmStyleChild.UNIT_PRICE" class="form-control" ng-change="itmStyleChild.TOTAL_PRICE=(itmStyleChild.UNIT_PRICE*itmStyleChild.ORDER_QTY)" />
                                        </td>
                                        <td style="width:10%; padding: 5px 0px 5px 0px; border: none">
                                            <select class="form-control" name="QTY_MOU_ID" ng-model="itmStyleChild.QTY_MOU_ID" ng-options="Item.RF_MOU_ID as Item.MOU_CODE for Item in $parent.RF_MouList">
                                                <option value="">-- Select --</option>
                                            </select>
                                        </td>
                                        <td style="width:10%; padding: 5px 0px 5px 0px; border: none">
                                            <input type="text" id="TOTAL_PRICE" name="TOTAL_PRICE" ng-model="itmStyleChild.TOTAL_PRICE" class="form-control" ng-disabled="true" />
                                        </td>
                                        <td style="width:10%; padding: 5px 0px 5px 5px; border: none">
                                            <a class="btn btn-xs blue" title="Update Unit Price for All Size" ng-click="vm.updateDtlPrice(itmStyleChild)">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn btn-xs green" title="Select Item" 
                                               ng-click="vm.selectRow($index, itmStyle.childItems, true, 'itmStyleChild')" >
                                                <i class="fa fa-hand-o-left"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr ng-repeat-end></tr>

                </tbody>
            </table>
        </div>

        @*<pre>{{vm.buyerColorList|json}}</pre>*@
        @*<pre>{{$parent.form.itemsStyle|json}}</pre>*@
        @*{{vm.shipDateList|json}}*@

        <div class="form-group" ng-show="$parent.form.itemsStyle.length>0 && vm.selectedItem!=null" style="margin-bottom:0px">
            <label class="col-md-6">
                <input type="checkbox" ng-model="vm.IS_STYLE_ALL_COLOR" ng-true-value="'Y'" ng-false-value="'N'" ng-change="vm.getSeyleAllColor()" ng-disabled="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate[0].itemsColor.length>0||$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[0].itemsShipDate[0].itemsColor.length>0"> All Color
            </label>
            <label class="col-md-5">
                Size
            </label>
        </div>

        <div class="form-group" ng-show="$parent.form.itemsStyle.length>0 && vm.selectedItem!=null">
            <div class="col-md-6">
                <oi-select oi-options="item.COLOR_NAME_EN for item in vm.buyerColorList track by item.MC_COLOR_ID"
                           ng-model="vm.MC_COLOR_ID_LST"
                           ng-disabled="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate[0].itemsColor.length>0||$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[0].itemsShipDate[0].itemsColor.length>0"
                           multiple
                           placeholder="Search..." ng-change="vm.changeStyleColorLst()">
                </oi-select>

            </div>
            <div class="col-md-5">
                <oi-select oi-options="item.SIZE_CODE for item in vm.StyleWiseSizeList track by item.MC_SIZE_ID"
                           ng-model="vm.MC_SIZE_ID_LST"
                           multiple
                           placeholder="Search...">
                </oi-select>
            </div>

            <div class="col-md-1">
                <button type="button" id="ADD_ITEM_STYLE" class="btn btn-sm blue" ng-if="$parent.form.HAS_SET=='N'" ng-click="vm.genColorSize($parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate)" title="Generate"> <i class="fa fa-send-o"></i></button>
                <button type="button" id="ADD_ITEM_STYLE" class="btn btn-sm blue" ng-if="$parent.form.HAS_SET=='Y'" ng-click="vm.genColorSize($parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate, 'itmStyleChild')" title="Generate"> <i class="fa fa-send-o"></i></button>
            </div>
        </div>


        @*<pre>{{vm.selectedItem|json}}</pre>*@

        @* Start for only Normal Item *@
        <div @*class="table-scrollable"*@ ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate[0].itemsColor.length>0 && $parent.form.HAS_SET=='N'">

            <table class="table table-condensed table-bordered">
                <thead>
                    <tr style="border-bottom: 1px solid hsl(0, 0%, 87%)">
                        <th rowspan="2">Color</th>
                        <th rowspan="2" ng-show="$parent.form.HAS_MULTI_COL_PACK=='Y'">Pack#</th>
                        <th rowspan="2" ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].COMBO_NO_LIST.length>0">Combo</th>
                        <th ng-repeat="itmSize in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate[0].itemsColor[0].itemsSize" style="text-align: center; width: 300px;">
                            {{itmSize.SIZE_CODE}}
                            @*<input type="text" name="SIZE_CODE" style="width: 100px;" ng-model="itmSize.SIZE_CODE" class="form-control" />*@
                        </th>
                        <th rowspan="2" style="width:150px;">Total Qty.</th>
                        <th rowspan="2" style="width:150px;">Action</th>
                    </tr>
                    <tr>
                        <th ng-repeat="itmSize in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate[0].itemsColor[0].itemsSize">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px; border-right: 1px solid hsl(0, 0%, 87%)">Qty</span>
                            <span class="col-md-6" style="padding-left:0px;padding-right:0px;">U.Pr</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat-start="itmShipDate in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate" style="background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); ">
                        <td colspan="{{vm.TOTAL_COL_SPAN}}" style="padding:0px;">
                            <input type="hidden" ng-model="itmShipDate.SHIP_DT_INDEX" ng-bind="itmShipDate.SHIP_DT_INDEX=$index" class="form-control" />
                            <input type="text" name="SHIP_DT_TITLE" value="Shipment-{{$index+1}}" class="form-control" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'"
                                   style="background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); " readonly />
                            @*Shipment Date-{{$index+1}}*@
                        </td>

                        <td colspan="{{vm.sizeLength+1}}" style="padding:0px;">
                            <input type="text" class="form-control" style="text-align: center; background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); "
                                   ng-click="vm.sizeShipmentDateOpen($event,$index)" datepicker-popup="{{vm.dtFormat}}"
                                   name="SHIP_DT" ng-model="itmShipDate.SHIP_DT" is-open="vm.sizeShipmentDateOpened[$index]" datepicker-options="vm.dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close"
                                   ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" />

                        <td style="padding:0px 0px 0px 2px">
                            <a class="btn btn-xs blue" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" title="Add Shipment" ng-click="vm.addRow(itmShipDate, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate, 'itemsShipDate')">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-xs red" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" title="Remove Shipment" ng-click="vm.removeRow($index, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate, true)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>

                    <tr ng-repeat="itmColor in itmShipDate.itemsColor">
                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;">
                            @*{{itmColor.COLOR_INDEX}}*@
                            <input type="hidden" ng-model="itmColor.COLOR_INDEX" ng-bind="itmColor.COLOR_INDEX=$index" class="form-control" />
                            <select kendo-drop-down-list name="MC_COLOR_ID" class="form-control"
                                    k-data-source="vm.buyerColorList" ng-model="itmColor.MC_COLOR_ID" k-data-text-field="'COLOR_NAME_EN'" k-data-value-field="'MC_COLOR_ID'"></select>
                        </td>

                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;" ng-show="$parent.form.HAS_MULTI_COL_PACK=='Y'">
                            <input type="text" name="PACK_NO" ng-model="itmColor.PACK_NO" class="form-control" />
                        </td>

                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;" ng-show="itmColor.COMBO_NO_LIST.length>0">
                            @*<input type="text" class="form-control" name="COLOR_REF" ng-model="itmColor.COLOR_REF" />*@
                            @*<input type="text" class="form-control" name="COMBO_NO" ng-model="itmColor.COMBO_NO" />*@
                            <select kendo-drop-down-list name="COMBO_NO" class="form-control" k-option-label="'-- Select --'"
                                    k-data-source="itmColor.COMBO_NO_LIST" ng-model="itmColor.COMBO_NO" k-data-text-field="'COMBO_NO'" k-data-value-field="'COMBO_NO'"
                                    k-on-change=""></select>
                        </td>


                        <td ng-repeat="itmSize in itmColor.itemsSize"
                            style="padding-left:0px;padding-right:0px;">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                <input type="hidden" ng-model="itmSize.ITEM_INDEX" ng-bind="itmSize.ITEM_INDEX=vm.selectedItem.ITEM_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.SHIP_DT_INDEX" ng-bind="itmSize.SHIP_DT_INDEX=itmShipDate.SHIP_DT_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.COLOR_INDEX" ng-bind="itmSize.COLOR_INDEX=itmColor.COLOR_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.SIZE_INDEX" ng-bind="itmSize.SIZE_INDEX=$index" class="form-control" />
                                <input type="hidden" ng-model="itmSize.MC_ORDER_STYL_ID" ng-bind="itmSize.MC_ORDER_STYL_ID=vm.selectedItem.MC_ORDER_STYL_ID" class="form-control" />
                                <input type="hidden" ng-model="itmSize.MC_COLOR_ID" ng-bind="itmSize.MC_COLOR_ID=itmColor.MC_COLOR_ID" class="form-control" />
                                <input type="hidden" ng-model="itmSize.COLOR_REF" ng-bind="itmSize.COLOR_REF=itmColor.COLOR_REF" class="form-control" />
                                <input type="hidden" ng-model="itmSize.PACK_NO" ng-bind="itmSize.PACK_NO=itmColor.PACK_NO" class="form-control" />
                                @*{{itmSize.COLOR_INDEX}}*@
                                <input type="text" class="form-control" name="SIZE_QTY" ng-model="itmSize.SIZE_QTY" ng-change="itmColor.TOTAL_QTY=vm.colorWiseTotal(itmColor);" />
                            </span>
                            <span class="col-md-6" style="padding-left:0px;padding-right:0px;">
                                <input type="text" class="form-control" name="UNIT_PRICE" ng-model="itmSize.UNIT_PRICE" style="background-color:#e9f3b2" />
                            </span>
                        </td>

                        <td style="padding-left: 0px; padding-right: 0px;">
                            <input type="text" class="form-control" name="TOTAL_QTY" ng-model="itmColor.TOTAL_QTY" readonly />
                        </td>

                        <td style="padding-left: 2px; padding-right: 0px;">
                            <a class="btn btn-xs blue" title="Add Color" ng-click="vm.addRow(itmColor, itmShipDate.itemsColor, 'itemsColor', $index)">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-xs red" title="Remove Color" ng-click="vm.removeRow($index, itmShipDate.itemsColor, true)" @*ng-disabled="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsColor.length==1?true:false"*@>
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>


                    </td>




                    </tr>

                    <tr ng-repeat-end></tr>

                    <tr style="background-color:silver">
                        <td colspan="{{vm.TOTAL_COL_SPAN}}">Item Total</td>
                        <td ng-repeat="itmSizeQty in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate[0].itemsColor[0].itemsSize" style="padding-left:0px;padding-right:0px;">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                @*<input type="text" class="form-control" value="" readonly />*@{{vm.sizeWiseSumQty(itmSizeQty, 'itmStyle')}}
                            </span>
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                @*<input type="text" class="form-control" value="{{vm.sizeWiseSumUPr(itmSizeQty)}}" readonly />*@
                            </span>
                        </td>
                        <td>{{vm.sizeGrandTotal}}</td>
                        <td></td>
                    </tr>

                </tbody>

            </table>


        </div>
        @* End for only Normal Item *@



        @*{{vm.selectedChildItem}}*@

        @* Start for Child Item *@
        <div @*class="table-scrollable"*@ ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate[0].itemsColor.length>0">

            <table class="table table-condensed table-bordered">
                <thead>
                    <tr style="border-bottom: 1px solid hsl(0, 0%, 87%)">
                        <th rowspan="2">Color</th>
                        <th rowspan="2" ng-show="$parent.form.HAS_MULTI_COL_PACK=='Y'">Pack#</th>
                        <th rowspan="2" ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].COMBO_NO_LIST.length>0">Combo</th>
                        <th ng-repeat="itmSize in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate[0].itemsColor[0].itemsSize" style="text-align:center">
                            {{itmSize.SIZE_CODE}}
                        </th>
                        <th rowspan="2">Total Qty.</th>
                        <th rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <th ng-repeat="itmSize in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate[0].itemsColor[0].itemsSize">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px; border-right: 1px solid hsl(0, 0%, 87%)">Qty</span>
                            <span class="col-md-6" style="padding-left:0px;padding-right:0px;">U.Pr</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat-start="itmShipDate in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate">
                        <td colspan="{{vm.TOTAL_COL_SPAN}}" style="padding:0px;">
                            <input type="hidden" ng-model="itmShipDate.SHIP_DT_INDEX" ng-bind="itmShipDate.SHIP_DT_INDEX=$index" class="form-control" />
                            <input type="text" name="SHIP_DT_TITLE" value="Shipment-{{$index+1}}" class="form-control" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'"
                                   style="background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); " readonly />
                            @*Shipment Date-{{$index+1}}*@
                        </td>

                        <td colspan="{{vm.sizeLength+1}}" style="padding:0px;">
                            <input type="text" class="form-control" style="text-align: center; background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); "
                                   ng-click="vm.sizeShipmentDateOpen($event,$index)" datepicker-popup="{{vm.dtFormat}}"
                                   name="SHIP_DT" ng-model="itmShipDate.SHIP_DT" is-open="vm.sizeShipmentDateOpened[$index]" datepicker-options="vm.dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close"
                                   ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" />

                        <td style="padding:0px 0px 0px 2px">
                            <a class="btn btn-xs blue" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" title="Add Shipment" ng-click="vm.addRow(itmShipDate, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate, 'itemsShipDate')">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-xs red" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" title="Remove Shipment" ng-click="vm.removeRow($index, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsShipDate, true)">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>

                    <tr ng-repeat="itmColor in itmShipDate.itemsColor">
                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;">
                            <input type="hidden" ng-model="itmColor.COLOR_INDEX" ng-bind="itmColor.COLOR_INDEX=$index" class="form-control" />
                            <input type="hidden" ng-model="itmColor.SHIP_DT_INDEX" ng-bind="itmColor.SHIP_DT_INDEX=itmShipDate.SHIP_DT_INDEX" class="form-control" />

                            <select kendo-drop-down-list name="MC_COLOR_ID" class="form-control"
                                    k-data-source="vm.buyerColorList" ng-model="itmColor.MC_COLOR_ID" k-data-text-field="'COLOR_NAME_EN'" k-data-value-field="'MC_COLOR_ID'"></select>
                        </td>

                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;" ng-show="$parent.form.HAS_MULTI_COL_PACK=='Y'">
                            <input type="text" name="PACK_NO" ng-model="itmColor.PACK_NO" class="form-control" />
                        </td>

                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;" ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].COMBO_NO_LIST.length>0">
                            <select kendo-drop-down-list name="COMBO_NO" class="form-control" k-option-label="'-- Select --'"
                                    k-data-source="itmColor.COMBO_NO_LIST" ng-model="itmColor.COMBO_NO" k-data-text-field="'COMBO_NO'" k-data-value-field="'COMBO_NO'"
                                    k-on-change=""></select>

                        </td>

                        <td ng-repeat="itmSize in itmColor.itemsSize" style="padding-left:0px;padding-right:0px;">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">

                                <input type="hidden" ng-model="itmSize.ITEM_INDEX" ng-bind="itmSize.ITEM_INDEX=vm.selectedItem.ITEM_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.SHIP_DT_INDEX" ng-bind="itmSize.SHIP_DT_INDEX=itmShipDate.SHIP_DT_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.COLOR_INDEX" ng-bind="itmSize.COLOR_INDEX=itmColor.COLOR_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.SIZE_INDEX" ng-bind="itmSize.SIZE_INDEX=$index" class="form-control" />
                                <input type="hidden" ng-model="itmSize.MC_ORDER_STYL_ID" ng-bind="itmSize.MC_ORDER_STYL_ID=vm.selectedItem.MC_ORDER_STYL_ID" class="form-control" />
                                <input type="hidden" ng-model="itmSize.MC_COLOR_ID" ng-bind="itmSize.MC_COLOR_ID=itmColor.MC_COLOR_ID" class="form-control" />
                                <input type="hidden" ng-model="itmSize.COLOR_REF" ng-bind="itmSize.COLOR_REF=itmColor.COLOR_REF" class="form-control" />
                                <input type="hidden" ng-model="itmSize.PACK_NO" ng-bind="itmSize.PACK_NO=itmColor.PACK_NO" class="form-control" />

                                <input type="text" class="form-control" name="SIZE_QTY" ng-model="itmSize.SIZE_QTY" ng-change="itmColor.TOTAL_QTY=vm.colorWiseTotal(itmColor, 'itmStyleChild');" />
                            </span>
                            <span class="col-md-6" style="padding-left:0px;padding-right:0px;">
                                <input type="text" class="form-control" name="UNIT_PRICE" ng-model="itmSize.UNIT_PRICE" style="background-color:#e9f3b2" />
                            </span>
                        </td>

                        <td style="padding-left:0px;padding-right:0px;">
                            <input type="text" class="form-control" name="TOTAL_QTY" ng-model="itmColor.TOTAL_QTY" readonly />
                        </td>

                        <td style="padding-left:2px;padding-right:0px;">
                            <a class="btn btn-xs blue" title="Add Color" ng-click="vm.addRow(itmColor, itmShipDate.itemsColor, 'itemsColor', $index)">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-xs red" title="Remove Color" ng-click="vm.removeRow($index, itmShipDate.itemsColor, true)" @*ng-disabled="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsColor.length==1?true:false"*@>
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>

                    </td>
                    </tr>

                    <tr ng-repeat-end></tr>

                    <tr style="background-color:silver">
                        <td colspan="{{vm.TOTAL_COL_SPAN}}">Item Total</td>
                        <td ng-repeat="itmSizeQty in vm.selectedChildItem.itemsShipDate[0].itemsColor[0].itemsSize" style="padding-left:0px;padding-right:0px;">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                @*<input type="text" class="form-control" value="" readonly />*@{{vm.sizeWiseSumQty(itmSizeQty, 'itmStyleChild')}}
                            </span>
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                @*<input type="text" class="form-control" value="{{vm.sizeWiseSumUPr(itmSizeQty)}}" readonly />*@
                            </span>
                        </td>
                        <td>{{vm.sizeGrandTotal}}</td>
                        <td></td>
                    </tr>

                </tbody>

            </table>
        </div>
        @* End for Child Item *@




        @* Start for only Parent & Child Item *@
        @*<pre>{{vm.parentItemShipDate|json}}</pre>*@
        <div @*class="table-scrollable"*@ ng-show="vm.parentItemShipDate[0].itemsColor.length>0">

            <table class="table table-condensed table-bordered">
                <thead>
                    <tr style="border-bottom: 1px solid hsl(0, 0%, 87%)">
                        <th rowspan="2">Color</th>
                        <th rowspan="2" ng-show="$parent.form.HAS_MULTI_COL_PACK=='Y'">Pack#</th>
                        <th rowspan="2" ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[0].COMBO_NO_LIST.length>0">Combo</th>
                        <th ng-repeat="itmSize in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[0].itemsShipDate[0].itemsColor[0].itemsSize" style="text-align:center">
                            {{itmSize.SIZE_CODE}}
                        </th>
                        <th rowspan="2">Total Qty.</th>
                        <th rowspan="2">Action</th>
                    </tr>
                    <tr>
                        <th ng-repeat="itmSize in $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[0].itemsShipDate[0].itemsColor[0].itemsSize">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px; border-right: 1px solid hsl(0, 0%, 87%)">Qty</span>
                            <span class="col-md-6" style="padding-left:0px;padding-right:0px;">U.Pr</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat-start="itmShipDate in vm.parentItemShipDate">
                        <td colspan="{{vm.TOTAL_COL_SPAN}}" style="padding:0px;">
                            <input type="hidden" ng-model="itmShipDate.SHIP_DT_INDEX" ng-bind="itmShipDate.SHIP_DT_INDEX=$index" class="form-control" />
                            <input type="text" name="SHIP_DT_TITLE" value="Shipment-{{$index+1}}" class="form-control" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'"
                                   style="background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); " readonly />
                            @*Shipment Date-{{$index+1}}*@
                        </td>

                        <td colspan="{{vm.sizeLength+1}}" style="padding:0px;">
                            <input type="text" class="form-control" style="text-align: center; background-color: hsl(30, 93%, 91%); font-weight: bold; color: hsl(282, 79%, 47%); "
                                   ng-click="vm.sizeShipmentDateOpen($event,$index)" datepicker-popup="{{vm.dtFormat}}"
                                   name="SHIP_DT" ng-model="itmShipDate.SHIP_DT" is-open="vm.sizeShipmentDateOpened[$index]" datepicker-options="vm.dateOptions"
                                   date-disabled="disabled(date, mode)" close-text="Close" ng-disabled="true"
                                   ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" />

                        <td style="padding:0px 0px 0px 2px">
                            <a class="btn btn-xs blue" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" title="Add Shipment" ng-click="vm.addRow(itmShipDate, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate, 'itemsShipDate')" ng-disabled="true">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-xs red" ng-show="$parent.form.IS_MULTI_SHIP_DT=='Y'" title="Remove Shipment" ng-click="vm.removeRow($index, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].itemsShipDate, true)" ng-disabled="true">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>

                    <tr ng-repeat="itmColor in itmShipDate.itemsColor">
                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;">
                            <input type="hidden" ng-model="itmColor.COLOR_INDEX" ng-bind="itmColor.COLOR_INDEX=$index" class="form-control" />

                            <select kendo-drop-down-list name="MC_COLOR_ID" class="form-control" readonly
                                    k-data-source="vm.buyerColorList" ng-model="itmColor.MC_COLOR_ID" k-data-text-field="'COLOR_NAME_EN'" k-data-value-field="'MC_COLOR_ID'"></select>
                        </td>

                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;" ng-show="$parent.form.HAS_MULTI_COL_PACK=='Y'">
                            <input type="text" name="PACK_NO" ng-model="itmColor.PACK_NO" class="form-control" />
                        </td>

                        <td style="padding-left: 0px; padding-right: 2px; background-color: #b8f7b9;" ng-show="$parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[0].COMBO_NO_LIST.length>0">
                            <select kendo-drop-down-list name="COMBO_NO" class="form-control" readonly k-option-label="'-- Select --'"
                                    k-data-source="itmColor.COMBO_NO_LIST" ng-model="itmColor.COMBO_NO" k-data-text-field="'COMBO_NO'" k-data-value-field="'COMBO_NO'"
                                    k-on-change=""></select>

                        </td>

                        <td ng-repeat="itmSize in itmColor.itemsSize" style="padding-left:0px;padding-right:0px;">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">

                                <input type="hidden" ng-model="itmSize.ITEM_INDEX" ng-bind="itmSize.ITEM_INDEX=vm.selectedItem.ITEM_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.COLOR_INDEX" ng-bind="itmSize.COLOR_INDEX=itmColor.COLOR_INDEX" class="form-control" />
                                <input type="hidden" ng-model="itmSize.SIZE_INDEX" ng-bind="itmSize.SIZE_INDEX=$index" class="form-control" />
                                <input type="hidden" ng-model="itmSize.MC_ORDER_STYL_ID" ng-bind="itmSize.MC_ORDER_STYL_ID=vm.selectedItem.MC_ORDER_STYL_ID" class="form-control" />
                                <input type="hidden" ng-model="itmSize.MC_COLOR_ID" ng-bind="itmSize.MC_COLOR_ID=itmColor.MC_COLOR_ID" class="form-control" />
                                <input type="hidden" ng-model="itmSize.COLOR_REF" ng-bind="itmSize.COLOR_REF=itmColor.COLOR_REF" class="form-control" />
                                <input type="hidden" ng-model="itmSize.PACK_NO" ng-bind="itmSize.PACK_NO=itmColor.PACK_NO" class="form-control" />

                                <input type="text" class="form-control" name="SIZE_QTY" ng-model="itmSize.SIZE_QTY" readonly />
                            </span>
                            <span class="col-md-6" style="padding-left:0px;padding-right:0px;">
                                <input type="text" class="form-control" name="UNIT_PRICE" ng-model="itmSize.UNIT_PRICE" style="background-color:#e9f3b2" readonly />
                            </span>
                        </td>

                        <td style="padding-left:0px;padding-right:0px;">
                            <input type="text" class="form-control" name="TOTAL_QTY" ng-model="itmColor.TOTAL_QTY" readonly />
                        </td>

                        <td style="padding-left:2px;padding-right:0px;">
                            <a class="btn btn-xs blue" title="Add Color" ng-click="vm.addRow(itmColor, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsColor, 'itemsColor', $index)" ng-disabled="true">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a class="btn btn-xs red" title="Remove Color" ng-click="vm.removeRow($index, $parent.form.itemsStyle[vm.selectedItem.ITEM_INDEX].childItems[vm.selectedChildItem.CHILD_ITEM_INDEX].itemsColor, true)" ng-disabled="true">
                                <i class="fa fa-times"></i>
                            </a>
                        </td>
                    </tr>

                    </td>
                    </tr>

                    <tr ng-repeat-end></tr>

                    <tr style="background-color:silver">
                        <td colspan="{{vm.TOTAL_COL_SPAN}}">Item Total</td>
                        <td ng-repeat="itmSizeQty in vm.parentItemShipDate[0].itemsColor[0].itemsSize" style="padding-left:0px;padding-right:0px;">
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                @*<input type="text" class="form-control" value="" readonly />*@{{vm.sizeWiseSumQty(itmSizeQty, 'itmStyleParent')}}
                            </span>
                            <span class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                @*<input type="text" class="form-control" value="{{vm.sizeWiseSumUPr(itmSizeQty)}}" readonly />*@
                            </span>
                        </td>
                        <td>{{vm.sizeGrandTotal}}</td>
                        <td></td>
                    </tr>

                </tbody>

            </table>
        </div>
        @* End for only Parent & Child Item *@
    </fieldset>


    <div class="row">
        <div class="col-md-12" style="padding-top:10px;">
            @*<div class="col-md-12" align="left">*@
            <button type="button" ng-if="$parent.form.MC_ORDER_H_ID<1" class="btn btn-sm green" ng-click="vm.submitData($parent.form,token)"
                    ng-class="{'disabled':!OrderForm.$valid||$parent.form.IS_ORD_FINALIZED=='Y'}">
                Save
            </button>
            <button type="button" ng-if="$parent.form.MC_ORDER_H_ID>0" class="btn btn-sm yellow-gold" ng-click="vm.submitData($parent.form,token)"
                    ng-class="{'disabled':!OrderForm.$valid||$parent.form.IS_ORD_FINALIZED=='Y'}">
                Update
            </button>

            <button type="button" class="btn btn-sm blue" ng-click="vm.cancel()">Cancel</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm blue-hoki" ng-click="vm.lsitView()">Back to List</button>
            @*<button type="button" class="btn btn-sm grey" ng-click="vm.cancel()">Add New Order</button>*@
            
            @*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@
            @*<button type="button" class="btn btn-sm red" ng-click="vm.orderFinalize($parent.form,token)" ng-disabled="$parent.form.MC_ORDER_H_ID<1 || $parent.form.MC_ORDER_H_ID==''">Finalize</button>*@
            <button type="button" class="btn btn-sm btn-success" ng-click="orderRevisionModal($parent.form)" ng-show="$parent.form.IS_ORD_FINALIZED=='Y'"
                    ng-disabled="$parent.form.MC_ORDER_H_ID<1 || $parent.form.MC_ORDER_H_ID==''||$parent.form.IS_ORD_FINALIZED!='Y'">
                Revise
            </button>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm purple" ng-click="vm.exportOrdData()" ng-disabled="$parent.form.MC_ORDER_H_ID<1 || $parent.form.MC_ORDER_H_ID==''">Export to Excel</button>
            <button type="button" class="btn btn-sm purple" ng-click="vm.gotoBulkBooking()" ng-disabled="$parent.form.MC_ORDER_H_ID<1" ng-if="$parent.form.MC_BLK_FAB_REQ_H_ID<1">New Bulk Booking</button>
            <button type="button" class="btn btn-sm purple" ng-click="vm.gotoBulkBooking()" ng-disabled="$parent.form.MC_ORDER_H_ID<1" ng-if="$parent.form.MC_BLK_FAB_REQ_H_ID>0">Edit Bulk Booking</button>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-sm blue" ng-click="vm.uploadDoc()" ng-disabled="$parent.form.MC_ORDER_H_ID<1 || $parent.form.MC_ORDER_H_ID==''">Upload Document</button>

            @*<a class='btn btn-sm purple' href='/Merchandising/Mrc/BulkFabBkEntry?a=93/#/bulkFabBkEntry/{{$parent.form.MC_BLK_FAB_REQ_H_ID}}/dtl' ng-disabled="vm.form.MC_ORDER_H_ID<1">Bulk Booking</a>*@

            @*</div>*@

            @*<div class="col-md-offset-1 col-md-4" >
                </div>*@

        </div>
    </div>




    <br />
    <div class="row" style="margin:auto;" ng-show="vm.errors">
        <div class="alert alert-danger" role="alert">
            @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>*@
            <div style="padding: 0px 0px 15px 25px; ">
                <b>Please fix the following errors ....</b>
            </div>
            <ul ng-repeat="field in vm.errors">
                <li ng-repeat="error in field" ng-bind="error"></li>
            </ul>
        </div>
    </div>
    @*<pre>{{vm.errors|json}}</pre>*@
</div>





@*Start For Order Revision*@
<script type="text/ng-template" id="OrderRevisionModal.html">
    <div class="modal-body">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div>
                    <p style="padding-top:10px;">
                        Order Revision
                        <span class="pull-right"><i class="fa fa-times red" ng-click="cancel()"></i></span>
                    </p>


                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form" name="OrderRevisionModal" novalidate @*ng-submit="save(Task,token,TaskForm.$valid)"*@>
                    <input id="access_token" data-ng-model="token" type="hidden"
                           data-ng-init="token='@Session["access_token"]'" />

                    @*<div kendo-grid k-data-source="asortDataList" k-columns="asortColumns" k-selectable="true" k-on-change="selected = data" k-height="300" k-filterable="true" k-sortable="true"></div>*@

                    <div class="form-group">
                        <label for="selectPeriod" class="col-md-2 control-label">
                            Rev. #
                        </label>
                        <div class="col-md-2" style="padding-top:5px;">
                            <input type="text" class="form-control" ng-model="REVISION_NO" disabled>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectPeriod" class="col-md-2 control-label">
                            <span aria-required="true" class="required">*</span>Date
                        </label>
                        <div class="col-md-4" style="padding-top:5px;">
                            <input type="text" class="form-control" ng-click="RevisionDate_LNopen($event)" datepicker-popup="{{dtFormat}}"
                                   name="REVISION_DT" ng-model="REVISION_DT" is-open="RevisionDate_LNopened"
                                   datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectPeriod" class="col-md-2 control-label">Reason</label>
                        <div class="col-md-10" style="padding-top:5px;">
                            <textarea class="form-control" ng-model="REV_REASON" rows="2"></textarea>                            
                        </div>
                    </div>

                    @*<pre>{{ProcessLossModalForm.$valid}}</pre>*@

                    <br />
                    <div class="form-group form-actions">
                        <div class="col-md-offset-2 col-md-10" >
                            <button type="button" class="btn green btn-sm" ng-click="save(token, OrderRevisionModal.$valid)" ng-class="{'disabled':!OrderRevisionModal.$valid}" ng-disabled="formInvalid">Save</button>
                            <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
@*End For Order Revision*@