<fieldset class="custom-fieldset">

    <form class="form-horizontal" role="form" name="DFINChartForm" novalidate ng-submit="vm.submitData(token)">

        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />

        <legend class="custom-legend">Dyeing Finishing Rate Chart</legend>

        <div class="row" style="padding-top:6px;padding-bottom:3px;">
            <div class="col-md-1">
                <a class="btn btn-xs blue" ng-click="addNew(vm.form)">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>
        </div>

        <kendo-grid k-data-source="vm.dataSource" k-filterable="true" k-selectable="false" k-height="300"
                    k-sortable="true" k-pageable="false" k-columns="vm.gridColumns"></kendo-grid>
        <div class="col-md-4" style="padding-top:10px; padding-bottom:10px;">
            <button type="submit" class="btn btn-sm green" ng-disabled="DFINChartForm.$invalid">Save</button>
            <button type="button" class="btn btn-sm default" ng-click="vm.cancel()">Cancel</button>
        </div>
    </form>
</fieldset>
