<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Merchandising</a>

    </li>
    <li>
        <a href="#">
            Rate Chart
        </a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <br />
        <div class="row" style="padding:5px;">
            <div class="col-md-2" style="padding-right:2.5px;">

                <fieldset class="custom-fieldset" style="padding-top: 0px;padding-bottom: 0px;">
                    <legend class="custom-legend"> Rate Chart Category </legend>
                    <ul class="nav nav-pills nav-stacked">
                        <li ui-sref-active="active" ui-sref="RateChart.Knitting">
                            <a>
                                <b>Knitting</b>
                            </a>
                        </li>

                        <li ui-sref-active="active" ui-sref="RateChart.YD">
                            <a>
                                <b>Yarn Dyeing (YD)</b>
                            </a>
                        </li>

                        <li ui-sref-active="active" ui-sref="RateChart.AOP">
                            <a>
                                <b>All Over Print (AOP)</b>
                            </a>
                        </li>

                        <li ui-sref-active="active" ui-sref="RateChart.Dyeing">
                            <a>
                                <b>Dyeing</b>
                            </a>
                        </li>

                        <li ui-sref-active="active" ui-sref="RateChart.DFin">
                            <a>
                                <b>Dyeing Finishing</b>
                            </a>
                        </li>
                    </ul>
                </fieldset>
                

             </div>
            <div class="col-md-10" style="padding-left:2.5px;">
                <div class="portlet-body" data-ui-view="sub-view"></div>
            </div>

        </div>

    </div>
</div>