<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="index.html">MultiTex ERP</a>

    </li>
    <li>
        <a href="#">Merchandising</a>

    </li>
    <li>
        <a href="#">TNA Template List</a>
    </li>
</ul>



<div class="portlet box blue-dark">
    <div class="portlet-title">
        <div class="caption" ng-bind="vm.Title">
        </div>
        <div class="tools">
        </div>
    </div>

    <div class="portlet-body">

        <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
            <div class="page-splash">
                <div class="page-splash-message">
                    <img src="~/Content/assets/global/img/ajax-loading.gif" />  <b>Please wait ....</b>
                </div>
            </div>
        </div>
        <input id="access_token" data-ng-model="token" type="hidden"
               data-ng-init="token='@Session["access_token"]'" />
        <div class="row" style="padding:5px">
            <div class="col-md-1">
                <a ui-sref="TnaTemplate.Dtl({MC_TNA_TMPLT_H_ID : 0})" class="btn btn-xs blue">
                    <i class="fa fa-plus"></i> Add New
                </a>
            </div>
        </div>

        <div style="padding:5px;">
            <kendo-grid k-options="vm.gridOptions"></kendo-grid>
        </div>

    </div>
</div>







