 @*@{
    Layout = "~/Views/Shared/_HtmlRptLayout.cshtml";    
}*@

@{
    ViewBag.Title = "Additional Fabric Booking";
}

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
    <!-- BEGIN PAGE HEAD -->

        <div class="row">            
            <div data-ui-view="AddFabBkingRpt"></div>
        </div>

    </div>
    </div>
    <!-- END CONTENT -->



@*@section angularscripts{
    
    <script src="~/Areas/Merchandising/Client/app/controllers/addFabBkingRptController.js"></script>
}*@