
@{
    ViewBag.Title = "Sample Production & Fabric Booking";
}

<div class="portlet-body" data-ui-view="SmplFabBookList"></div>
<div class="portlet-body" data-ui-view="SmplFabBookEntry"></div>
<div class="portlet-body" data-ui-view="SmplBuyerFeedback"></div>
<div class="portlet-body" data-ui-view="SmplProdEntry"></div>