
@{
    ViewBag.Title = "Style List";
}



<div class="portlet-body" data-ui-view="StyleListFabDev"></div>
<div class="portlet-body" data-ui-view="StyleHFabDev"></div>


<script type="text/ng-template" id="StyleItemImageStyleG.html">
    <div class="modal-body">
        <div class="portlet grey-cascade box">
            <div class="portlet-title">
                <div>
                    <h3 class="title">
                        
                        <span class="pull-right"><i class="fa fa-times red" ng-click="cancel(vm.form)"></i></span>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tiles">
                    <div class="tile image big"  style="height: 450px;">
                        <div class="tile-body">
                            <img data-ng-src="data:image/png;base64,{{image}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>